@import '../../style/mixins/text';
@import '../../style/variables/variables';
@import '../../style/mixins/hide';

.navigation {
  width: 100%;
  height: 5rem;
  display: flex;
  box-shadow: 0 .71rem 1.43rem $dark5;
  align-items: center;
  background: #FFFFFF;
  position: relative;
  z-index: 1;

  @media (max-width: 920px) {
    justify-content: space-between;
  }

  @media (max-width: 500px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 450px) {
    padding-bottom: 1.43rem;
  }

  &_logged {
    z-index: 0;
  }

  &_theme_en {
    & .navigation{
      &__list{
        margin: .36rem 0 0 21.2rem;
      }

      &__buttons-wrapper {
        margin: 0 0 0 2.4rem;

        @media (max-width: 1100px) {
          margin-right: .5rem;
        }

        @media (max-width: 920px) {
          margin: 0 5rem 0 0;
        }
      }

      &__button-registration-wrapper {
        width: 7rem;
      }
    }
  }

  &__logo {
    &-link {
      margin: 0 0 0 10rem;

      @media (max-width: 1100px) {
        margin: 0 0 0 2rem;
        width: 5rem;
        padding: .36rem 0 0 0;
      }

      @media (max-width: 500px) {
        margin: 0 .5rem 0 1rem;
      }

      @media (max-width: 450px) {
        margin: 0 5rem;
      }
    }

    &-link, &-image {
      @media (max-width: 800px) {
        width: 6.43rem;
      }
    }

    &-image {
      height: auto;
    }
  }

  &__list {
    @include body;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: .3rem 0 0 20.4rem;

    @media (max-width: 500px) {
      width: 50%;
    }

    &_logged {
      margin: .36rem 0 0 25rem;

      @media (max-width: 920px) {
        top: 0;
      }
    }
  }

  &__list, &_theme_en .navigation__list {
    @media (max-width: 1430px) {
      margin: 5px 0 0 15rem;
    }

    @media (max-width: 1250px) {
      margin: .36rem 0 0 4rem;
    }

    @media (max-width: 920px) {
      z-index: 10;
      display: block;
      position: absolute;
      width: 40%;
      right: 0;
      background: $purple;
      border-radius: .29rem;
      margin: 0;
      top: 0;
    }

    @media (max-width: 920px) {
      z-index: 10;
      display: block;
      position: absolute;
      width: 40%;
      right: 0;
      background: $purple;
      border-radius: .29rem;
      margin: 0;
      top: 0;

      &_logged {
        top: 0;
      }

      &_hidden {
        @include hide;
      }
    }
  }

  &__item {
    @media (max-width: 920px) {
      padding: .29rem .36rem;
    }

    &:not(:last-child) {
      margin: 0 2rem 0 0;

      &.navigation__item_type_ru {
        margin: 0 1.5rem 0 0;
      }
    }

    &_logged {
      &:not(:last-child) {
        margin: 0 2.07rem 0 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $dark50;
    line-height: 1.21rem;

    &_type_current, &:hover {
      color: $dark75;
    }

    &_type_current {
      font-weight: 700;
    }

    &_type_expand, &_type_expand-ru {
      padding:  0 1.07rem 0 0;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 1.07rem;
        height: 1.07rem;
        background: url('../../images/icon-expand.svg') no-repeat;
        right: -.29rem;
        top: .14rem;
      }
    }

    &_type_expand-ru {
      padding: 0 1.64rem 0 0;

      &::after {
        right: .21rem;
      }
    }
  }

  &__buttons-wrapper {
    margin: 0 0 0 1.57rem;

    @media (max-width: 920px) {
      margin: 0 5rem 0 0;
    }

    @media (max-width: 500px) {
      margin-right: 3rem;
    }

    @media (max-width: 450px) {
      margin: 0;
    }
  }

  &__sign-in-button-wrapper {
    display: inline-block;
    margin: 0 2.9rem 0 0;

    @media (max-width: 920px) {
      margin: .8rem 2rem 0 0;
    }
  }

  &__button-registration-wrapper{
    width: 14rem;
    height: 2.43rem;
    display: inline-block;

  }

  &__user-name {
    @include body;
    margin: 0.36rem 0 0 4.1rem;
    font-style: normal;
    position: relative;

    @media (max-width: 1430px) {
      margin: .36rem 0 0 7rem;
    }

    @media (max-width: 920px) {
      margin: .36rem 0 0 12rem;
    }

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 2.14rem;
      background: rgba(31, 32, 65, 0.1);
      left: -2.14rem;
      top: -.36rem;
    }
  }

  &__button-mobile {
    display: none;

    @media (max-width: 920px) {
      display: inline-block;
      cursor: pointer;
      width: 2.14rem;
      height: 1.5rem;
      box-shadow: 0 .14rem $purple;
      border: none;
      background: none;
      vertical-align: top;
      position: absolute;
      z-index: 100;
      right: 0;
      margin:  .6rem 1rem 0 0;
      top: 1.43rem;
      outline: none;

      &::before {
        position: absolute;
        content: '';
        width: 2.14rem;
        height: .14rem;
        background: $purple;
        left: 0;
        top: .67rem;
      }

      &::after {
        position: absolute;
        content: '';
        width: 2.14rem;
        height: .14rem;
        background: $purple;
        left: 0;
        top: -.14rem;
      }

      &:focus {
        outline: .07rem dashed $purple;
        outline-offset: .36rem;
      }
    }

    @media (max-width: 450px) {
      margin-top: 0;
    }

    &_state_open {
      @media (max-width: 920px) {
        &::before {
          background: $dark50;
          transform: rotate(45deg);
          top: .75rem;
        }

        &::after {
          background: $dark50;
          transform: rotate(-45deg);
          top: .75rem;
        }

        &:focus {
          outline: .07rem dashed $dark50;
        }
      }
    }
  }
}
