@import '../../style/mixins/text';
@import '../../style/variables/variables';
@import '../../style/mixins/hide';

.navigation {
  width: 100%;
  height: 5rem;
  display: flex;
  box-shadow: 0 .71rem 1.43rem $dark5;
  align-items: center;

  &__buttons-wrapper {
    margin: 0 0 0 1.57rem;
  }

  &__logo {
    margin: 0 0 0 9.8%;
    height: auto;
  }

  &__list {
    @include body;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: .36rem 0 0 19.8%;

    &_logged {
      margin: .36rem 0 0 24.4%;
    }

    &_hidden {
      @include hide;
    }
  }

  &__link {
    text-decoration: none;
    color: $dark50;
    line-height: 1.21rem;

    &_type_current, &:hover {
      font-weight: bold;
      color: $dark75;
    }

    &_type_expand, &_type_expand-ru {
      padding:  0 1.07rem 0 0;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 1.07rem;
        height: 1.07rem;
        background: url('./images/icon-expand.svg') no-repeat;
        right: -.29rem;
        top: .14rem;
      }
    }

    &_type_expand-ru {
      padding: 0 1.64rem 0 0;

      &::after {
        right: .21rem;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0 2rem 0 0;

      &.navigation__item_type_ru {
        margin: 0 1.5rem 0 0;
      }
    }

    &_logged {
      &:not(:last-child) {
        margin: 0 2.07rem 0 0;
      }
    }
  }

  &__user-name {
    @include body;
    margin: 0.36rem 0 0 4.3%;
    font-style: normal;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 2.14rem;
      background: rgba(31, 32, 65, 0.1);
      left: -2.14rem;
      top: -.36rem;
    }
  }

  &__button-mobile {
    display: none;
  }

  &__sign-in-button-wrapper {
    display: inline-block;
    margin: 0 3rem 0 0;
  }

  &__button-registration-wrapper{
    width: 14rem;
    height: 2.43rem;
    display: inline-block;

  }

  &_theme_en{
    & .navigation{
      &__list{
        margin: .36rem 0 0 20.6%;
      }

      &__buttons-wrapper {
        margin: 0 0 0 2.4rem;
      }

      &__button-registration-wrapper {
        width: 7rem;
      }
    }
  }
}

@media (max-width: 1430px) {
  .navigation {
    &__list {
      margin: 5px 0 0 13%;

      &_logged {
        margin: .36rem 0 0 6.2%;
      }
    }

    &__user-name {
      margin: .36rem 0 0 10%;
    }
  }
}

@media (max-width: 1250px) {
  .navigation__list {
    margin: .36rem 0 0 5%;
  }
}

@media (max-width: 1100px) {
  .navigation {
    justify-content: space-between;

    &__buttons-wrapper {
      margin-right: 1%;
    }

    &__logo {
      margin: 0 0 0 2%;
      width: 5rem;
      padding: .36rem 0 0 0;
    }
  }
}

@media (max-width: 920px) {
  .navigation {
    position: relative;
    justify-content: space-between;

    &__list {
      z-index: 10;
      display: block;
    }

    &__item {
      padding: .29rem .36rem;
    }

    &__buttons-wrapper {
      margin: 0 7% 0 0;
    }

    &__sign-in-button-wrapper {
      margin: .8rem 2rem 0 0;
    }

    &__button-mobile {
      display: inline-block;
      cursor: pointer;
      width: 2.14rem;
      height: 1.79rem;
      box-shadow: 0 .14rem $purple;
      border: none;
      background: none;
      vertical-align: top;
      position: absolute;
      z-index: 100;
      right:.36rem;
      top: 1.43rem;
      outline: none;

      &::before {
        position: absolute;
        content: '';
        width: 2.14rem;
        height: .14rem;
        background: $purple;
        left: 0;
        top: 1.07rem;
      }

      &::after {
        position: absolute;
        content: '';
        width: 2.14rem;
        height: .14rem;
        background: $purple;
        left: 0;
        top: .36rem;
      }
    }

    &__list {
      position: absolute;
      width: 40%;
      right: 0;
      background: $purple;
      border-radius: .29rem;
      margin: 3.57rem 0 0 10%;

      &_logged {
        top: 0;
      }
    }

    &__button-mobile_open {
      &.navigation__button-mobile::before {
        background: $dark50;
        transform: rotate(45deg);
      }

      &.navigation__button-mobile::after {
        background: $dark50;
        transform: rotate(-45deg);
        top: 1.07rem;
      }
    }

    &__user-name {
      margin: .36rem 0 0 15%;
    }
  }
}

@media (max-width: 800px) {
    .navigation__logo {
      width: 6.43rem;
    }
}

@media (max-width: 500px) {
    & .navigation {
      flex-wrap: wrap;
      justify-content: center;

      &__list {
        width: 50%;
      }

      &__logo {
        margin: 0 .5rem 0 1%;
      }
    }
}

@media (max-width: 450px) {
  .navigation {
    padding-bottom: 1.43rem;

    &__buttons-wrapper {
      margin: .36rem 0 0 0;
    }

    &__logo {
      margin: 0 20%;
    }
  }
}
