include ../form-element/form-element
include ../buttons/buttons

mixin sign-in

  section.sign-in
    h1.sign-in__head Войти

    +form-element({type: 'text', placeholder: 'Email',
      modifierForInput: 'for-sign-in'})

    +form-element({type: 'password', placeholder: 'Пароль',
      modifierForInput: 'for-sign-in'})

    +buttons({type: 'buy', content: 'Войти', linkModifier: 'for-sign-in'})

    span.sign-in__label Нет аккаунта на Toxin?
      +buttons({type: 'bordering-link', content: 'Создать', link: 'registration.html', linkModifier: 'for-sign-in'})
