include ../form-element/form-element
include ../buttons/buttons

mixin sign-in

  section.sign-in
    h1.sign-in__head Войти

    +form-element()(typeOfForm='text' placeholderForForm='Email'
      modifierForInput='for-sign-in')

    +form-element()(typeOfForm='password' placeholderForForm=' Пароль'
      modifierForInput='for-sign-in')

    +buttons()(typeOfButtons='buy' contentOfButtons='Войти' modifierForButtons='for-sign-in')

    span.sign-in__label Нет аккаунта на Toxin?
      +buttons()(typeOfButtons='bordering-link' contentOfButtons='Создать' linkForButtons='registration.html' modifierForButtons='for-sign-in')
