mixin ui-slider(modifier)

  - const classModifier =  modifier ? `ui-slider_${modifier}`:'';

  span.ui-slider(class=classModifier)
    div.ui-slider__label.js-ui-slider__label 5 000&#8381; - 10 000&#8381;

    div.ui-slider__range.js-ui-slider__range
