@import '../../style/mixins/text';
@import '../../style/variables/variables';

.ui-slider {
  width: 19.36rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: .1rem 0 1.6rem 0;
  }

  &__label {
    @include h3;
    color: $dark100;
    margin: 0;
  }

  &__range {
    @include h3;
    color: $dark50;
    text-align: end;
    font-weight: 400;
    margin-right: .5rem;
    cursor: pointer;
  }

  &-horizontal {
    width: 19rem;
    height: .43rem;
    border: .07rem solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: .21rem;
  }

  &-handle.ui-corner-all {
    top: -.43rem;
    width: .86rem;
    height: .86rem;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: .14rem solid #FFFFFF;
    border-radius: .71rem;
    outline: none;
    z-index: 0;
    cursor: pointer;

    &:last-child {
      left: 100%;
    }

    &:focus {
      outline: .07rem dashed #6FCF97;
      outline-offset: .21rem;
    }
  }

  &-range.ui-corner-all {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: .21rem;
    z-index: 0;
  }
}
