mixin ui-slider(label)

  div.ui-slider.js-ui-slider
    div.ui-slider__wrapper
      div.ui-slider__label=label
      div.ui-slider__range.js-ui-slider__label 5 000&#8381; - 10 000&#8381;

    div.ui-slider__range.js-ui-slider__range
