@import "../../style/mixins/text";
@import "../../style/variables/variables";

.ui-slider{
  width: 19.36rem;
  &-horizontal{
    width: 19rem;
    height: .43rem;
    border: .07rem solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: .21rem;
  }

  &-handle.ui-corner-all{
    top: -.43rem;
    width: .86rem;
    height: .86rem;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: .14rem solid #FFFFFF;
    border-radius: .71rem;
    outline: none;
    z-index: 0;
    &:last-child{
      left: 100%;
    }
  }

  &-range.ui-corner-all{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: .21rem;
    z-index: 0;
  }

  &_for-side-panel #{&}__label{
    display: inline-block;
    width: 8.57rem;
    margin: 0 0 0 1.79rem;
  }

  &__label{
    @include h3;
    color: $dark50;
    text-align: end;
    margin: 0 0 1.71rem 0;
    font-weight: normal;
  }
}
