.demo-cards {
  background: #F4F4F6;
  padding-bottom: 7.14rem;

  &__logo {
    margin: 2.14rem 0 0 2.14rem;
  }

  &__wrapper {
    margin: 5.14rem 10rem 0 10rem;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1000px) {
      margin-left: 2rem;
    }
  }

  &__column:not(:last-child) {
    margin-right: 2.86rem;

    @media (max-width: 1120px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__element-wrapper {
    margin-bottom: 2.86rem;
  }
}
