@import "../../style/mixins/hide";
@import "../../style/variables/variables";
@import "../../style/mixins/text";

.radio{
  &_for-ui{
    margin-left: .71rem;
  }

  &__field{
    @include hide;
  }
  &__mark{
    position: relative;
    @include body;
    color: rgba(31, 32, 65, 0.5);
    padding:  .21rem 0 0 1.43rem;
    margin: 0 2.14rem 0 0;
    &::before{
      position: absolute;
      content: '';
      width: 1.43rem;
      height: 1.43rem;
      border: .07rem solid $dark25;
      box-sizing: border-box;
      border-radius: .71rem;
      left: -.64rem;
      top: -.07rem;
    }
    &_for-registration{
      padding: 0 0 0 1.5rem;

      &::before{
        top: -.29rem;
      }
    }
  }

  &__field:checked + &__mark{
    color: rgba(31, 32, 65, 0.75);
    &::after{
      position: absolute;
      content: '';
      width: .86rem;
      height: .86rem;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: .71rem;
      left: -.36rem;
      top: .21rem;
    }
    &::before{
      border: .07rem solid $purple;
    }
    &_for-registration{
      &::after{
        top: 0;
      }
    }
  }
}
