include ../form-element/form-element

mixin datepicker-range(defaultDate)

  +form-element('dropdown', defaultDate, 'form-element__field_for-datepicker-range js-form-element__field_for-datepicker-range')

  +form-element('dropdown', defaultDate, 'form-element__field_for-hide-datepicker js-form-element__field_for-hide-datepicker',
    'form-element_for-hide-datepicker')
