@import "../mixins/hide";
@import "../variables/variables";
@import "../mixins/text";

.sum-guests{
  margin: 22px 0 0 0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  &__label::after{
    top: 4px;
  }
  &_for-order{
    margin: 20px 0 0 3px;
  }

  &__popup_hide{
    @include hide;
  }

  &__popup{
    width: 320px;
    margin-top: 61px;
    border: 1px solid $dark50;
    box-sizing: border-box;
    box-shadow: 0 10px 20px $dark5;
    border-radius: 0 0 4px 4px;
    background: #FFFFFF;
    position: absolute;
    z-index: 100;
    padding: 0 0 10px 0;
  }

  &_for-filter{
    .sum-guests__popup{
      width: 266px;
    }
  }

  &__type-visitors{
    margin: 12px 0 10px 15px;
  }

  &__container{
    display: flex;
    justify-content: space-between;
  }

  &__button{
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 22px;
    color: $dark50;
    background: #FFFFFF;
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
    outline: none;
  }

  &__number-of-visitors{
    color: #1F2041;
    margin: 0 12px;
  }

  &__number-of-visitors-wrapper{
    margin: 4px 6px 0 0;
  }

  &__buttons-footer-container{
    display: flex;
    justify-content: space-between;
    margin: 16px 0 0 2px;
  }

  &_for-main-ui{
    margin: 0 0 10px 0;
    & .sum-guests__popup{
      margin-top: 43px;
    }
    & .form-element_for-guests{
      margin-top: 0;
    }
  }
}

@media (max-width: 1100px) {
  .sum-guests__popup{
    width: 260px;
  }
}
