@import "../mixins/input";
@import "../mixins/hide";
@import "../common/variables";
@import "../mixins/text";

.sum-guests{
  margin: 22px 0 0 0;
  font-weight: bold;
  & .sum-guests__input{
    width: 320px;
  }
  & .sum-guests__input::placeholder{
    text-transform: none;
  }
  & .sum-guests__label::after{
    top: 4px;
  }
}
.sum-guests__popup_hide{
  @include hide;
}
.sum-guests__popup{
  width: 320px;
  border: 1px solid $dark50;
  box-sizing: border-box;
  box-shadow: 0 10px 20px $dark5;
  border-radius: 0 0 4px 4px;
  background: #FFFFFF;
  position: absolute;
  z-index: 100;
  padding: 0 0 10px 0;
}
.sum-guests_for-filter{
  .sum-guests__popup{
    width: 266px;
  }
}
.sum-guests__type-visitors{
  margin: 12px 0 10px 15px;
}
.sum-guests__container{
  display: flex;
  justify-content: space-between;
}
.sum-guests__button{
  border: 1px solid $dark25;
  box-sizing: border-box;
  border-radius: 22px;
  color: $dark50;
  background: #FFFFFF;
  width: 30px;
  height: 30px;
  margin-bottom: 4px;
}
.sum-guests__number-of-visitors{
  color: #1F2041;
  margin: 0 12px;
}
.sum-guests__number-of-visitors-wrapper{
  margin: 4px 6px 0 0;
}
.sum-guests__buttons-footer-container{
  display: flex;
  justify-content: flex-end;
  margin: 16px 0 0 2px;
}

@media (max-width: 1100px) {
  .sum-guests__popup{
    width: 260px;
  }
}
