@import '../../style/variables/variables';
@import '../../style/mixins/text';
@import '../../style/mixins/hide';

.ui-control {
  display: inline-block;
  width: 100%;
  font-size: .86rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 1.57rem;
  @include h3;
  cursor: pointer;

  &:focus {
    outline: .07rem dashed #BC9CFF;
    outline-offset: .21rem;
  }

  &_type_link {
    text-decoration: none;
    text-align: center;
}

&_theme_border, &_theme_navigation-with-border{
  position: relative;
  background: #FFFFFF;
  line-height: 1.71rem;
  color: $purple;
  padding: .6rem 0;

  &::before{
    position: absolute;
    content: '';
    width: calc(100% + .29rem);
    height: calc(100% + .29rem);
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 1.57rem;
    z-index: -10;
    top: -.14rem;
    left: -.14rem;
  }

  &:hover::before {
    background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%,
            rgba(139, 164, 249, .5) 100%);
  }

  &.ui-control{
    &_type_link{
      text-align: center;
    }
  }
}

&_theme_navigation-with-border{
  &.ui-control{
    &_type_link{
      padding: .26rem .66rem;
    }

    &::before{
      height: 2.43rem;
    }
  }
}


&_theme_filled, &_theme_navigation {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #FFFFFF;
  padding: 1.07rem 0;

  &:hover {
    background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%,
            rgba(139, 164, 249, .5) 100%);
  }

  &.ui-control_for-sign-in{
    padding: 1.07rem 9.9rem;
  }
}

&_theme_navigation{
  padding: 0.72rem 0;
}

&_width-arrow {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 3.14rem;
    height: 3.14rem;
    background: url('../../images/icon-arrow-white.svg') no-repeat;
    right: -1rem;
    top: 1rem;
  }
}

&_type_button{
  border: none;
  border-radius: 1.57rem;
  outline: none;
}

  &_theme_transparent {
    color: #BC9CFF;;
    background: #FFFFFF; 
    padding: 0;
    width: auto;

    &:hover {
      color: rgba(31, 32, 65, 0.5);
    }
  }

  &_theme_like, &_theme_gray {
    position: relative;
    padding: .1rem 0 0 .6rem;
    border-radius: .71rem;
    font-weight: normal;
    font-size: .71rem;
    width: 2.71rem;
    height: 1.29rem;
    box-sizing: border-box;
    color: $purple;
    background: #FFFFFF;
    display: block;

    &::before {
      position: absolute;
      content: '';
      width: 2.86rem;
      height: 1.43rem;
      border-radius: 1.57rem;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      z-index: -10;
      top: -.072rem;
      left: -.07rem;
    }

    &::after, &:hover::after {
      position: absolute;
      content: '';
      width: .71rem;
      height: .57rem;
      background: url('./images/icon-favorite.svg') no-repeat;
      left: .21rem;
      top: .36rem;
      z-index: 1;
    }
  }

  &_theme_gray {
    color: $dark25;

    &::before {
      background: $dark25;
    }

    &::after, &:hover::after {
      background: url('./images/icon-favorite-border.svg') no-repeat;
    }
  }

  &_hidden {
    @include hide;
  }

  &_color_gray{
    color: $dark50;
  }
}
