@import '../../style/variables/variables';
@import '../../style/mixins/text';
@import '../../style/mixins/hide';
@import '../../style/mixins/button';

.ui-control {
  display: inline-block;
  outline: none;

  &_type_link {
    text-decoration: none;
    text-align: center;
}

&_theme_border, &_theme_navigation-with-border{
  position: relative;
  background: #FFFFFF;
  border-radius: 1.57rem;
  @include h3;
  line-height: 1.71rem;
  color: $purple;
  padding: .6rem 0;
  width: 100%;

  &::before{
    position: absolute;
    content: '';
    width: calc(100% + .29rem);
    height: calc(100% + .29rem);
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 1.57rem;
    z-index: -10;
    top: -.14rem;
    left: -.14rem;
  }

  &:hover::before {
    background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%,
            rgba(139, 164, 249, .5) 100%);
  }

  &.ui-control{
    &_type_link{
      text-align: center;
    }
  }
}

&_theme_navigation-with-border{
  &.ui-control{
    &_type_link{
      padding: .26rem .66rem;
    }

    &::before{
      height: 2.43rem;
    }
  }
}


&_theme_filled, &_theme_navigation {
  @include button(linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%), #FFFFFF);

  &:hover {
    background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%,
            rgba(139, 164, 249, .5) 100%);
  }

  &.ui-control_for-sign-in{
    padding: 1.07rem 9.9rem;
  }
}

&_theme_navigation{
  padding: 0.72rem 0;
}

&_width-arrow {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 3.14rem;
    height: 3.14rem;
    background: url('./images/icon-arrow-forward.svg') no-repeat;
    right: -1rem;
    top: 1rem;
  }
}

&_type_button{
  border: none;
  border-radius: 1.57rem;
}

  &_theme_transparent {
    @include button(#FFFFFF, #BC9CFF);
    padding: 0;
    width: auto;

    &:hover {
      color: rgba(31, 32, 65, 0.5);
    }
  }

  &_with-link#{&}_for-navigation {
    height: 2.5rem;
    padding: .71rem 1.79rem;
  }

  &_theme_like {
    @include button-like(linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%),
     url('./images/icon-favorite.svg') no-repeat, $purple);
  }

  &_theme_gray {
    @include button-like($dark25, url('./images/icon-favorite-border.svg') no-repeat,
      $dark25);
  }

  &_hidden {
    @include hide;
  }

  &_color_gray{
    color: $dark50;
  }
}
