include ../search-room/search-room
include ../form-element/form-element
include ../checkbox/checkbox
include ../radio/radio
include ../toggle/toggle
include ../ui-slider/ui-slider
include ../pagination/pagination
include ../rate/rate
include ../bullet-list/bullet-list
include ../review/review
include ../features/features
include ../registration/registration
include ../order-room/order-room
include ../card-room/card-room
include ../navigation/navigation
include ../copyright/copyright
include ../footer/footer
include ../footer-widget/footer-widget
include ../sign-in/sign-in
include ../sum-guests/sum-guests

-
  const data = require('../blocks/main-ui/main-ui.json');

  const { radioLabels, radioIds, checkbox, checkboxExpandable, checkboxRich,
   bulletList, orderRoom, features, navigation, footerWidget } = data;

  const cardRoomImagesFirst = [
    require('../img/image-room-888.jpg'), require('../img/image-room-982.jpg'), require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')
  ];

  const cardRoomImagesSecond = [
    require('../img/image-room-840.jpg'), require('../img/image-room-982.jpg'), require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')
  ];

  const { items, linkModifier } = navigation;

  const valuesForLogin = { items, linkModifier, type: 'default', loginName: 'login', registrationName: 'register',
    modifier: 'theme_en' };

  const valuesForLoggedIn = { items, linkModifier, type: 'loggedIn',
   userName: 'Cosmin Negoita' };

mixin main-ui()

  main.main-ui

    div.main-ui__form
      div.main-ui__form-wrapper
        +form-element({
          type: 'default', placeholder: 'email',
          modifierForLabel: 'for-main-ui', modifierForInput: 'for-main-ui'
        })
        +sum-guests({label: 'Сколько гостей', modifier: 'for-main-ui'})
        +form-element({
          type: 'masked', placeholder: 'дд.мм.гггг',
          modifierForLabel: 'for-main-ui', modifierForInput: 'for-main-ui'
        })
        +ui-datepicker({type: 'single', placeholder: 'дд.мм.гггг', modifierForLabel: 'for-main-ui',
        modifierForInput: 'for-main-ui'})
        +ui-datepicker({
          type: 'range', defaultDate: '19 авг - 23 авг', modifierForLabel: 'for-main-ui',
          modifierForInput: 'for-main-ui'
        })
        +form-element({
          type: 'subscription', placeholder: 'email',
          modifierForLabel: 'for-main-ui', modifierForInput: 'for-main-ui'
        })

      div.main-ui__form-wrapper
        +checkbox(checkbox)
        div.main-ui__radio-wrapper
          +radio({values: radioLabels, id: radioIds, modifier: 'for-ui'})
        div.main-ui__toggle-wrapper
          +toggle({
            label: 'Получать спецпредложение', id: 'toggle',
            modifier: 'for-ui'
          })

        div.main-ui__button-rate-wrapper
          +ui-control({isBorder: true, content: 2, type: 'gray'})
        div.main-ui__button-rate-wrapper
          +ui-control({isBorder: true, content: 12, type: 'like'})

        div.main-ui__rates-wrapper
          div.main-ui__rate-wrapper
            +rate(4)
          div.main-ui__rate-wrapper
            +rate(5)

      div.main-ui__form-wrapper

        div.main-ui__range-wrapper
          +ui-slider

        div.main-ui__buttons-wrapper.main-ui__buttons-wrapper_size_default
          +ui-control({ content: 'click me', type: 'filled'})

        div.main-ui__buttons-wrapper.main-ui__buttons-wrapper_size_small
          +ui-control({content: 'click me', type: 'border'})

        div.main-ui__buttons-wrapper.main-ui__buttons-wrapper_size_default
          +ui-control({content: 'click me', type: 'transparent'})

        div.main-ui__buttons-wrapper
          +ui-control({ content: 'перейти к оплате', type: 'filled', isArrow: true})
        +pagination({value: 15})

      div.main-ui__form-wrapper
        div.main-ui__checkbox-wrapper
          +checkbox(checkboxExpandable)

      div.main-ui__form-wrapper
        +checkbox(checkboxRich)

      div.main-ui__form-wrapper
        +bullet-list(bulletList)

      div.main-ui__form-wrapper.main-ui__form-wrapper_review
        +features(features)

        +review({
          head: 'Мурад Сарафанов', date: '5 дней назад',
          description: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
          path: require('../blocks/main-ui/images/icon-avatar-1.png'),
          numberOfLikes: 12, typeOfButton: 'like'
        })

    div.main-ui__cards

      div.main-ui__card-wrapper
        +searchRoom
        div.main-ui__registration-wrapper
          +registration()

      div.main-ui__card-wrapper
        +order-room(orderRoom)
        +sign-in

      div.main-ui__card-wrapper

        +card-room({
          images: cardRoomImagesFirst, radioName: 'room-radio-name-1',
          type: 'luxe', numberOfRoom: 888, price: '9 900',
          numberOfReviews: 145, numberOfRate: 5
        })

        +card-room({
          images: cardRoomImagesSecond, radioName: 'room-radio-name-2',
          type: 'normal', numberOfRoom: 840, price: '9 900', numberOfReviews: 65,
          numberOfRate: 4
        })

    div.main-ui__headers-footers

      +navigation(valuesForLogin)
      +navigation(valuesForLoggedIn)

      +footer
      +footer-widget(footerWidget)
