.main-ui{
  &__form, &__cards{
    display: flex;
    flex-wrap: wrap;
  }

  &__form-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px 0 20px 50px;
    width: 320px;
    & .main-ui__range-wrapper,
    .main-ui__checkbox-wrapper{
      margin: 0 0 20px 0;
    }
    & .main-ui__buttons-wrapper{
      margin: 0 0 20px 0;
      display: flex;
      width: 100%;
    }
    &_review{
      width: 780px;
    }
  }

  &__rate-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 4px;
  }

  &__card-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px 0 20px 50px;
    width: 400px;
  }

  &__headers-footers{
    margin-top: 20px;
  }
}

