include ../search-room/search-room
include ../buttons/buttons
include ../form-element/form-element
include ../checkbox/checkbox
include ../radio/radio
include ../toggle/toggle
include ../ui-slider/ui-slider
include ../pagination/pagination
include ../rate/rate
include ../bullet-list/bullet-list
include ../review/review
include ../features/features
include ../registration/registration
include ../order-room/order-room
include ../card-room/card-room
include ../navigation/navigation
include ../copyright/copyright
include ../footer/footer
include ../footer-widget/footer-widget
include ../sign-in/sign-in
include ../sum-guests/sum-guests

-const checkboxData = {values: ['Можно курить', 'Можно с питомцами',
-'Можно пригласить гостей (до 10 человек)'], type: 'checkbox'};

-const checkboxExpandableData = {values: ['Завтрак', 'Письменный стол', 'Стул для кормления',
-'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь'], type: 'checkboxExpandable',
-head: 'expandable checkbox list'};

-const checkboxRichData = {values: [{label:'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.'},
-{label: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист и проводит до номера.'}],
-type: 'rich'};

-const arrRadio = ['Terran', 'Protoss'];

-const arrRadioId = ['terran', 'protoss'];

-const bulletListData = {values: ['Нельзя с питомцами',
-'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']};

-const arrFeatures = [{slogan: 'Комфорт', description: 'Шумопоглощающие стены'},
-{slogan: 'Удобство', description: 'Окно в каждой из спален'}];

-const totalValue = ['9 990₽ х 4 суток', 'Сбор за услуги: скидка 2 179₽',
-'Сбор за дополнительные услуги'];

-const totalPrice = ['39 960₽', '0₽', '300₽'];

-const arrPathImage1 = [require('../img/image-room-888.jpg'),
-require('../img/image-room-982.jpg'), require('../img/image-room-350.jpg'),
-require('../img/image-room-444.jpg')];

-const arrPathImage2 = [require('../img/image-room-840.jpg'),
-require('../img/image-room-982.jpg'), require('../img/image-room-350.jpg'),
-require('../img/image-room-444.jpg')];

-const navigationValues ={items: ['Home', 'About Us', 'Services', 'Careers',
-'News', 'Documentation'], linkModifier: ['current', , 'expand', , ,]};

-const { items, linkModifier } = navigationValues;

-const valuesForLogin = { items, linkModifier, type, loginName: 'login', registrationName: 'register', type: 'standart' };

-const valuesForLoggedIn = { items, linkModifier, type: 'loggedIn', userName: 'Cosmin Negoita' };

-const footerWidgetData = {description:
-'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
-navigationItems: ['About Us', 'News', 'Support', 'Products'], aboutItems: ['Who we are',
-'Our team', 'Careers', 'Investors'], supportItems: ['Documentation', 'Community',
-'Get in Touch'], subscribeDescription: 'Receive our latest news and promotions in your inbox!',
-headNavigation: 'Navigation', headAbout: 'about us', headSubscribe: 'Subscribe to our newsletter',
-headSupport:'support', placeholderEmail:'Your email address',
-copyrightText:'Copyright © 2018 Toxin UI Kit. All rights reserved.'};

mixin main-ui()

  main.main-ui

    div.main-ui__form
      div.main-ui__form-wrapper
        +form-element({
          type: 'text', placeholder: 'email',
          modifierForLabel: 'for-main-ui', modifierForInput: 'for-main-ui'
        })
        +sum-guests({label: 'Сколько гостей', modifier: 'for-main-ui', modifierForInput: 'for-main-ui',
        modifierForLabel: 'for-main-ui'})
        +form-element({
          type: 'masked', placeholder: 'дд.мм.гггг',
          modifierForLabel: 'for-main-ui', modifierForInput: 'for-main-ui'
        })
        +ui-datepicker({type: 'single', placeholder: 'дд.мм.гггг', modifierForLabel: 'for-main-ui',
        modifierForInput: 'for-main-ui'})
        +ui-datepicker({
          type: 'range', defaultDate: '19 авг - 23 авг', modifierForLabel: 'for-main-ui',
          modifierForInput: 'for-main-ui'
        })
        +form-element({
          type: 'subscription', placeholder: 'email',
          modifierForLabel: 'for-main-ui', modifierForInput: 'for-main-ui'
        })

      div.main-ui__form-wrapper
        +checkbox(checkboxData)
        +radio({values: arrRadio, id: arrRadioId, modifier: 'for-ui'})
        +toggle({
          label: 'Получать спецпредложение', id: 'toggle',
          modifier: 'for-ui'
        })

        div.main-ui__buttons-wrapper
          +buttons({type: 'like-gray', content: 2, modifier: 'for-ui'})
          +buttons({type: 'like', content: 12, modifier: 'for-ui'})

        div.main-ui__rate-wrapper
          +rate({numberFillStars: 4, modifier: 'for-ui'})
          +rate({numberFillStars: 5})

      div.main-ui__form-wrapper

        div.main-ui__range-wrapper
          +ui-slider

        div.main-ui__buttons-wrapper
          +buttons({type: 'full', content: 'click me'})

        div.main-ui__buttons-wrapper
          +buttons({typeOfButtons: 'bordering', content: 'click me'})

        div.main-ui__buttons-wrapper
          +buttons({type: 'transparent', content: 'click me'})

        div.main-ui__buttons-wrapper
          +buttons({type: 'buy', content: 'перейти к оплате'})
        +pagination({value: 15, modifier: 'for-ui'})

      div.main-ui__form-wrapper
        div.main-ui__checkbox-wrapper
          +checkbox(checkboxExpandableData)

      div.main-ui__form-wrapper
        +checkbox(checkboxRichData)

      div.main-ui__form-wrapper
        +bullet-list(bulletListData)

      div.main-ui__form-wrapper.main-ui__form-wrapper_review
        +features({values: arrFeatures})

        +review({
          head: 'Мурад Сарафанов', date: '5 дней назад',
          description: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
          path: require('../blocks/review/icon-avatar-1.png'),
          numberOfLikes: 12, typeOfButton: 'like'
        })


    div.main-ui__cards

      div.main-ui__card-wrapper
        +searchRoom
        +registration('for-main-ui')

      div.main-ui__card-wrapper
        +order-room({totalValue, totalPrice})
        +sign-in

      div.main-ui__card-wrapper

        +card-room({
          images: arrPathImage1, radioName: 'room-radio-name-1',
          type: 'luxe', numberOfRoom: 888, price: '9 900',
          numberOfReviews: 145, numberOfRate: 5
        })

        +card-room({
          images: arrPathImage2, radioName: 'room-radio-name-2',
          type: 'normal', numberOfRoom: 840, price: '9 900', numberOfReviews: 65,
          numberOfRate: 4
        })

    div.main-ui__headers-footers

      +navigation(valuesForLogin)
      +navigation(valuesForLoggedIn)

      +footer
      +footer-widget(footerWidgetData)

