mixin pagination(arr)
  div.pagination
    ul.pagination__list
      each value, index in arr
        if index <= 2
          li.pagination__item
            a.pagination__link(href='#') #{index+1}
        else if index === 3
          li.pagination__item.pagination__item--dots
            a.pagination__link(href='#') ...
        else if index === arr.length-1
          li.pagination__item.pagination__item
            a.pagination__link(href='#') #{index+1}
          li.pagination__item.pagination__item--next
            a.pagination__link(href='#')
    div.pagination__description 1 – 12 из 100+ вариантов аренды
