@import "../../style/mixins/text";
@import "../../style/variables/variables";

.pagination{
  &__list{
    list-style: none;
    @include h3;
    display: flex;
    padding: 0;
    margin: 1.43rem 3.2rem .71rem 0;
    &_for-ui{
      margin: 1.43rem 0 .71rem;
    }
  }
  &__item{
    margin: 0 0 0 0;
    width: 2.86rem;
    height: 2.86rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child{
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 1.57rem;
    }
  }
  &__link{
    text-decoration: none;
    color: $dark25;
    &_first-element{
      color: #FFFFFF;
    }
    &_next{
      width: 1.29rem;
      height: 1.29rem;
      margin: 0 auto;
      background: url("icon-arrow-forward.svg") no-repeat;
      background-size: 1.29rem 1.29rem;
    }
  }
  &__item_next{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 1.57rem;
  }
  &__description{
    @include body;
    margin-right: 3rem;
  }

  &_for-filter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item_dots{
    background: none;
  }
}
