@import "../../style/mixins/text";
@import "../../style/variables/variables";

.pagination{
  &__list{
    list-style: none;
    @include h3;
    display: flex;
    padding: 0;
    margin: 1.43rem 0 .71rem 1.43rem;
  }
  &__item{
    margin: 0 0 0 0;
    width: 2.86rem;
    height: 2.86rem;
    display: flex;
    justify-content: center;
    align-items: center;
    & .pagination__link{
      color: $dark25;
    }
    &:first-child{
      & .pagination__link{
        color: #FFFFFF;
      }
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 1.57rem;
    }
  }
  &__link{
    text-decoration: none;
  }
  &__item_next{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 1.57rem;

    & .pagination__link {
      width: 1.29rem;
      height: 1.29rem;
      margin: 0 auto;
      background: url("icon-arrow-forward.svg") no-repeat;
      background-size: 1.29rem 1.29rem;
    }
  }
  &__description{
    @include body;
    margin-left: 1.86rem;
  }

  &_for-filter{
    width: 23.14rem;
    margin: 0 auto;
    & .pagination__item_dots{
      background: none;
    }
  }

  &_for-ui{
    & .pagination{
      &__list{
        margin: 1.43rem 0 .71rem 0;
      }
      &__description{
        margin-left: .43rem;
      }
    }
  }
}

@media (max-width: 1100px){
  .pagination{
    &_for-filter{
      margin: 0;
      & .pagination__description{
        margin-left: .36rem;
      }
      & .pagination__list{
        margin: 1.43rem 0 .71rem 0;
      }
    }
  }
}

@media (max-width: 750px) {
  .pagination_for-filter{
      width: 21.43rem;
      margin: 0 auto;
      }
}
