include ../blocks/navigation/navigation
include ../blocks/main-filter/main-filter
include ../blocks/footer/footer
include ../blocks/head/head

-
  const data = require('./data.json');
  const { navigation, footer } = data;

doctype html
html(lang="en")

  +head

  body
    header.main-filter__header
      +navigation(navigation)
    +main-filter

    +footer-widget(footer)
