include ../blocks/navigation/navigation
include ../blocks/main-filter/main-filter
include ../blocks/footer/footer
include ../blocks/header/header

-
  const data = require('./data.json');
  const { navigation, footer } = data;

doctype html
html(lang="ru")

  +head({
    descriptionValue: 'Поиск номеров по заданным параметрам',
    keywordsValue: 'поиск комнаты в отеле, поиск номера в отеле',
  })

  body
    div.wrapper
      header
        +navigation(navigation)
      +main-filter

      +footer-widget(footer)
