include ../blocks/navBar/navBar
include ../blocks/footerWidget/footerWidget
include ../blocks/footer/footer
include ../blocks/datepicker-range/datepicker-range
include ../blocks/sum-guests/sum-guests
include ../blocks/range/range
include ../blocks/checkbox/checkbox
include ../blocks/card-room/card-room
include ../blocks/pagination/pagination
include ../blocks/sum-rooms/sum-rooms

-const arrIndexNavigation = {items: ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'],
-classes: ['nav-standart__link', 'nav-standart__link nav-standart__link_expand',
-'nav-standart__link', 'nav-standart__link', 'nav-standart__link nav-standart__link_expand']}

-const footerdata = {description: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
-headNavigation: 'навигация', navigationItems: ['О нас', 'Новости', 'Служба поддержки',
-'Услуги'], headAbout: 'о нас', aboutItems: ['О сервисе', 'Наша команда', 'Вакансии',
- 'Инвесторы'], headSupport: 'Служба поддержки', supportItems: ['Соглашения',
- 'Сообщества', 'Связь с нами'], headSubscribe: 'Подписка', subscribeDescription:
-'Получайте специальные предложения и новости сервиса', placeholderEmail: 'Email',
-copyrightText: 'Copyright © 2018 Toxin отель. Все права зачищены.'}

-const checkboxArr = {standart: ['Можно курить', 'Можно с питомцами',
-'Можно пригласить гостей (до 10 человек)'], rich: [{label: 'Широкий коридор',
-description: 'Ширина коридоров в номере не менее 91 см.'},
-{label: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист  и проводит до номера.'}],
-expandable: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка',
-'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь']}

-const arrPathImage = [require('../img/image-room-888.jpg'), require('../img/image-room-982.jpg'),
-require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')]

-const rooms = [{images: [require('../img/image-room-888.jpg'),
-require('../img/image-room-982.jpg'),require('../img/image-room-350.jpg'),
-require('../img/image-room-444.jpg')], type: 'luxe', number: 888,
-price: '9 900', review: 145, rate: 5}, {images: [require('../img/image-room-840.jpg'),
-require('../img/image-room-982.jpg'),
-require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')],
-type: 'normal', number: 840, price: '9 900', review: 65, rate: 4},
-{images: [require('../img/image-room-980.jpg'), require('../img/image-room-982.jpg'),
-require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')],
-type: 'luxe', number: 980, price: '8 500', review: 35, rate: 3},
-{images: [require('../img/image-room-856.jpg'), require('../img/image-room-982.jpg'),
-require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')],
-type: 'normal', number: 856, price: '7 300', review: 19, rate: 5},
-{images: [require('../img/image-room-740.jpg'), require('../img/image-room-982.jpg'),
-require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')],
-type: 'normal', number: 740, price: '6 000', review: 44, rate: 4},
-{images: [require('../img/image-room-982.jpg'), require('../img/image-room-982.jpg'),
-require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')],
-type: 'normal', number: 982, price: '5 800', review: 56, rate: 3},
-{images: [require('../img/image-room-678.jpg'), require('../img/image-room-982.jpg'),
-require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')],
-type: 'normal', number: 678, price: '5 500', review: 45, rate: 5},
-{images: [require('../img/image-room-450.jpg'), require('../img/image-room-982.jpg'),
-require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')],
-type: 'normal', number: 450, price: '5 300', review: 39, rate: 4},
-{images: [require('../img/image-room-350.jpg'), require('../img/image-room-982.jpg'),
-require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')],
-type: 'normal', number: 350, price: '5 000', review: 77, rate: 3},
-{images: [require('../img/image-room-666.jpg'), require('../img/image-room-982.jpg'),
-require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')],
-type: 'normal', number: 666, price: '5 000', review: 25, rate: 5},
-{images: [require('../img/image-room-444.jpg'), require('../img/image-room-982.jpg'),
-require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')],
-type: 'normal', number: 444, price: '9 900', review: 15, rate: 3},
-{images: [require('../img/image-room-352.jpg'), require('../img/image-room-982.jpg'),
-require('../img/image-room-350.jpg'), require('../img/image-room-444.jpg')],
-type: 'normal', number: 352, price: '5 000', review: 55, rate: 3}]

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png")
    link( rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png")
    link(rel="manifest" href="./favicons/site.webmanifest")
    link(rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    title hotel
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    header.main-filter__header
      +navBar('standart', arrIndexNavigation.items, arrIndexNavigation.classes, 'войти', 'зарегистрироваться', undefined, 'nav-standart__item_ru')
    main.main-filter
      section.main-filter__side-panel.side-panel
        div.side-panel__slogan даты пребывания в отеле
        form.side-panel__form
          +datepicker-range('19 авг - 23 авг')
          +sum-guests('sum-guests_for-filter', 'ui-input__field_for-filter', 'ui-input_for-filter')
          div.side-panel__slogan.side-panel__slogan_range диапазон цены
          +range
          div.side-panel__range-reference Стоимость за сутки пребывания в номере
          div.side-panel__slogan.side-panel__slogan_checkbox Checkbox Buttons
          +checkbox(checkboxArr.standart, 'checkbox')
          div.side-panel__slogan.side-panel__slogan_checkbox-rich доступность
          +checkbox(checkboxArr.rich, 'rich')
          div.side-panel__slogan.side-panel__slogan_rooms удобства номера
          +sum-rooms
          +checkbox(checkboxArr.expandable, 'checkboxExpandable', 'дополнительные удобства')
      section.main-filter__filtered-rooms.filtered-rooms
        h1.filtered-rooms__head Номера, которые мы для вас подобрали
        each value in rooms
          +card-room(value.images, 'room-radio-name',
              value.type, value.number,
              value.price, value.review, value.rate)
        +pagination(Array(15))
    +footerWidget(footerdata.description, footerdata.headNavigation, footerdata.navigationItems,
        footerdata.headAbout, footerdata.aboutItems, footerdata.headSupport,
        footerdata.supportItems, footerdata.headSubscribe, footerdata.subscribeDescription,
        footerdata.placeholderEmail, footerdata.copyrightText)
