include ../blocks/navigation/navigation
include ../blocks/search-room/search-room
include ../blocks/footer-widget/footer-widget
include ../blocks/main-index/main-index
include ../blocks/header/header

-
  const data = require('./data.json');
  const { navigation, footer } = data;

doctype html
html(lang="ru")

  +head({
    descriptionValue: 'Toxin - поиск номера под ваши пожелания',
    keywordsValue: 'найти номер в отеле, toxin, подобрать номер в гостинице',
  })

  body
    div.wrapper
      header
        +navigation(navigation)

      +main-index

      +footer-widget(footer)
