include ../blocks/navigation/navigation
include ../blocks/footer-widget/footer-widget
include ../blocks/footer/footer
include ../blocks/main-registration/main-registration
include ../blocks/head/head

-
  const data = require('./data.json');
  const { navigation, footer } = data;

doctype html
html(lang="en")
  
  +head

  body

    +navigation(navigation)

    +main-registration

    +footer-widget(footer)
