include ../blocks/navigation/navigation
include ../blocks/footer-widget/footer-widget
include ../blocks/footer/footer
include ../blocks/main-registration/main-registration
include ../blocks/head/head

-
  const data = require('./data.json');
  const { navigation, footer } = data;

doctype html
html(lang="ru")
  
  +head({ descriptionValue: 'Зарегистрироваться на сайте Toxin',
    keywordsValue: 'регистрация toxin, заказать номер и оплатить' })

  body

    div.wrapper
      header
        +navigation(navigation)

      +main-registration

      +footer-widget(footer)
