include ../blocks/navigation/navigation
include ../blocks/footer-widget/footer-widget
include ../blocks/main-room/main-room
include ../blocks/header/header

-
  const data = require('./data.json');
  const { navigation, footer } = data;

doctype html
html(lang="ru")

  +head({
    descriptionValue: 'Toxin - подробное описание номера',
    keywordsValue: 'отзывы об номере отеля, просмотреть и забронировать номер',
  })

  body
    div.wrapper
      header
        +navigation(navigation)

      +main-room

      +footer-widget(footer)

