include ../blocks/navigation/navigation
include ../blocks/footer-widget/footer-widget
include ../blocks/footer/footer
include ../blocks/main-room/main-room
include ../blocks/head/head

-
  const data = require('./data.json');
  const { navigation, footer } = data;

doctype html
html(lang="en")

  +head

  body

    +navigation(navigation)

    +main-room

    +footer-widget(footer)

