include ../blocks/navigation/navigation
include ../blocks/footer-widget/footer-widget
include ../blocks/main-sign-in/main-sign-in
include ../blocks/header/header

-
  const data = require('./data.json');
  const { navigation, footer } = data;

doctype html
html(lang="ru")

  +head({
    descriptionValue: 'Создать аккаунт или войти на сайт поиска отелей Toxin',
    keywordsValue: 'войти на сайт Toxin, регистрация на сайте Toxin',
  })

  body

    div.wrapper
      header
        +navigation(navigation)
      +main-sign-in

      +footer-widget(footer)
