include ../blocks/main-ui/main-ui
include ../blocks/head/head

doctype html
html(lang="ru")
  +head({ descriptionValue: 'UI - набор элементов для сайта',
    keywordsValue: 'ui, элементы и блоки для сайта', title: 'Ui' })
  body

    +main-ui
