include ../blocks/main-ui/main-ui
include ../blocks/header/header

doctype html
html(lang="ru")
  +head({
    descriptionValue: 'UI - набор элементов для сайта',
    keywordsValue: 'ui, элементы и блоки для сайта', title: 'Ui',
  })
  body
    div.wrapper
      +main-ui
