include ../blocks/search-room/search-room
include ../blocks/buttons/buttons
include ../blocks/form-element/form-element
include ../blocks/checkbox/checkbox
include ../blocks/radio/radio
include ../blocks/toggle/toggle
include ../blocks/range/range
include ../blocks/pagination/pagination
include ../blocks/rate/rate
include ../blocks/bullet-list/bullet-list
include ../blocks/review/review
include ../blocks/features/features
include ../blocks/registration/registration
include ../blocks/order-room/order-room
include ../blocks/card-room/card-room
include ../blocks/navigation/navigation
include ../blocks/copyright/copyright
include ../blocks/footer/footer
include ../blocks/footer-widget/footer-widget
include ../blocks/sign-in/sign-in

-const arrCheckbox = ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']

-const arrCheckboxExpandable = ['Завтрак', 'Письменный стол', 'Стул для кормления',
-'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь']

-const arrCheckboxRich = [{label:'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.'},
-{label: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист и проводит до номера.'}]

-const arrRadio = ['Terran', 'Protoss']

-const arrRadioId = ['terran', 'protoss']

-const arrBulletList = ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']

-const arrFeatures = [{slogan: 'Комфорт', description: 'Шумопоглощающие стены'},
-{slogan: 'Удобство', description: 'Окно в каждой из спален'}]

-const arrTotalDesc = ['9 990₽ х 4 суток', 'Сбор за услуги: скидка 2 179₽',
-'Сбор за дополнительные услуги']

-const arrTotalPrice = ['39 960₽', '0₽', '300₽']

-const arrPathImage1 = [require('../img/image-room-888.jpg'),
-require('../img/image-room-982.jpg'), require('../img/image-room-350.jpg'),
-require('../img/image-room-444.jpg')]

-const arrPathImage2 = [require('../img/image-room-840.jpg'),
-require('../img/image-room-982.jpg'), require('../img/image-room-350.jpg'),
-require('../img/image-room-444.jpg')]

-const uiNavBarItems = {items: ['Home', 'About Us', 'Services', 'Careers',
-'News', 'Documentation'], classes: ['navigation__link navigation__link--home',
-'navigation__link', 'navigation__link navigation__link--expand',
-'navigation__link', 'navigation__link', 'navigation__link']}

-const footerWidgetData = {description:
-'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
-navigation: ['About Us', 'News', 'Support', 'Products'], about: ['Who we are',
-'Our team', 'Careers', 'Investors'], support: ['Documentation', 'Community',
-'Get in Touch'], subscribe: 'Receive our latest news and promotions in your inbox!'}


doctype html
html(lang="en")
  head
    title UI
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    div.main-ui__form
      div.main-ui__form-wrapper
        +form-element('text', 'email', undefined, 'form-element_for-main-ui')
        +form-element('dropdown', 'Сколько гостей', undefined, 'form-element_for-main-ui')
        +form-element('masked', 'дд.мм.гггг', undefined, 'form-element_for-main-ui')
        +form-element('date', 'дд.мм.гггг', undefined, 'form-element_for-main-ui')
        +form-element('filter', '19 авг - 23 авг', undefined, 'form-element_for-main-ui')
        +form-element('subscription', 'email', undefined, 'form-element_for-main-ui')
      div.main-ui__form-wrapper
        +checkbox(arrCheckbox, 'checkbox')
        +radio(arrRadio, arrRadioId)
        +toggle('Получать спецпредложение', 'toggle')
        div.main-ui__buttons-wrapper
          +buttons('like-gray', 2, undefined,  'buttons_for-ui')
          +buttons('like', 12)
        div.main-ui__rate-wrapper
          +rate(4)
          +rate(5)
      div.main-ui__form-wrapper
        div.main-ui__range-wrapper
          +range
        div.main-ui__buttons-wrapper
          +buttons('full', 'click me')
        div.main-ui__buttons-wrapper
          +buttons('bordering', 'click me')
        div.main-ui__buttons-wrapper
          +buttons('transparent', 'click me')
        div.main-ui__buttons-wrapper
          +buttons('buy', 'перейти к оплате')
        +pagination(Array(15))
      div.main-ui__form-wrapper
        div.main-ui__checkbox-wrapper
          +checkbox(arrCheckboxExpandable, 'checkboxExpandable', 'expandable checkbox list')
      div.main-ui__form-wrapper
        +checkbox(arrCheckboxRich, 'rich')
      div.main-ui__form-wrapper
        +bullet-list(arrBulletList)
      div.main-ui__form-wrapper.main-ui__form-wrapper_review
        +features(arrFeatures)
        +review('Мурад Сарафанов', '5 дней назад',
					'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
					require('../blocks/review/icon-avatar-1.png'), 'like', 12)

    div.main-ui__cards
      div.main-ui__card-wrapper
        +searchRoom
        +registration('registration_for-main-ui')
      div.main-ui__card-wrapper
        +order-room(arrTotalDesc, arrTotalPrice)
        +sign-in
      div.main-ui__card-wrapper
        +card-room(arrPathImage1, 'room-radio-name-1', 'luxe', 888,
					'9 900', 145, 5)
        +card-room(arrPathImage2, 'room-radio-name-2', 'normal', 840,
					'9 900', 65, 4)
    div.main-ui__headers-footers
      +navigation('standart', uiNavBarItems.items, uiNavBarItems.classes, 'login', 'register')
      +navigation('loggedIn', uiNavBarItems.items, uiNavBarItems.classes,'login', 'register', 'Cosmin Negoita')
      +footer
      +footer-widget(footerWidgetData.description, 'Navigation',
				footerWidgetData.navigation, 'ABOUT US', footerWidgetData.about, 'support',
				footerWidgetData.support, 'Subscribe to our newsletter',
				footerWidgetData.subscribe, 'Your email address', 'Copyright © 2018 Toxin UI Kit.' +
				 ' All rights reserved.')
