include ../blocks/searchRoom/searchRoom
include ../blocks/buttons/buttons
include ../blocks/inputs/inputs
include ../blocks/checkbox/checkbox
include ../blocks/radio/radio
include ../blocks/toggle/toggle
include ../blocks/range/range
include ../blocks/pagination/pagination
include ../blocks/rate/rate
include ../blocks/sumGuestsRooms/sumGuestsRooms
include ../blocks/bulletList/bulletList
include ../blocks/review/review
include ../blocks/features/features
include ../blocks/registration/registration
include ../blocks/orderRoom/orderRoom
include ../blocks/cardRoom/cardRoom
include ../blocks/navBar/navBar
include ../blocks/copyright/copyright
include ../blocks/footer/footer
include ../blocks/footerWidget/footerWidget
include ../blocks/signIn/signIn

-const arrCheckbox = ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']

-const arrCheckboxExpandable = ['Завтрак', 'Письменный стол', 'Стул для кормления',
-'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь']

-const arrCheckboxRich = [{label:'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.'},
-{label: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист и проводит до номера.'}]

-const arrRadio = ['Terran', 'Protoss']

-const arrRadioId = ['terran', 'protoss']

-const arrBulletList = ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']

-const arrFeatures = [{slogan: 'Комфорт', description: 'Шумопоглощающие стены'},
-{slogan: 'Удобство', description: 'Окно в каждой из спален'}]

-const arrTotalDesc = ['9 990₽ х 4 суток', 'Сбор за услуги: скидка 2 179₽',
-'Сбор за дополнительные услуги']

-const arrTotalPrice = ['39 960₽', '0₽', '300₽']

-const arrPathImage1 = [require('../img/image-room-888.jpg'),
-require('../img/image-room-982.jpg'), require('../img/image-room-350.jpg'),
-require('../img/image-room-444.jpg')]

-const arrPathImage2 = [require('../img/image-room-840.jpg'),
-require('../img/image-room-982.jpg'), require('../img/image-room-350.jpg'),
-require('../img/image-room-444.jpg')]

-const uiNavBarItems = {items: ['Home', 'About Us', 'Services', 'Careers',
-'News', 'Documentation'], classes: ['nav-standart__link nav-standart__link--home',
-'nav-standart__link', 'nav-standart__link nav-standart__link--expand',
-'nav-standart__link', 'nav-standart__link', 'nav-standart__link']}

-const footerWidgetData = {description:
-'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
-navigation: ['About Us', 'News', 'Support', 'Products'], about: ['Who we are',
-'Our team', 'Careers', 'Investors'], support: ['Documentation', 'Community',
-'Get in Touch'], subscribe: 'Receive our latest news and promotions in your inbox!'}


doctype html
html(lang="en")
  head
    title UI
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    div.form-elements
      div.form-elements__wrapper
        +input('text', 'email', 'input__email')
        +input('dropdown', 'Сколько гостей', 'input-dropdown')
        +input('masked', 'дд.мм.гггг')
        +input('date', 'дд.мм.гггг')
        +input('filter', '19 авг - 23 авг', 'input__label-dropdown_for-filtering')
        div.form-elements__subscription-wrapper
          +input('subscription', 'email')
      div.form-elements__wrapper
        +checkbox(arrCheckbox, 'checkbox')
        +radio(arrRadio, arrRadioId)
        +toggle('Получать спецпредложение', 'toggle')
        div.form-elements__buttons-wrapper
          +buttons('like-gray', 2)
          +buttons('like', 12)
        +rate(4)
        +rate(5)
      div.form-elements__wrapper
        div.form-elements__range-wrapper
          +range
        div.form-elements__buttons-wrapper
          +buttons('full', 'click me')
        div.form-elements__buttons-wrapper
          +buttons('bordering', 'click me')
        div.form-elements__buttons-wrapper
          +buttons('transparent', 'click me')
        div.form-elements__buttons-wrapper
          +buttons('buy', 'перейти к оплате')
        +pagination(Array(15))
      div.form-elements__wrapper
        +sumGuestsRooms('rooms')
        div.form-elements__checkbox-wrapper
          +checkbox(arrCheckboxExpandable, 'checkboxExpandable', 'expandable checkbox list')
      div.form-elements__wrapper
        +checkbox(arrCheckboxRich, 'rich')
      div.form-elements__wrapper
        +bulletList(arrBulletList)
      div.form-elements__wrapper.form-elements__wrapper_review
        +features(arrFeatures)
        +review('Мурад Сарафанов', '5 дней назад',
					'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
					require('../blocks/review/icon-avatar-1.png'), 'like', 12)

    div.cards
      div.cards__wrapper
        +searchRoom
        +registration
      div.cards__wrapper
        +orderRoom(arrTotalDesc, arrTotalPrice)
        +signIn
      div.cards__wrapper
        +cardRoom(arrPathImage1, 'room-radio-name-1', 'luxe', 888,
					'9 900', 145, 5)
        +cardRoom(arrPathImage2, 'room-radio-name-2', 'normal', 840,
					'9 900', 65, 4)
    div.headers-footers
      +navBar('standart', uiNavBarItems.items, uiNavBarItems.classes, 'login', 'register')
      +navBar('loggedIn', uiNavBarItems.items, uiNavBarItems.classes,'login', 'register', 'Cosmin Negoita')
      +footer
      +footerWidget(footerWidgetData.description, 'Navigation',
				footerWidgetData.navigation, 'ABOUT US', footerWidgetData.about, 'support',
				footerWidgetData.support, 'Subscribe to our newsletter',
				footerWidgetData.subscribe, 'Your email address')
