include ../social-buttons/social-buttons

mixin copyright(options)

  -const {text, modifier, socialModifier}=options;

  section(class=['copyright',
   `${modifier ? `copyright_${modifier}`:''}`])
    em.copyright__head #{text}

    if(socialModifier)

      +social-buttons(socialModifier)

    else

      +social-buttons('for-copyright')

