include ../social-buttons/social-buttons

mixin copyright(text, modifier, modifierSocial)

  section(class=modifier ? `copyright ${modifier}`: 'copyright')
    em.copyright__head #{text}

    if(modifierSocial)

      +social-buttons(`social-buttons_for-copyright ${modifierSocial}`)

    else

      +social-buttons(`social-buttons_for-copyright`)

