@import '../../style/mixins/text';
@import '../../style/variables/variables';

.copyright {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 .71rem 1.43rem $dark5;
  background: #FFFFFF;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: .07rem;
    box-shadow: 0 .07rem 0 rgba(31, 32, 65, 0.1);
    top: -.2rem;
  }

  &__logo {
    display: none;
  }

  &__head {
    @include body;
    font-style: normal;
    padding: 0 0 0 9.7%;

    @media (max-width: 450px) {
      font-size: .8rem;
    }
  }

  &__buttons-wrapper {
    margin: 0 9.6% 0 0;
  }

  &_type_column {
    flex-direction: column;
    height: auto;
    padding: 7rem 0;

    & .copyright {
      &__logo {
        display: block;
      }

      &__head {
        max-width: 39%;
        padding: 0;
        text-align: center;
        margin-top: 1.6rem;
        line-height: 1.6rem;

        @media (max-width: 800px) {
          max-width: 80%;
        }
      }

      &__buttons-wrapper {
        margin: 2rem 0 .9rem 0;
      }
    }
  }

  @media (max-width: 700px) {
    flex-direction: column;
    height: auto;

    .copyright {
      &__logo {
        display: block;
        margin-top: 1rem;
      }

      &__head {
        margin-top: 1rem;
        padding: 0;
      }

      &__buttons-wrapper {
        margin: 1rem 0 1rem 0;
      }
    }
  }
}
