include ../social-buttons/social-buttons

mixin copyright()

  -const {copyrightText, copyrightModifier, copyrightSocialModifier}=attributes

  section(class=['copyright',
   `${copyrightModifier ? `copyright_${copyrightModifier}`:''}`])
    em.copyright__head #{copyrightText}

    if(copyrightSocialModifier)

      +social-buttons(copyrightSocialModifier)

    else

      +social-buttons('for-copyright')

