@import '../../style/mixins/text';
@import '../../style/mixins/hide';
@import '../../style/variables/variables';

.datepickers__wrapper {
  display: inline-block;
  width: 10.71rem;
  margin-right: 1.5rem;

  @media (max-width: 1100px) {
    width: 8.57rem;
  }
}

.datepickers__popup {
  width: 22.71rem;
  padding-top: .36rem;
  border: .07rem solid rgba(31, 32, 65, 0.25);
  border-radius: .29rem;
  background: #FFFFFF;

  @media (max-width: 1100px) {
    width: 18.5rem;
  }

  & .datepicker--pointer {
    display: none;
  }

  & .datepicker {
    &--nav {
      border-bottom: none;
      padding-top: 0.2rem;

      &-title {
        text-transform: capitalize;
        @include h1;
        font-weight: 700;
        font-size: 1.36rem;
        text-align: center;
        margin: 1rem .8rem 0 0;
        letter-spacing: -.07rem;

        &:hover {
          background: none;
        }
      }

      &-action[data-action="prev"], [data-action="next"] {
        width: 1.3rem;
        height: 1.3rem;
        background: url('../../images/icon-arrow-forward.svg') no-repeat;
      }

      &-action[data-action="prev"] {
        transform: rotate(180deg);
        margin: 1rem 0 0 1.3rem;
      }

      &-action[data-action="next"] {
        margin: 1rem 1.3rem 0 0;
      }
    }

    &--days {
      @include h3;
    }

    &--days-names {
      color: #BC9CFF;
      margin: 2.75rem 0 0 0;
      display: inline-flex;

      @media (max-width: 1100px) {
        margin: 1.5rem 0 0 0;
      }
    }

    &--day-name {
      color: #BC9CFF;
      font-size: .86rem;
      margin-right: 1.6rem;

      @media (max-width: 1100px) {
        margin-right: 1.2rem;
      }

      &:first-child {
        margin-left: 1.9rem;

        @media (max-width: 1100px) {
          margin-left: .7rem;
        }
      }
    }

    &--cells {
      color: rgba(31, 32, 65, 0.5);
      font-weight: 400;
      margin: .9rem 0 0 1.1rem;

      &-days {
        @media (max-width: 1100px) {
          margin: .5rem 0 0 0;
        }
      }

    }

    &--cell-day {
      width: 2.85rem;
      height: 2.85rem;
      color: $dark50;

      @media (max-width: 1100px) {
        width: 2.6rem;
        height: 2.6rem;
      }

      &:hover {
        background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%,
                rgba(139, 164, 249, 0.25) 100%);
        border: none;
        border-radius: 0;

        &:not(.-range-from-.-selected-):not(.-range-to-.-selected-)::after {
          display: none;
        }
      }

      &.-current- {
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        color: #FFFFFF;
        border-radius: 1.57rem;

        &.-in-range- {
          border-radius: 0;
          color: $dark50;
        }
      }

      &.-selected- {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 1.57rem;
        color: #FFFFFF;
      }

      &.-in-range- {
        background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%,
                rgba(139, 164, 249, 0.25) 100%);
      }

      &.-range-from-, &.-range-to- {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%,
                  rgba(139, 164, 249, 0.25) 100%);
          width: 1.4rem;
          height: 100%;
          right: 0;

          @media (max-width: 1100px) {
            width: 1.25rem;
          }
        }
      }

      &.-range-to-::after {
        right: 50%;
      }

      &.-other-month- {
        color: $dark25;
      }
    }

    &--cells-months, &--cells-months .-current-,
    &--cells-years, &--cells-years .-current-, &--cells-years .-other-decade- {
      @include h3();
      color: $dark50;
    }

    &--cell-month, &--cell-year {
      &:hover {
        background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%,
                rgba(139, 164, 249, 0.25) 100%);
        border-radius: 0;
      }

      &.-selected- {
        background: none;
      }
    }

    &--buttons {
      border-top: none;
      justify-content: space-between;
      margin: .3rem 0 .45rem 0;
    }

    &--button[data-action="today"], &--button[data-action="clear"] {
      @include h3;
      flex: 0;
    }

    &--button {
      &:hover {
        background: none;
      }

      &[data-action="today"] {
        order: 10;
        background: none;
        color: $purple;
        margin-right: 1rem;
      }

      &[data-action="clear"] {
        color: $dark50;
        margin-left: 1rem;
      }

      &_hidden {
        @include hide;
      }
    }
  }

  &_type_range {
    width: 18.85rem;

    & .datepicker {
      &--day-name {
        margin-right: 1.4rem;

        &:first-child {
          margin-left: 0.5rem;
        }
        &:last-child {
          margin-right: 0;
        }
      }

      &--cells-days {
        margin: .9rem 0 0 0;
      }

      &--cell-day {
        width: 2.6rem;
        height: 2.6rem;

        &.-range-from-, &.-range-to- {
          &::after {
            width: 1.3rem;
          }
        }
      }
    }
  }
}
