@import "../mixins/hide";
@import "../variables/variables";
@import "../mixins/text";

.checkbox{
  &__mark{
    padding: 0 0 0 20px;
    display: block;
    @include body;
    margin: 0 0 12px 12px;
    position: relative;
    text-transform: unset;
    width: 210px;
    line-height: 18px;
    &::before{
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      border: 1px solid $dark25;
      box-sizing: border-box;
      border-radius: 4px;
      left: -10px;
      top: 0;
    }
    &#{&}_rich{
      font-weight: bold;
      & .checkbox__description{
        font-size: 12px;
        font-weight: normal;
        display: block;
        margin: 7px 0 0 0;
        line-height: 13px;
        color: $dark50;
      }
      &:first-child{
        width: 200px;
      }
      &:last-child{
        width: 230px;
      }
    }
  }

  &__field{
    @include hide;
  }
  &__head{
    position: relative;
    @include h3;
    color: $dark100;
    margin: 0 0 18px 2px;
    width: 250px;
    --rotate: rotate(0deg);
    &::after{
      position: absolute;
      content: '';
      width: 12px;
      height: 8px;
      background: url("./icon-expand.svg") no-repeat;
      right: 0;
      transform: var(--rotate);
      top: 3px;
    }
  }
  &_for-side-panel{
    & .checkbox{
      &__mark{
        margin: 0 0 12px 10px;
      }

      &__mark_rich{
        &::before{
          top: -3px;
        }
        & .checkbox__description{
          margin: 5px 0 0 0;
        }
      }

      &__field:checked + .checkbox__mark_rich::after{
        top: 1px
      }

      &__head{
        margin: 32px 0 18px 0;
      }
    }
  }
  &__wrapper_hide{
    @include hide;
  }

  &__field:checked + .checkbox__mark{
    position: relative;
    &::before{
      border: 1px solid $purple;
    }
    &::after{
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      background: url("./icon-checked.svg");
      left: -5px;
      top: 4px;
    }
  }
}


