@import '../../style/mixins/hide';
@import '../../style/variables/variables';
@import '../../style/mixins/text';

.checkbox {
  display: flex;
  flex-direction: column;

  &__field {
    @include hide;

    &:checked + .checkbox__mark {
      position: relative;

      &::before {
        border: .07rem solid $purple;
      }

      &::after {
        position: absolute;
        content: '';
        width: .71rem;
        height: .71rem;
        background: url('./images/icon-checked.svg');
        left: -.36rem;
        top: .29rem;
      }
    }
  }

  &__mark {
    padding: .21rem 0 0 1.43rem;
    @include body;
    position: relative;
    text-transform: none;
    width: 15rem;
    line-height: 1.29rem;

    &::before {
      position: absolute;
      content: '';
      width: 1.43rem;
      height: 1.43rem;
      border: .07rem solid $dark25;
      box-sizing: border-box;
      border-radius: .29rem;
      left: -.71rem;
      top: 0;
      cursor: pointer;
    }

    &_type_rich {
      font-weight: 700;
      padding: .2rem 0 .3rem 1.3rem;
    }

    & .checkbox__mark:checked  {
      position: relative;

      &::before {
        border: .07rem solid $purple;
      }

      &::after {
        position: absolute;
        content: '';
        width: .71rem;
        height: .71rem;
        background: url('./images/icon-checked.svg');
        left: -.36rem;
        top: .29rem;
      }
    }
  }

  &__description {
    font-size: .86rem;
    font-weight: normal;
    line-height: 1rem;
    color: $dark50;
    margin: 0 0 .1rem 1.4rem;
    width: 16rem;
  }
}


