@import '../../style/mixins/hide';
@import '../../style/variables/variables';
@import '../../style/mixins/text';

.checkbox {
  &__field {
    @include hide;

    &:checked + .checkbox__mark {
      position: relative;

      &::before {
        border: .07rem solid $purple;
      }

      &::after {
        position: absolute;
        content: '';
        width: .71rem;
        height: .71rem;
        background: url('./images/icon-checked.svg');
        left: -.36rem;
        top: .29rem;
      }
    }
  }

  &__mark {
    padding: .21rem 0 0 1.43rem;
    display: block;
    @include body;
    position: relative;
    text-transform: unset;
    width: 15rem;
    line-height: 1.29rem;

    &::before {
      position: absolute;
      content: '';
      width: 1.43rem;
      height: 1.43rem;
      border: .07rem solid $dark25;
      box-sizing: border-box;
      border-radius: .29rem;
      left: -.71rem;
      top: 0;
    }

    &_type_rich {
      font-weight: bold;
      margin: 0 0 .57rem .86rem;
    }

    & .checkbox__mark:checked  {
      position: relative;

      &::before {
        border: .07rem solid $purple;
      }

      &::after {
        position: absolute;
        content: '';
        width: .71rem;
        height: .71rem;
        background: url('./images/icon-checked.svg');
        left: -.36rem;
        top: .29rem;
      }
    }
  }

  &__description {
    font-size: .86rem;
    font-weight: normal;
    display: block;
    line-height: .8rem;
    color: $dark50;
    margin: 0.4rem 0 .1rem 2.2rem;
    width: 16rem;
  }
}


