include ../form-element/form-element

mixin singel-datepicker(options)

  -const {placeholder, modifierForLabel, modifierForInput}=options

  +form-element({type: 'date', placeholder: placeholder,
    modifierForLabel: modifierForLabel, modifierForInput: modifierForInput,
    jsModifierForInput:'date'})
