@import "../common/variables";
@import "../mixins/hide";
@import "../mixins/text";

.ui-input__field{
  width: 320px;
  border: 1px solid $dark25;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 15px;
  @include body;
  &::placeholder{
    color: $dark25;
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
  }
  &.ui-input__field_text::placeholder{
    text-transform: capitalize;
  }
  &:hover, &:focus{
    border: 1px solid $dark50;
    &::placeholder{
      color: $dark75;
    }
  }
  &.ui-input__field{
    width: 266px;
  }
  &.ui-input__field_for-guests{
    width: 320px;
    &::placeholder{
      text-transform: none;
    }
  }
}
.ui-input{
  &_date{
    display: inline-block;
    position: relative;
    width: 150px;
    &::after{
      position: absolute;
      content: '';
      width: 44px;
      height: 44px;
      background: url("./icon-expand.svg") no-repeat;
      right: -16px;
      top: 18px;
    }
    & .ui-input__field{
      &::placeholder{
        text-transform: uppercase;
        color: $dark75;
      }
      &.ui-input__field_for-search-in, &.ui-input__field_for-search-out{
        width: 150px;
      }
    }
    &.ui-input{
      &_for-search{
        width: 150px;
        margin: 6px 21px 0 0;
      }
    }
  }
}

.ui-input_dropdown{
  display: inline-block;
  position: relative;
  &::after{
    position: absolute;
    content: '';
    width: 44px;
    height: 44px;
    background: url("./icon-expand.svg") no-repeat;
    right: -16px;
    top: 18px;
  }
  & .ui-input__field::placeholder{
    color: $dark75;
  }
  & .ui-input__field_for-guests::placeholder{
    text-transform: none;
  }
}

.ui-input_for-guests{
  display: inline-block;
  margin-top: 5px;
  &.ui-input_for-filter, & .ui-input__field_for-filter{
    width: 266px;
  }
}

.ui-input__field_masked{
  &::placeholder{
    text-transform: uppercase;
  }
}
.ui-input_subscription{
  position: relative;
  &::after{
    position: absolute;
    content: '';
    width: 44px;
    height: 44px;
    background: url("./icon-arrow-forward.svg") no-repeat;
    right: -14px;
    top: -2px;
  }
  & .ui-input{
    &__field_subscription{
      width: 267px;
      &::placeholder{
        text-transform: capitalize;
      }
  }
    &__field_for-footer-widget{
      width: 260px;
      margin: 20px 0 0 0;
    }
  }
}

.ui-input_for-hide-datepicker{
  @include hide;
}

@media (max-width: 1100px) {
  .ui-input{
    &_date{
      &.ui-input_for-search{
        width: 120px;
      }
      & .ui-input__field{
        &.ui-input__field_for-search-in,
        &.ui-input__field_for-search-out{
          width: 120px;
          &::placeholder{
            font-size: 0.86rem;
          }
        }
      }
    }
    &_dropdown{
      &.ui-input_for-guests{
        width: 260px;
        & .ui-input__field{
          width: 260px;
        }
      }
    }
  }

  .ui-input__field.ui-input__field_subscription.ui-input__field_for-footer-widget{
    padding: 12px 14px;
    width: 220px;
    &::placeholder{
      font-size: 0.86rem;
    }
  }

}
