@import '../../style/mixins/text.scss';
@import '../../style/variables/variables.scss';

.demo-caption {
  @include h3;
  font-size: .86rem;
  display: flex;
  justify-content: space-between;
  margin: 0;

  &__default {
    font-weight: 400;
    color: $dark50;
  }
}