@import "../mixins/text";
@import "../common/variables";

.ui-datepicker{
  width: 320px;
  height: 369px;
  margin: 5px auto 0 auto;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background: #FFFFFF;
}
#ui-datepicker-div{
  display: none;
}
.ui-datepicker-title{
  text-transform: capitalize;
  font-weight: bold;
  font-family: Quickand-regular, sans-serif;
  font-size: 1.36rem;
  text-align: center;
  margin: 3px 0 0 0;
  letter-spacing: -1px;
}
.ui-icon.ui-icon-circle-triangle-e,.ui-icon.ui-icon-circle-triangle-w{
  opacity: 0;
}
.ui-datepicker-prev{
  position: relative;
  cursor: pointer;
  &::before{
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background: url("./icon-arrow.svg") no-repeat;
    transform: rotate(180deg);
    left: 15px;
    top: 17px;
  }
}
.ui-datepicker-next{
  position: relative;
  cursor: pointer;
  &::before{
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background: url("./icon-arrow.svg") no-repeat;
    left: 241px;
    top: 27px;
  }
}
.ui-datepicker-calendar{
  margin: 39px 0 0 29px;
  font-size: 0.86rem;
  & thead{
    color: #BC9CFF;
    width: 100%;
  }
  & tr{
    display: flex;
  }
  & th{
    margin: 0 20px 20px 0;
    display: inline-block;
  }
  & td, td .ui-state-default{
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
    width: 20px;
    margin: 0 18px 11.6px 0;
    display: inline-block;
    text-align: center;
  }
}
.ui-datepicker-calendar .ui-datepicker-today .ui-state-default{
  color: #FFFFFF;
  font-weight: bold;
  position: relative;
  &::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    left: -10px;
    top: -12px;
    z-index: -10;
  }
}
.ui-datepicker-calendar .ui-datepicker-other-month .ui-state-default{
  color: rgba(31, 32, 65, 0.25);
}
.ui-datepicker-buttonpane{
  display: flex;
  @include h3;
  margin: 4px 0 0 10px;
  & .ui-datepicker-current{
    color: $purple;
    order: 10;
  }
  & .ui-datepicker-close{
    margin-right: 105px;
  }
}
.ui-datepicker-close, .ui-datepicker-current{
  order: -10;
  background: none;
  border: none;
  color: $dark50;

}
