include ../checkbox/checkbox

mixin checkbox-set(options)

  -
     const {values, isExpandable, head, descriptions}=options;

     const wrapperClass = isExpandable ? 'checkbox-set__wrapper_type_expandable checkbox-set__wrapper_hidden js-checkbox-set__wrapper_type_expandable' : '';

    const itemWrapperClass = isExpandable || descriptions ? 'checkbox-set__item-wrapper_type_default' : '';

  div.checkbox-set

    if isExpandable
      h3.checkbox-set__head.js-checkbox-set__head=head
      div.checkbox-set__container.js-checkbox__container.checkbox__container_hidden
    
    div.checkbox-set__wrapper(class=wrapperClass)
      each value, index in values
        div.checkbox-set__item-wrapper(class=itemWrapperClass)
          +checkbox({ value, description: descriptions ? descriptions[index] : undefined })