@import '../../style/mixins/text';
@import '../../style/mixins/hide';
@import '../../style/variables/variables';

.checkbox-set {
  &__head {
    position: relative;
    @include h3;
    color: $dark100;
    margin: 0 0 1.29rem .14rem;
    width: 100%;
    display: inline-block;

    & .checkbox-set__icon-expand {
      position: absolute;
      content: '';
      width: .86rem;
      height: .57rem;
      background: url('../../images/icon-expand.svg') no-repeat;
      transform: rotate(0deg);
      top: .21rem;
      cursor: pointer;
      display: inline-block;
      right: 0;
    }

    & .checkbox-set {
      &__toggle{
        display: none;

        &:checked + .checkbox-set__icon-expand {
          transform: rotate(180deg);
        }
      }
    }

    &_turned::after {
      transform: rotate(180deg);
    }
  }

  &__wrapper_type_expandable {
    display: none;
    margin: 0 0 0 .8rem;

    & .checkbox-set__item-wrapper {
      margin-bottom: .65rem;
    }
  }

  &__item-wrapper {
    margin-bottom: .65rem;

    &_type_default {
      margin-bottom: .6rem;
    }
  }
}
