include ../checkbox/checkbox

mixin checkbox-set(options)

  -
    const { values, isExpandable, head, descriptions = [] } = options;

    const mainClass = isExpandable ? 'js-checkbox-set' : '';

    const wrapperClass = isExpandable
      ? 'checkbox-set__wrapper_type_expandable checkbox-set__wrapper_hidden js-checkbox-set__wrapper_type_expandable'
      : '';

    const itemWrapperClass = isExpandable || descriptions
      ? 'checkbox-set__item-wrapper_type_default'
      : '';

  div.checkbox-set(class = mainClass)

    if isExpandable
      label.checkbox-set__head.js-checkbox-set__head=head
        input.checkbox-set__toggle.js-checkbox-set__toggle(type='checkbox')
        span.checkbox-set__icon-expand

    div.checkbox-set__wrapper(class=wrapperClass)
      each value, index in values
        div.checkbox-set__item-wrapper(class = itemWrapperClass)
          +checkbox({ value, description: descriptions[index] })
