include ../sum-guests/sum-guests
include ../ui-control/ui-control
include ../ui-datepicker/ui-datepicker

mixin order-room(options)

  -const {totalValue, totalPrice}=options;

  section.order-room
    div.order-room__header

      div.order-room__number-room-wrapper
        span.order-room__number-mark №
        span.order-room__number 888
        span.order-room__type-room люкс
        span.order-room__price 9 990&#8381;
        span.order-room__periodicity в сутки

    div.order-room__label-wrapper
      span.order-room__label прибытие
      span.order-room__label выезд

    form.order-room__form

      +ui-datepicker({ type: 'double', modifierForInput: 'for-order',
       modifierForLabel: 'for-order' })

      div.order-room__sum-guests-wrapper
        +sum-guests({modifier: 'for-order', head: 'гости'})

    div.order-room__total
      each value, index in totalValue

        if index >= totalValue.length-2
          div.order-room__total-wrapper
            span.order-room__total-description=value
            button.order-room__total-tax !
            span.order-room__total-price=totalPrice[index]

        else
          div.order-room__total-wrapper
            span.order-room__total-description=value
            span.order-room__total-price=totalPrice[index]

    div.order-room__sum-wrapper
      span.order-room__sum-label Итого
      span.order-room__sum 38 081₽

    div.order-room__button-wrapper
      +ui-control({content: 'забронировать', buttonModifier: 'width-arrow'})

