@import '../../style/mixins/rectangle';
@import '../../style/mixins/text';
@import '../../style/variables/variables';

.order-room {
  @include rectangle;
  height: 36.5rem;
  padding-left: 1.93rem;

  &__header {
    display: flex;
    margin: 3.29rem 0 0 .36rem;
  }

  &__number-mark {
    @include h2;
    font-size: 1rem;
  }
  
  &__number {
    @include h2;
    font-size: 1.71rem;
    margin: 0 .71rem 0 .21rem;
  }

  &__type-room {
    @include body;
    color: $purple;
    font-weight: bold;
    margin: 0 8.14rem 0 0;
  }

  &__price {
    @include body;
    color: $dark50;
    font-weight: bold;
  }

  &__periodicity {
    @include body;
    font-size: 0.86rem;
    color: $dark50;
    margin: .14rem 0 0 .43rem;
    display: inline-block;
  }

  &__label-wrapper {
    margin: 1.29rem 0 0 .21rem;
  }

  &__label {
    @include h3;
    color: $dark100;
    margin-bottom: .14rem;
    display: inline-block;

    &:first-child {
      margin-right: 6.86rem;
    }
  }

  &__form {
    margin: .29rem 0 0 0;
  }

  &__sum-guests-wrapper {
    padding: 1.43rem 0 0 .21rem;
    width: 22.86rem;
  }

  &__total {
    @include body;
    line-height: 1.29rem;
    margin: 1.64rem 0 0 .36rem;
  }

  &__total-wrapper {
    display: flex;
    justify-content: space-between;
    width: 91%;
    margin: 0 0 1.14rem 0;
    position: relative;
  }

  &__total-description {
    width: 15.71rem;
  }

  &__total-tax {
    background: none;
    border: .07rem solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 50%;
    width: 1.43rem;
    height: 1.43rem;
    position: absolute;
    right: 5.5rem;
    top: -.29rem;
    padding: 0;
  }

  &__sum-wrapper {
    @include h2;
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0 0 .36rem;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 13rem;
      height: .07rem;
      border: .07rem solid $dark25;
      box-sizing: border-box;
      bottom: .14rem;
      left: 4.64rem;
    }
  }

  &__sum {
    margin-right: 1.86rem;
  }

  &__button-wrapper {
    margin-top: 1.7rem;
    width: 22.86rem;
    height: 3.14rem;
  }
}

@media (max-width: 1100px) {
  .order-room {
    width: 320px;
    padding-left: 1.07rem;

    &__number {
      font-size: 1.29rem;
    }

    &__type-room {
      font-size: 0.86rem;
      margin: 0 5rem 0 0;
    }

    &__price {
      font-size: 0.93rem;
    }

    &__label:first-child {
      margin-right: 4.71rem;
    }

    &__total-description {
      font-size: 0.93rem;
      width: 14.29rem;
    }

    &__total-tax {
      right: 2.86rem;
    }

    &__sum-wrapper {
      font-size: 1.29rem;

      &::after {
        width: 8.93rem;
      }
    }

    &__button-wrapper {
      width: 20.3rem;
    }
  }
}
