include ../sum-guests/sum-guests
include ../buttons/buttons

mixin order-room(options)

  -const {totalValue, totalPrice}=options;

  section.order-room
    div.order-room__header

      div.order-room__number-room-wrapper
        span.order-room__number-mark №
        span.order-room__number 888
        span.order-room__type-room люкс
        span.order-room__price 9 990&#8381;
        span.order-room__periodicity в сутки

    div.order-room__label-wrapper
      span.order-room__label прибытие
      span.order-room__label выезд

    form.order-room__form

      +form-element({type: 'date', placeholder: 'дд.мм.гггг',
       modifierForInput: 'for-order-in', jsModifierForInput: 'for-order-in',
       modifierForLabel: 'for-order'})

      +form-element({type: 'date', placeholder: 'дд.мм.гггг',
        modifierForInput: 'for-order-out', jsModifierForInput: 'for-order-out',
        modifierForLabel: 'for-order'})

      +sum-guests({modifier: 'for-order', head: 'гости'})

    div.order-room__total
      each value, index in totalValue

        if index >= totalValue.length-2
          div.order-room__total-wrapper
            span.order-room__total-description #{value}
            button.order-room__total-tax !
            span.order-room__total-price #{totalPrice[index]}

        else
          div.order-room__total-wrapper
            span.order-room__total-description #{value}
            span.order-room__total-price #{totalPrice[index]}

    div.order-room__sum-wrapper
      span.order-room__sum-label Итого
      span.order-room__sum 38 081₽

    +buttons({type: 'buy', content: 'забронировать', linkModifier: 'for-order'})

