include ../sum-guests/sum-guests
include ../buttons/buttons

mixin order-room(arrTotalDesc, arrTotalPrice)

  section.order-room
    div.order-room__header

      div.order-room__number-room-wrapper
        span.order-room__number-mark №
        span.order-room__number 888
        span.order-room__type-room люкс
        span.order-room__price 9 990&#8381;
        span.order-room__periodicity в сутки

    div.order-room__label-wrapper
      span.order-room__label прибытие
      span.order-room__label выезд

    form.order-room__form
      +form-element('date', 'дд.мм.гггг', 'form-element__field_for-order-in js-form-element__field_for-order-in', 'form-element_for-order')
      +form-element('date', 'дд.мм.гггг', 'form-element__field_for-order-out js-form-element__field_for-order-out', 'form-element_for-order')
      +sum-guests('sum-guests_for-order')

    div.order-room__total
      each value, index in arrTotalDesc

        if index >= arrTotalDesc.length-2
          div.order-room__total-wrapper
            span.order-room__total-description #{value}
            button.order-room__total-tax !
            span.order-room__total-price #{arrTotalPrice[index]}

        else
          div.order-room__total-wrapper
            span.order-room__total-description #{value}
            span.order-room__total-price #{arrTotalPrice[index]}

    div.order-room__sum-wrapper
      span.order-room__sum-label Итого
      span.order-room__sum 38 081₽

    +buttons('buy', 'забронировать', undefined, 'buttons_for-order')

