include ../ui-control/ui-control

mixin review(options)

  -
    const {head, date, description, path, typeOfButton, numberOfLikes, isRoomModifier}=options;

    const descriptionModifier = isRoomModifier ? 'review__description_for-room-description' : '';

  section.review
    img.review__icon(src=path alt="фото аватар")
    h3.review__name=head
    span.review__date=date

    div.review__wrapper
      div.review__button-wrapper
        +ui-control({isBorder: true, content: numberOfLikes, type: typeOfButton})
      p.review__description(class=descriptionModifier)=description
