@import '../../style/mixins/text';
@import '../../style/variables/variables';

.review {
  @include body;
  position: relative;

  &__icon {
    box-shadow: 0 .71rem 1.43rem rgba(31, 32, 65, 0.1);
    border: .14rem solid #FFFFFF;
    border-radius: 50%;
    width: 3.14rem;
    height: 3.14rem;
  }

  &__name {
    font-weight: 700;
    margin: .1rem 0 0 .7rem;
    display: inline-block;
    vertical-align: top;
  }

  &__date {
    position: absolute;
    top: 1.75rem;
    left: 4.2rem;
  }

  &__wrapper {
    display: flex;
    margin: 0 0 0 .43rem;
  }

  &__description {
    margin: .2rem 0 0 1.1rem;
    width: 46.79rem;

    &_for-room-description {
      max-width: calc(100% - 8.9rem);
    }
  }
}

@media (max-width: 800px) {
  .review__description {
    font-size: 0.8rem;
    width: 80%;
  }
}
