mixin form-element(options)

  -
    const { type, placeholder, isJsInputClass, typeOfInput, label } = options;

    const classes = {
      default: 'form-element',
      dropdown: 'form-element_type_dropdown',
      masked: 'form-element_type_masked js-form-element_type_masked',
      date: 'form-element_type_date',
      subscription: 'form-element_type_subscription',
      password: 'form-element_type_password',
      hidden: 'form-element_type_hidden',
    };

    const jsInputClass = isJsInputClass ? 'js-form-element__field' : '';

  label.form-element(class = classes[type])
    input.form-element__field(type = typeOfInput || 'text' placeholder = `${placeholder}` class = jsInputClass)
