@import "../../style/variables/variables";
@import "../../style/mixins/hide";
@import "../../style/mixins/text";

.form-element{
  &__field{
    width: 22.86rem;
    border: .07rem solid $dark25;
    box-sizing: border-box;
    border-radius: .29rem;
    padding: .64rem 1.07rem;
    @include body;
    &::placeholder{
      color: $dark25;
      font-size: 1rem;
      font-family: Montserrat, sans-serif;
    }
    &_text::placeholder{
      text-transform: capitalize;
    }
    &:hover, &:focus{
      border: .07rem solid $dark50;
      &::placeholder{
        color: $dark75;
      }
    }
    &_date{
      width: 10.71rem;
    }
    &_for-filter{
      width: 19rem;
    }
    &_for-datepicker-range, &_for-rooms{
      width: 19rem;
    }
    &_for-guests{
      width: 22.86rem;
      &::placeholder{
        text-transform: none;
      }
    }
    &_for-sign-in{
      width: 22.86rem;
      margin: .43rem 0 .29rem 0;
    }
    &_for-registration{
      width: 22.86rem;
      margin: 0 0 .71rem 0;
      &.form-element__field_for-password{
        margin-bottom: 0;
      }
      &.form-element__field_date::placeholder{
        color: $dark25;
      }
    }
    &_hide{
      @include hide;
    }

    &_masked{
      &::placeholder{
        text-transform: uppercase;
      }
    }
    &_date#{&}{
      &::placeholder{
        text-transform: uppercase;
        color: $dark75;
      }
    }
    &_dropdown::placeholder{
      color: $dark75;
    }
    &_for-footer-widget{
      width: 18.57rem;
      margin: 1.43rem 0 0 0;
    }
    &_subscription{
      width: 19rem;
    }
  }

  &_date{
    display: inline-block;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 3.14rem;
      height: 3.14rem;
      background: url("./icon-expand.svg") no-repeat;
      right: -1.14rem;
      top: 1.29rem;
    }
    &.form-element{
      &_for-search{
        padding: 0 1.5rem 0 0;
        &::after{
          right: 0.36rem;
        }
      }
      &_for-order{
        padding: 0 1.21rem 0 .21rem;
        &::after{
          right: .07rem;
        }
      }
    }
  }

  &_for-main-ui{
    padding: 0 0 .71rem 0;
  }

  &_dropdown{
    display: inline-block;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 3.14rem;
      height: 3.14rem;
      background: url("./icon-expand.svg") no-repeat;
      right: -1.14rem;
      top: 1.29rem;
    }
  }

  &_for-guests{
    display: inline-block;
    padding-top: .36rem;
    width: min-content;
    &.form-element_for-filter, & .form-element__field_for-filter{
      width: 19rem;
    }
    &::after{
    top: 1.65rem
    }
  }
  &_for-filter{
    width: 19rem;
    padding-top: .29rem;
    &::after{
      top: 1.58rem;
    }
  }

  &_for-footer-widget#{&}_subscription{
    &::after{
      top: 2.36rem;
    }
  }

  &_subscription{
    position: relative;
    display: inline-block;
    &::after{
      position: absolute;
      content: '';
      width: 3.14rem;
      height: 3.14rem;
      background: url("./icon-arrow-forward.svg") no-repeat;
      right: -1rem;
      top: .93rem;
    }
  }

  &_for-hide-datepicker{
    @include hide;
  }
}


@media (max-width: 1100px) {
  .form-element{
    &_date{
      &.form-element_for-search{
        width: 8.57rem;
      }
    }
    &_dropdown{
      &.form-element_for-guests{
        width: 18.57rem;
      }
    }

    &_for-main-ui{
      & .form-element__field{
        &_date{
          width: 10.71rem;
        }
      }
    }

    &__field{
      &_for-main-ui{
        width: 18.57rem;
      }
      &_for-guests{
        width: 18.57rem;
      }
      &__field_subscription{
        width: 19rem;
      }
      &_for-search-in, &_for-search-out,
      &_for-order-in, &_for-order-out{
        width: 8.57rem;
        &::placeholder{
          font-size: 0.86rem;
        }
      }
    }
  }

  .form-element__field.form-element__field_subscription.form-element__field_for-footer-widget{
    padding: .86rem 1rem;
    width: 15.71rem;
    &::placeholder{
      font-size: 0.86rem;
    }
  }
}

@media (max-width: 450px) {
  .form-element{
    &__field_for-sign-in.form-element__field_text{
      margin: .43rem 1.43rem .29rem 0;
    }
    &_for-registration{
      width: 18.57rem;
    }

    &__field{
      &_date {
        width: 8.5rem;
        &::placeholder{
          font-size: 0.86rem;
        }
      }
      &_for-registration#{&}_text, &_for-registration#{&}_date,
      &#{&}_for-sign-in{
        width: 18.57rem;
      }
    }
  }
}
