@import '../../style/mixins/rectangle';
@import '../../style/mixins/text';

.search-room {
  @include rectangle;

  @media (max-width: 1100px) {
    width: 22.86rem;
  }

  &_with-position_absolute {
    @media (max-width: 800px) {
      top: .5rem;
    }
  }

  &__head {
    @include h1;
    line-height: 2.07rem;
    width: 20rem;
    margin: 2.93rem 0 0 0;

    @media (max-width: 1100px) {
      font-size: 1.5rem;
    }
  }

  &__label {
    margin: 1.6rem 1.43rem .5rem 0;
    width: 10.71rem;
    display: inline-block;

    @media (max-width: 1100px) {
      width: 8.57rem;
    }
  }

  &__label, &__sum-guests-label {
    text-transform: uppercase;
    font-size: 0.86rem;
    font-weight: 700;
  }

  &__sum-guests-label {
    margin: 0 0 .35rem 0;
  }

  &__sum-guests-wrapper {
    text-transform: uppercase;
    font-size: 0.86rem;
    font-weight: 700;
    padding: 1.57rem 0 0 0;
    width: 22.86rem;

    @media (max-width: 1100px) {
      width: 18.57rem;
    }
  }

  &__button-wrapper {
    margin-top: 2.3rem;
    width: 22.86rem;
    height: 3.14rem;

    @media (max-width: 1100px) {
      width: 18.57rem;
    }
  }
}


