include ../sum-guests/sum-guests
include ../ui-datepicker/ui-datepicker

mixin searchRoom(absolute)

  section(class=['search-room',
  `${absolute ? 'search-room_absolute':''}`])
    h2.search-room__head Найдём номера под ваши пожелания

    div.search-room__check
      div.search-room__label-wrapper
        span.search-room__label прибытие
        span.search-room__label выезд

      form.search-room__form
        +ui-datepicker({ type: 'double', modifierForInput: 'for-search',
        modifierForLabel: 'for-search' })

        +sum-guests({head: 'гости'})
        +button({type:'buy', content: 'Подобрать номер', linkModifier: 'for-search'})
