include ../sum-guests/sum-guests
include ../ui-datepicker/ui-datepicker
include ../ui-control/ui-control

mixin searchRoom(absolute)

  -const classModifier = absolute ? 'search-room_with-position_absolute' : '';

  section.search-room(class=classModifier)
    h2.search-room__head Найдём номера под ваши пожелания

    div.search-room__check
      div.search-room__label-wrapper
        span.search-room__label прибытие
        span.search-room__label выезд

      form.search-room__form
        +ui-datepicker({ type: 'double', modifierForInput: 'for-search',
        modifierForLabel: 'for-search' })

        div.search-room__sum-guests-wrapper
          +sum-guests({head: 'гости'})
        div.search-room__button-wrapper
          +ui-control({content: 'Подобрать номер', type: 'filled', isArrow: true})
