include ../sum-guests/sum-guests
include ../datepickers/datepickers
include ../ui-control/ui-control

mixin searchRoom()

  section.search-room(class = classModifier)
    h2.search-room__head Найдём номера под ваши пожелания

    div.search-room__check
      div.search-room__label-wrapper
        h3.search-room__label прибытие
        h3.search-room__label выезд

      form.search-room__form(action= 'filter.html')
        +datepickers({ type: 'double' })

        div.search-room__sum-guests-wrapper
          h3.search-room__sum-guests-label гости
          +sum-guests()
        div.search-room__button-wrapper
          +ui-control({ content: 'Подобрать номер', type: 'filled', isArrow: true })
