include ../socialButtons/socialButtons

mixin footer
  footer.footer
    img.footer__logo(src="./blocks/common/icon-logo.svg")
    p.footer__description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    +socialButtons