@import "../../style/mixins/text";

.footer{
  flex-direction: column;
  display: flex;
  align-items: center;
  &__logo{
    margin: 7.14rem 0 0 1.43rem;
  }

  &__description{
    @include body;
    width: 40rem;
    margin: 1.29rem 0 0 1.57rem;
    text-align: center;
  }
}

@media (max-width: 620px) {
  .footer__description{
    width: 21.43rem;
  }
}
