@import '../../style/mixins/text';

.footer {
  flex-direction: column;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  padding-bottom: 7.9rem;

  &__logo {
    margin: 7.14rem 0 0 0;
  }

  &__description {
    @include body;
    width: 40rem;
    margin: 1.29rem 0 2rem 0;
    text-align: center;
  }

  &__buttons-wrapper {
    margin-right: 1.4rem
  }
}

@media (max-width: 620px) {
  .footer__description {
    width: 21.43rem;
  }
}
