include ../datapicker/datepicker
include ../sumGuestsRooms/sumGuests
include ../buttons/buttons

mixin orderRoom(arrTotalDesc, arrTotalPrice)
  section.order-room
    div.order-room__header
      div.order-room__number-room-wrapper
        span.order-room__number-mark №
        span.order-room__number 888
        span.order-room__type-room люкс
        span.order-room__price 9 990&#8381;
        span.order-room__periodicity в сутки
    div.order-room__label-wrapper
      span.searchRoom__label прибытие
      span.searchRoom__label выезд
    form.order-room__form
      +datapicker('order-room__input-in')
      +datapicker('order-room__input-out')
      +sumGuests('guests', 'order-room__guests guests')
    div.order-room__total
      each value, index in arrTotalDesc
        if index >= arrTotalDesc.length-2
          div.order-room__total-wrapper
            span.order-room__total-description #{value}
            button.order-room__total-tax !
            span.order-room__total-price #{arrTotalPrice[index]}
        else
          div.order-room__total-wrapper
            span.order-room__total-description #{value}
            span.order-room__total-price #{arrTotalPrice[index]}
    div.order-room__sum-wrapper
      span.order-room__sum-label Итого
      span.order-room__sum 38 081₽
    +buttons('buy', 'забронировать')

