@mixin rectangle {
    width: 27.14rem;
    height: 26.71rem;
    border-radius: .29rem;
    box-sizing: border-box;
    box-shadow: 0 0 1.79rem rgba(0, 0, 0, 0.2);
    border: .07rem solid rgba(0, 0, 0, 0.12);
    background: #FFFFFF;
    padding-left: 2.2rem;
}
