@import "../mixins/rectangle";
@import "../mixins/hide";
@import "../variables/variables";
@import "../mixins/text";

.card-room{
  @include rectangle;
  padding: 0;
  width: 270px;
  height: 258px;
  display: inline-block;
  position: relative;
  & .card-room__mark:first-child{
    background: #FFFFFF;
  }
  &::after{
    position: absolute;
    content: '';
    width: 230px;
    height: 1px;
    background: $dark10;
    z-index: 10;
    bottom: 49px;
    left: 20px;
  }
  &.card-room_for-filter{
    margin: 0 12px 20px 0;
  }
  &__image_hide{
    @include hide;
  }
  &__radio{
    @include hide;
  }
  &__form{
    position: absolute;
    width: 50px;
    top: 125px;
    left: 213px;
  }
  &__mark{
    width: 7.5px;
    height: 7.5px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(31, 32, 65, 0.3);
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px 0 0;
    background: none;
    cursor: pointer;
  }
  &__arrow{
    width: 15px;
    height: 15px;
    background: url("./icon-expand-white.svg") no-repeat;
    border: none;
    cursor: pointer;
    &.card-room__arrow{
      &_next{
        transform: rotate(180deg);
        margin-right: 18px;
      }
      &_prev{
        margin-left: 18px;
      }
    }
  }
  &__arrows-wrapper{
    position: absolute;
    top: 69px;
    display: flex;
    justify-content: space-between;
    width: 270px;
  }
  &__image {
    width: 270px;
  }
  &__wrapper{
    position: relative;
  }
  &__number-room-wrapper {
    margin: 25px 0 0 0;
    width: 50%;
    display: inline-block;
  }
  &__number{
    @include h2;
    margin: 0 7px 0 6px;
  }
  &__number-mark{
    @include h2;
    font-size: 14px;
    margin-left: 20px;
  }
  &__type-room{
    @include body;
    color: $purple;
    font-weight: bold;
    line-height: normal;
  }
  &__price-wrapper{
    width: 50%;
    display: inline-block;
    text-align: end;
  }
  &__price{
    @include body;
    color: $dark50;
    font-weight: bold;
    &.card-room__price_normal{
    }
  }
  &__periodicity{
    @include body;
    font-size: 12px;
    margin: 0 17px 0 6px;
  }
  &__number-review{
    display: inline-block;
    @include body;
    font-weight: bold;
    color: $dark50;
    line-height: 18px;
    vertical-align: top;
    margin: 21px 0 0 0;
    width: 45%;
    text-align: end;
  }
  &__number-review-word{
    font-weight: normal;
    text-transform: none;
    margin-left: 4px;
    margin-right: 12px;

  }
}
