@import '../../style/mixins/rectangle';
@import '../../style/mixins/hide';
@import '../../style/variables/variables';
@import '../../style/mixins/text';

.card-room {
  @include rectangle;
  padding: 0;
  width: 19.29rem;
  height: 18.43rem;
  display: inline-block;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 16.43rem;
    height: .071rem;
    background: $dark10;
    z-index: 10;
    bottom: 3.5rem;
    left: 1.43rem;
  }

  &__image {
    width: 19.29rem;

    &_hidden {
      @include hide;
    }
  }

  &__form {
    position: absolute;
    width: 3.57rem;
    top: 8.93rem;
    left: 15.21rem;
  }

  &__mark {
    width: .54rem;
    height: .54rem;
    border: .07rem solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 .36rem .36rem rgba(31, 32, 65, 0.3);
    border-radius: 50%;
    display: inline-block;
    margin: 0 .29rem 0 0;
    background: none;
    cursor: pointer;

    &_filled {
      background: #FFFFFF;
    }
  }

  &__radio {
    @include hide;
  }

  &__arrows-wrapper {
    position: absolute;
    top: 4.93rem;
    display: flex;
    justify-content: space-between;
    width: 19.29rem;
  }
  
  &__arrow {
    width: .57rem;
    height: .93rem;
    background: url('./images/icon-expand-white.svg') no-repeat;
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
    outline: none;

      &_type_next {
        transform: rotate(180deg);
        margin-right: 1.29rem;
      }

      &_type_prev {
        margin-left: 1.29rem;
      }

      &:focus {
        outline: .071rem dashed #FFFFFF;
      }
  }

  &__number {
    @include h2;
    margin: 0 .5rem 0 .43rem;

    &-room-wrapper {
      margin: 1.79rem 0 0 0;
      width: 50%;
      display: inline-block;
    }

    &-mark {
      @include h2;
      font-size: 1rem;
      margin-left: 1.43rem;
    }
  }

  &__type-room {
    @include body;
    color: $purple;
    font-weight: bold;
    line-height: normal;
  }

  &__price-wrapper {
    width: 50%;
    display: inline-block;
    text-align: end;
  }

  &__price {
    @include body;
    color: $dark50;
    font-weight: bold;
  }

  &__periodicity {
    @include body;
    font-size: .86rem;
    margin: 0 1.21rem 0 .43rem;
  }

  &__rate-wrapper {
    display: inline-block;
    margin: 1.07rem 0 0 1.43rem;
  }
  
  &__number-review {
    display: inline-block;
    @include body;
    font-weight: bold;
    color: $dark50;
    line-height: 1.29rem;
    vertical-align: top;
    margin: 1.5rem 0 0 0;
    width: 45%;
    text-align: end;
  }

  &__number-review-word {
    font-weight: normal;
    text-transform: none;
    margin-left: .29rem;
    margin-right: .86rem;
  }
}
