@import "../../style/variables/variables";
@import "../../style/mixins/text";
@import "../../style/variables/variables";

.footer-widget{
  display: flex;
  flex-wrap: wrap;

  &__subscribe-head{
    @include h3;
    color: $dark100;
  }

  &__logo-wrapper{
    width: 18%;
    margin: 100px 2.8% 116px 9.7%;
  }

  &__description{
    @include body;
    margin-top: 12px;
  }

  &__subscribe-wrapper{
    margin: 90px 0 0 0;
    width: 18%;
  }

  &__subscribe-description{
    @include body;
    margin: 20px 0 0 0;
  }
}

@media (max-width: 1200px) {
  .footer-widget__subscribe-wrapper{
    width: 16%;
  }
}

@media (max-width: 1250px) {
  .footer-widget{
    flex-wrap: wrap;
    justify-content: center;
    & #{&}__logo-wrapper,
    &__subscribe-wrapper{
      margin: 50px 2.8% 116px 0;
      width: 260px;
    }

    &__logo-wrapper{
      margin: 100px 2.8% 50px 2%;
    }
  }
}

@media (max-width: 900px) {
  .footer-widget__logo-wrapper{
    margin: 100px 2.8% 0 2%;
  }
}

@media (max-width: 620px) {
  .footer-widget{
    &__logo {
      width: 80px;
      &-wrapper{
        width: 120px;
        margin: 50px 2.8% 0 2%;
      }
    }

    &__subscribe-wrapper{
      margin: 50px 0 50px 0;
    }
  }
}
