include ../form-element/form-element
include ../copyright/copyright
include ../footer-list/footer-list

mixin footer-widget(options)

  -
    const {description, headNavigation, navigationItems, headAbout, aboutItems,
     headSupport, supportItems, headSubscribe,subscribeDescription, placeholderEmail,
     copyrightText}=options;

  footer(class=['footer-widget'])
    div.footer-widget__logo-wrapper
      img.footer-widget__logo(src=require('../img/icon-logo.svg') alt='image logo')
      p.footer-widget__description=description

    div.footer-widget__list-wrapper
      +footer-list({head:headNavigation, items:navigationItems})

    div.footer-widget__list-wrapper
      +footer-list({head:headAbout, items:aboutItems})

    div.footer-widget__list-wrapper
      +footer-list({head:headSupport, items:supportItems})

    div.footer-widget__subscribe-wrapper
      h3.footer-widget__subscribe-head=headSubscribe
      div.footer-widget__subscribe-description=subscribeDescription

      +form-element({type: 'subscription', placeholder: placeholderEmail,
        modifierForInput: 'for-footer-widget', modifierForLabel: 'for-footer-widget'})

    +copyright(copyrightText)






