@import '../../style/variables/variables';
@import '../../style/mixins/text';
@import '../../style/variables/variables';

.footer-widget {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    padding-left: 9.8%;
  }

  &__logo-wrapper {
    max-width: 18.57rem;
    margin: 7rem 3% 8.29rem 0;
  }

  &__description {
    @include body;
    margin-top: 1.17rem;
    line-height: 1.71rem;
  }

  &__list-wrapper {
    padding: 6.43rem 3.1% 0 0;
    width: 11.43rem;
  }

  &__subscribe {
    &-wrapper {
      margin: 6.43rem 0 0 0;
      max-width: 18.57rem;
    }

    &-head {
      @include h3;
      color: $dark100;
    }

    &-description {
      @include body;
      margin: 1.5rem 0 1.6rem 0;
      line-height: 1.71rem;
    }
  }
}

@media (max-width: 620px) {
  .footer-widget {
    &__logo-image {
      width: 5.71rem;

      &-wrapper {
        width: 8.57rem;
        margin: 3.57rem 2.8% 0 2%;
      }
    }

    &__logo-wrapper {
      margin-top: 4.5rem;
    }

    &__list-wrapper {
      width: 8.57rem;
      padding: 3.57rem 2.8% 0 0;
    }

    &__subscribe-wrapper {
      margin: 3.57rem 0 3.57rem 0;
    }
  }
}

@media (max-width: 460px) {
  .footer-widget__wrapper {
    padding-left: 5%;
  }
}
