@import "../variables/variables";
@import "../mixins/text";
@import "../variables/variables";

.footer-widget{
  display: flex;
  flex-wrap: wrap;
  &_for-registration{
    & .footer-widget{
      &__logo-wrapper{
        margin: 110px 2.8% 116px 11.5%;
      }
      &__subscribe-wrapper {
        margin: 105px 0 0 0;
      }
    }
  }
  &__subscribe-head{
    @include h3;
    color: $dark100;
  }
}
.footer-widget__logo-wrapper{
  width: 18%;
  margin: 100px 2.8% 116px 9.7%;
}
.footer-widget__description{
  @include body;
  margin-top: 18px;
}
.footer-widget__subscribe-wrapper{
  margin: 95px 0 0 0;
  width: 18%;
}
.footer-widget__subscribe-description{
  @include body;
  margin: 20px 0 0 0;
}

@media (max-width: 1200px) {
  .footer-widget__subscribe-wrapper{
    width: 16%;
  }
}

@media (max-width: 1250px) {
  .footer-widget{
    flex-wrap: wrap;
    justify-content: center;
    & .footer-widget__logo-wrapper,
    .footer-widget__subscribe-wrapper{
      margin: 50px 2.8% 0 0;
    }
    &__subscribe-wrapper{
      width: 260px;
      margin-bottom: 116px;
    }
  }
  .footer-widget__logo-wrapper{
    margin: 100px 2.8% 50px 2%;
  }
}

@media (max-width: 900px) {
  .footer-widget__logo-wrapper{
    margin: 100px 2.8% 0 2%;
  }
}

@media (max-width: 620px) {
  .footer-widget__logo {
    width: 80px;
  }
  .footer-widget__logo-wrapper{
    width: 120px;
    margin: 50px 2.8% 0 2%;
  }
  .footer-widget__subscribe-wrapper{
    margin: 50px 0 50px 0;
  }
}
