include ../form-element/form-element
include ../copyright/copyright
include ../footer-list/footer-list

mixin footer-widget(options)

  -
    const {description, headers, items, headSubscribe,subscribeDescription, placeholderEmail,
     copyrightText}=options;

  footer.footer-widget
    div.footer-widget__logo-wrapper
      img.footer-widget__logo(src=require('../img/icon-logo.svg') alt="image logo")
      p.footer-widget__description=description

    each head, index in headers
      div.footer-widget__list-wrapper
        +footer-list({ head, items: items[index] })

    div.footer-widget__subscribe-wrapper
      h3.footer-widget__subscribe-head=headSubscribe
      div.footer-widget__subscribe-description=subscribeDescription

      +form-element({type: 'subscription', placeholder: placeholderEmail})

    +copyright(copyrightText)






