include ../footer-widget/footer-widget
include ../side-panel/side-panel
include ../pagination/pagination

-
  const cardRoomData = require('../blocks/main-filter/main-filter.json');

  const { type, numberOfRoom, price, numberOfReviews, numberOfRate } = cardRoomData;

  const rooms = [
    [require('../images/image-room-888.jpg'), require('../images/image-room-982.jpg'), require('../images/image-room-350.jpg'),require('../images/image-room-444.jpg')],
    [require('../images/image-room-840.jpg'), require('../images/image-room-982.jpg'), require('../images/image-room-350.jpg'), require('../images/image-room-444.jpg')],
    [require('../images/image-room-980.jpg'), require('../images/image-room-982.jpg'), require('../images/image-room-350.jpg'), require('../images/image-room-444.jpg')],
    [require('../images/image-room-856.jpg'), require('../images/image-room-982.jpg'), require('../images/image-room-350.jpg'), require('../images/image-room-444.jpg')],
    [require('../images/image-room-740.jpg'), require('../images/image-room-982.jpg'), require('../images/image-room-350.jpg'), require('../images/image-room-444.jpg')],
    [require('../images/image-room-982.jpg'), require('../images/image-room-982.jpg'), require('../images/image-room-350.jpg'), require('../images/image-room-444.jpg')],
    [require('../images/image-room-678.jpg'), require('../images/image-room-982.jpg'), require('../images/image-room-350.jpg'), require('../images/image-room-444.jpg')],
    [require('../images/image-room-450.jpg'), require('../images/image-room-982.jpg'), require('../images/image-room-350.jpg'), require('../images/image-room-444.jpg')],
    [require('../images/image-room-350.jpg'), require('../images/image-room-982.jpg'), require('../images/image-room-350.jpg'), require('../images/image-room-444.jpg')],
    [require('../images/image-room-666.jpg'), require('../images/image-room-982.jpg'), require('../images/image-room-350.jpg'), require('../images/image-room-444.jpg')],
    [require('../images/image-room-444.jpg'), require('../images/image-room-982.jpg'), require('../images/image-room-350.jpg'), require('../images/image-room-444.jpg')],
    [require('../images/image-room-352.jpg'), require('../images/image-room-982.jpg'), require('../images/image-room-350.jpg'), require('../images/image-room-444.jpg')]
  ];

mixin main-filter()

  main.main-filter

    div.main-filter__panel-wrapper
      +side-panel

    section.main-filter__rooms
      h1.main-filter__rooms-head Номера, которые мы для вас подобрали
      
      div.main-filter__cards-wrapper
        each value, index in cardRoomData.value
          -
            const { images, type, numberOfRoom, numberOfRate, price, numberOfReviews } = value;

          div.main-filter__card-wrapper
            +card-room({
              images: rooms[index],
              radioName: 'room-radio-name',
              type,
              numberOfRoom,
              price,
              numberOfReviews,
              numberOfRate,
            })

        div.main-filter__pagination-wrapper
          +pagination(15)
