@import "../mixins/text";
@import "../variables/variables";

.main-filter{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
    bottom: 4px;
  }
  &__rooms{
    width: 60%;
    margin: 0 0 74px 25px;
  }
  &__rooms-head{
    @include h1;
    margin: 40px 0 25px 0;
  }
}

@media (max-width: 1100px) {
  .main-filter{
    &__rooms{
      width: calc(100vw - 6% - 300px);
      margin: 0 auto 70px auto;
    }
    &__rooms-head{
      font-size: 1.29rem;
      line-height: 20px;
    }
  }
}

@media (max-width: 750px) {
  .main-filter__rooms{
    width: 300px;
    margin: 0 auto 70px auto;
  }
}
