@font-face {
  font-family: Quickand-regular;
  src: url('../../fonts/quicksand-regular-webfont.woff') format('woff'),
  url('../../fonts/quicksand-regular-webfont.svg') format('svg'),
  url('../../fonts/quicksand-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat-regular;
  src: url('../../fonts/montserrat-regular-webfont.woff') format('woff'),
  url('../../fonts/montserrat-regular-webfont.svg') format('svg'),
  url('../../fonts/montserrat-regular-webfont.ttf') format('truetype');
}