@import "../mixins/text";
@import "../common/variables";

.filter{
  & .main-filter{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
      bottom: 0;
    }
  }
  & .ui-datepicker{
    width: 264px;
  }
  & .ui-datepicker-title{
    font-size: 16px;
  }
  & .ui-datepicker-next::before{
    left: 180px;
    top: 22px;
  }
  & .ui-datepicker-calendar {
    font-size: 10px;
    margin: 39px 0 0 5px;
  }
  & .ui-datepicker-calendar td, .ui-datepicker-calendar td .ui-state-default {
    margin: 0 15px 11.6px 0;
  }
  & .ui-datepicker-buttonpane .ui-datepicker-close {
    margin-right: 40px;
  }
}
.side-panel{
  width: 22%;
  margin: 31px 0 0 140px;
  & .range__label{
    display: inline-block;
    width: 120px;
    margin: 0 0 0 16px;
  }
  & .checkbox__label{
    margin: 0 0 12px 10px;
  }
  & .checkbox__label--rich{
    &::before{
      top: -3px;
    }
    & .checkbox__span{
      margin: 5px 0 0 0;
    }
  }
  & .checkbox__input:checked + .checkbox__label--rich::after{
    top: 1px
  }
  & .checkbox__head{
    margin: 30px 0 18px 0;
  }
}
.side-panel__slogan{
  @include h3;
  color: $dark100;
  margin: 0 0 5px 0;
  &.side-panel__slogan--guests{
    margin-top: 22px;
  }
  &.side-panel__slogan--range{
    margin: 31px 0 24px 0;
    display: inline-block;
  }
  &.side-panel__slogan--checkbox{
    margin: 29px 0 17px 0;
  }
  &.side-panel__slogan--checkbox-rich{
    margin: 32px 0 19px 0;
  }
  &.side-panel__slogan--rooms{
    margin: 28px 0 7px 0;
  }
}
.side-panel__sumGuests{
  color: $dark100;
  @include h3;
  display: block;
  & .input{
    width: 265px;
    margin-top: 5px;
  }
  & .input__label-dropdown::after{
    right: -17px;
    top: 21px;
  }

}
.side-panel__range-reference{
  @include h3;
  color: $dark50;
  text-transform: inherit;
  margin-top: 15px;
}
.rooms{
  width: 60%;
  margin: 0 0 70px 8px;
  & .cardRoom{
    margin: 0 12px 20px 0;
  }
  & .pagination{
    width: 324px;
    margin: 0 auto;
  }
}
.rooms__head{
  @include h1;
  margin: 32px 0 20px 0;
  letter-spacing: -1.5px;
}