@import "../mixins/text";

.index-header{
  background: #FFFFFF;
  z-index: 100;
  position: relative;
  & .nav-standart__list{
    margin: 5px 0 0 19.8%;
    width: 460px;
  }
  .nav-standart__item{
    &:not(:last-child) {
      margin: 0 20px 0 0;
    }
    .nav-standart__link--expand{
      padding: 0 23px 0 0;
      &::after{
        right: 3px;
      }
    }
  }
  & .nav-standart .button__wrapper{
    margin: 17px 0 0 4px;
  }
  & .button__border{
    padding: 7px 17px;
    background-size: 100% 100%;
  }
}
.main{
  height: 830px;
  position: relative;
  display: block;
  & .searchRoom{
    position: absolute;
    top: 70px;
    left: 9.6%;
  }
  .main__background{
    background: url("../../img/image-back-1.png") no-repeat;
    width: 100%;
    height: 100%;
    &.main__gallery {
      animation: move 4s 1;
      @keyframes move {
        0% {
          opacity: 0;
          animation-timing-function: ease-in;
        }
        50% {
          opacity: .5;
          animation-timing-function: ease-in;
        }
        100% {
          opacity: 1;
          animation-timing-function: ease-in;
        }
      }
    }
  }
}
.main__slogan{
  position: absolute;
  bottom: 20px;
  @include body;
  width: 300px;
  right: 9%;
  text-align: end;
}
@media (max-width: 1260px) {
  .index-header{
    & .nav-standart__list{
      margin: 5px 0 0 10%;

    }
  }
}
@media (max-width: 1100px) {
  .index-header{
    & .nav-standart__list{
      font-size: 12px;
      margin: 5px 0 0 5%;
      width: 410px;
    }
    & .button__border{
      padding: 10px 15px;
    }
    & .button__full{
      font-size: 8px;
    }
  }
}
@media (max-width: 800px) {
  .index-header{
    .nav-standart__logo{
      width: 90px;
    }
    .nav-standart {
      & .button__border {
        padding: 10px 15px;
      }
    }
  }
}
@media (max-width: 500px) {
  .index-header{
    & .nav-standart{
      flex-wrap: wrap;
      justify-content: center;
      height: 95px;
      & .button__wrapper{
        margin: 10px 0 0 4px;
      }
      & .button__full{
        margin: 10px 0 0 21px;
      }
    }
    & .nav-standart__list{
      width: 50%;
    }
    & .nav-standart__button-mobile{
      margin: 12px 0 0 20px;
    }
  }
  .index-header .nav-standart .button__wrapper {

  }
}
@media (max-width: 399px) {
  .index-header{
    & .nav-standart__list{
      top: 50px;
      right: 4%;
    }
  }
    .main .searchRoom{
      left: 0;
    }

}