@import "../mixins/text";

.index-header{
  background: #FFFFFF;
  z-index: 100;
  position: relative;
  .nav-standart__item{
    &:not(:last-child) {
      margin: 0 21px 0 0;
    }
    .nav-standart__link_expand{
      padding: 0 23px 0 0;
      &::after{
        right: 3px;
      }
    }
  }
}
.main{
  height: 830px;
  position: relative;
  display: block;
  & .search-room{
    position: absolute;
    top: 70px;
    left: 9.6%;
  }
  .main__background{
    background: url("../../img/image-back-1.jpg") no-repeat;
    width: 100%;
    height: 100%;
    &.main__gallery {
      animation: move 4s 1;
      @keyframes move {
        0% {
          opacity: 0;
          animation-timing-function: ease-in;
        }
        50% {
          opacity: .5;
          animation-timing-function: ease-in;
        }
        100% {
          opacity: 1;
          animation-timing-function: ease-in;
        }
      }
    }
  }
}
.main__slogan{
  position: absolute;
  bottom: 20px;
  @include body;
  width: 300px;
  right: 9.3%;
  text-align: end;
}
@media (max-width: 800px) {
  .index-header{
    .nav-standart__logo{
      width: 90px;
    }
    .nav-standart {
      & .button__border {
        padding: 10px 15px;
      }
    }
  }
}
@media (max-width: 500px) {
  .index-header{
    & .nav-standart{
      flex-wrap: wrap;
      justify-content: center;
      & .button__wrapper{
        margin: 10px 0 0 4px;
      }
    }
    & .nav-standart__list{
      width: 50%;
    }
  }
}
@media (max-width: 399px) {
    .main .search-room{
      left: 0;
    }

}