@import "../mixins/text";
@import "../common/variables";

.room-detail{
  position: relative;
  &::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
    box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
    bottom: 0;
  }
}
.room-detail__image-wrapper{
  display: flex;
}
.room-detail__images-aside{
  display: flex;
  flex-wrap: wrap;
}
.room-description{
  margin: 71px 0 0 9.6%;
  & .features__slogan{
    padding: 0 0 0 58px;
    &::before{
      left: 7px;
    }
  }
  & .features__description {
    margin: 0 0 0 58px;
  }
  & .features__wrapper:last-child{
    margin: 0;
  }
  & .review{
    margin: 17px 0 19px 0;

  }
}
.room-description__container{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.room-detail__room-description{
  display: flex;
  flex-wrap: wrap;
  & .orderRoom{
    margin-left: 2px;
  }
}
.room-description__features-head, .room-description__pie-chart-head,
.room-description__review-head, .room-description__rules-head,
.room-description__cancel-head{
  @include h2;
  letter-spacing: -1.2px;
  margin: 0 0 22px 0;
}
.room-description__pie-chart-wrapper{
  margin: 0 0 0 13.5%;
  position: relative;
  .room-description__pie-chart-head{
    margin: 0 0 15px 0;
  }
}
.pie-chart-outer{
  position: absolute;
  top: 38px;
}
.room-description__review{
  position: relative;
}
.room-description__review-head{
  margin: 35px 0 0 0;
  display: inline-block;
}
.room-description__review-number{
  @include body;
  color: $dark50;
  position: absolute;
  right: 68px;
  top: 36px;
}
.room-description__rules{
  margin: 12px 0 0 0;
  & .bullet{
    margin: 20px 0 0 0;
    width: 260px;
  }
}
.room-description__rules-head{
  margin: 0 0 0 21px;
}
.room-description__cancel{
  margin: 14px 0 90px 8%;
}
.room-description__cancel-paragraph{
  width: 350px;
  @include body;
  margin: 18px 0 0 0;
}
.room-description__cancel-head{
  margin: 0 0 0 0;
}