@import "../mixins/text";
@import "../common/variables";

.room-detail{
  position: relative;
  &::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
    box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
    bottom: 0;
  }
  & .buttons__for-rate{
    margin-top: 2px;
  }
  & .guests .input{

  }
}
.room-detail__image-wrapper{
  display: flex;
  & .room-detail__image{
  }
   &> .room-detail__image:first-child{
     flex-basis: 68.1%;
     width: 68.1%;
   }
}
.room-detail__images-aside{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 31.9%;
  & .room-detail__image{
    width: 100%;
  }
}
.room-description{
  margin: 70px 0 0 9.5%;
  & .features__slogan{
    &::before{
      left: 7px;
    }
  }
  & .features__wrapper:last-child{
    margin: 0;
  }
  & .review{
    margin: 18px 0 17px 0;

  }
}
.room-description__container{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 7px;
}
.room-detail__room-description{
  display: flex;
  flex-wrap: wrap;
  & .orderRoom{
    margin-left: 2px;
  }
}
.room-description__features-head, .room-description__pie-chart-head,
.room-description__review-head, .room-description__rules-head,
.room-description__cancel-head{
  @include h2;
  margin: 0 0 24px 0;
}
.room-description__pie-chart-wrapper{
  margin: 3px 0 0 13.7%;
  position: relative;
  .room-description__pie-chart-head{
    margin: 0 0 15px 0;
  }
}
.pie-chart__outer{
  position: absolute;
  top: 30px;
}
.room-description__review{
  position: relative;
}
.room-description__review-head{
  margin: 42px 0 0 0;
  display: inline-block;
}
.room-description__review-number{
  @include body;
  color: $dark50;
  position: absolute;
  right: 68px;
  top: 36px;
}
.room-description__rules{
  margin: 20px 0 0 0;
  & .bullet{
    margin: 23px 0 0 3px;
    width: 260px;
  }
}
.room-description__rules-head{
  margin: 0 0 0 21px;
}
.room-description__cancel{
  margin: 20px 0 90px 13.2%;
}
.room-description__cancel-paragraph{
  width: 344px;
  @include body;
  margin: 20px 0 0 0;
}
.room-description__cancel-head{
  margin: 0 0 0 0;
}
@media (max-width: 1300px) {
  .room-description__pie-chart-wrapper {
    margin: 0 0 0 5%;
  }
  .room-description__cancel {
    margin: 14px 0 90px 0;
  }
}

@media (max-width: 1056px) {
  .room-detail__images-aside{
    width: 40%;
  }
  .room-description__container{
    width: 100%;
  }
  .room-description__pie-chart-wrapper{
    margin: 0 0 0 8%;
  }
  .room-description__review{
    width: 82%;
  }
  .room-detail__room-description .orderRoom{
    margin: 0 auto 90px auto;
  }
  .room-description__cancel{
    margin: 14px 0 90px 8%;
  }
}
@media (max-width: 800px) {
  .room-detail__image{
    margin: auto;
  }
  .room-description{
    margin: 71px 0 0 2.6%;
  }
  .room-description__pie-chart-wrapper{
    margin: 0 0 0 2%;
  }
  .room-description__cancel {
    margin: 14px 0 90px 2%;
  }
  .review__description{
    width: 80%;
  }
  .room-description__review{
    width: 100%;
  }
}
@media (max-width: 620px) {
  .room-description__review-number{
    right: 10%;
  }
}
@media (max-width: 450px) {
  .room-detail__image-wrapper{
    flex-wrap: wrap;
  }
  .room-detail__images-aside{
    flex-basis: 100%;
  }
  .room-detail__image-wrapper{
    &> .room-detail__image:first-child{
      flex-basis: 100%;
    }
  }
  .room-detail__room-description {
    & .order-room {
      width: 320px;
      margin: auto;
      padding-left: 15px;

      & .order-room__number {
        font-size: 1.29rem;
      }
      & .order-room__type-room {
        font-size: 0.86rem;
        margin: 0 70px 0 0;
      }

      & .order-room__price {
        font-size: 0.93rem;
      }

      & .input.input_dropdown {
        width: 122px;
      }
      & .guests .input_dropdown{
        width: 266px;
      }

      & .input::placeholder {
        font-size: 0.86rem;
      }

      & .input__label-dropdown::after {
        right: -20px;
      }

      & .input {
        width: 265px;
      }

      & .buttons__full_for-filtering {
        padding: 15px 80px;
      }
    }

    & .order-room__total-description {
      font-size: 0.93rem;
      width: 200px;
    }

    & .order-room__total-price {
      font-size: 0.93rem;
    }

    & .order-room__total-tax {
      right: 40px;
    }

    & .order-room__sum-label {
      font-size: 1.29rem;
    }

    & .order-room__sum {
      font-size: 1.29rem;
    }

    .order-room__sum-wrapper::after {
      width: 110px;
    }
    & .room-description__features-head, .room-description__pie-chart-head,
    .room-description__review-head, .room-description__rules-head,
    .room-description__cancel-head{
      font-size: 1.14rem;
    }
  }
  .room-description__cancel .room-description__cancel-paragraph{
    width: 90%;
  }
  .room-description__pie-chart-wrapper{
    margin: 12px 0 0 2%;
    & .pie-chart__item{
      font-size: 0.93rem;
    }
  }
  .pie-chart__outer {
    top: 30px;
  }
  .room-description__review-number{
    right: 2%;
    font-size: 0.86rem;
    top: 34px;
  }
}
