.main-registration {
  background: url("../../img/image-back-registration.jpg") no-repeat;
  background-size: 100%;
  height: 50.21rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
