.main-registration {
  background: url('../../images/image-back-registration.jpg') no-repeat;
  height: 50.21rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;

  @media (max-width: 750px) {
    justify-content: start;
    margin-left: 5%;
  }
}


