include ../sumGuests/sumGuests
include ../inputs/inputs
include ../datapicker/datepicker

mixin searchRoom
  section.searchRoom
    h2.searchRoom__head Найдём номера под ваши пожелания
    div.searchRoom__check
      div
        span.searchRoom__label прибытие
        span.searchRoom__label выезд
      form
        +datapicker('datepickerIn')
        +datapicker('datepickerOut')
        +sumGuests('guests')
    +buttons('buy', 'Подобрать номер')