@import "../mixins/input";
@import "../mixins/rectangle";

.searchRoom{
  @include rectangle;
  & .button__full{
    margin: 32px 0 0 0;
  }
}
.searchRoom__head{
  font: 24px/29px Quickand-regular, sans-serif;
  font-weight: bold;
  width: 280px;
  margin: 41px 0 0 0;
  letter-spacing: -0.8px;
}
.searchRoom__check{
  font-family: Montserrat-regular, sans-serif;
  & .input__label-dropdown{
    margin: 5px 20px 0 0;
  }
}
@include input('.searchRoom__input-label', '.searchRoom__label')
.ui-datepicker-calendar .searchRoom__min:not(.ui-state-disabled),
.ui-datepicker-calendar .searchRoom__max:not(.ui-state-disabled){
  position: relative;
  & > a{
    color: #FFFFFF;
    font-weight: bold;
  }
  &::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    left: -10px;
    top: -12px;
    z-index: -10;
  }
}
.ui-datepicker-calendar .searchRoom__min:not(.ui-state-disabled)::before{
  position: absolute;
  content: '';
  width: 20px;
  height: 40px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-size: 50px 40px;
  opacity: 0.25;
  left: 10px;
  top: -12px;
  z-index: -10;
}
.ui-datepicker-calendar .searchRoom__max:not(.ui-state-disabled)::before{
  position: absolute;
  content: '';
  width: 20px;
  height: 40px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-size: 50px 40px;
  opacity: 0.25;
  left: -10px;
  top: -12px;
  z-index: -10;
}
.ui-datepicker-calendar .searchRoom__range:not(.ui-state-disabled){
  position: relative;
  margin: 0;
  width: 38px;
  &::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-size: 50px 40px;
    opacity: 0.25;
    left: -10px;
    top: -12px;
    z-index: -10;
  }
}
@media (max-width: 1100px) {
  .searchRoom{
    width: 320px;
    & .input.input__date {
      width: 120px;
    }
    & .input::placeholder{
      font-size: 12px;
    }
    & .input__label-dropdown::after{
      right: -20px;
    }
    & .input{
      width: 265px;
    }
    & .button__full--buy {
      padding: 15px 65px;
    }
  }
  .searchRoom__head{
    font-size: 22px;
  }
  .searchRoom__label{
    width: 120px;
  }
  .ui-datepicker.ui-widget{
    width: 258px;
    & .ui-datepicker-title{
      font-size: 16px;
    }
    & .ui-datepicker-next::before{
      left: 180px;
      top: 22px;
    }
    & .ui-datepicker-calendar {
      font-size: 10px;
    }
    & .ui-datepicker-calendar {
      margin: 39px 0 0 5px;
    }
    & .ui-datepicker-calendar td, .ui-datepicker-calendar td .ui-state-default {
      margin: 0 15px 11.6px 0;
    }
    & .ui-datepicker-calendar .searchRoom__range:not(.ui-state-disabled) {
      position: relative;
      margin: 0;
      width: 35px;
      &::after{
        width: 37px;
        left: -7px;
      }
    }
    & .ui-datepicker-calendar .searchRoom__max:not(.ui-state-disabled)::before {
      left: -7px;
    }
    & .ui-datepicker-buttonpane .ui-datepicker-close {
      margin-right: 40px;
    }
  }
  .guests .guests__popup{
    width: 265px;
  }
}


