@import "../mixins/input";
@import "../mixins/rectangle";

.search-room{
  @include rectangle;
  & .button-full_for-filtering{
    margin: 32px 0 0 0;
    padding: 15px 99px;
  }
  & .input_in, .input_out{
    width: 150px;
  }
  & .input-label-dropdown{
  margin: 6px 0 0 0;
}
}
.search-room__head{
  font: 1.7rem/29px Quickand-regular, sans-serif;
  font-weight: bold;
  width: 280px;
  margin: 41px 0 0 0;
}
@include input('.search-room__input-label', '.search-room__label');
.ui-datepicker-calendar .search-room__min:not(.ui-state-disabled),
.ui-datepicker-calendar .search-room__max:not(.ui-state-disabled){
  position: relative;
  & > a{
    color: #FFFFFF;
    font-weight: bold;
  }
  &::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    left: -10px;
    top: -12px;
    z-index: -10;
  }
}
.ui-datepicker-calendar .search-room__min:not(.ui-state-disabled)::before{
  position: absolute;
  content: '';
  width: 20px;
  height: 40px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-size: 50px 40px;
  opacity: 0.25;
  left: 10px;
  top: -12px;
  z-index: -10;
}
.ui-datepicker-calendar .search-room__max:not(.ui-state-disabled)::before{
  position: absolute;
  content: '';
  width: 20px;
  height: 40px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-size: 50px 40px;
  opacity: 0.25;
  left: -10px;
  top: -12px;
  z-index: -10;
}
.ui-datepicker-calendar .search-room__range:not(.ui-state-disabled){
  position: relative;
  margin: 0;
  width: 38px;
  &::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-size: 50px 40px;
    opacity: 0.25;
    left: -10px;
    top: -12px;
    z-index: -10;
  }
}
.input_out{
  margin: 0 0 0 21px;
}
.guests .input.input_dropdown::placeholder{
  text-transform: none;
}
@media (max-width: 1100px) {
  .search-room{
    width: 320px;
    & .input.input__date {
      width: 120px;
    }
    & .input::placeholder{
      font-size: 0.86rem;
    }
    & .input__label-dropdown::after{
      right: -20px;
    }
    & .button-full_for-filtering {
      padding: 15px 65px;
    }
    & .input_in, .input_out{
      width: 120px;
    }
  }
  .search-room__head{
    font-size: 1.5rem;
  }
  .search-room__label{
    width: 120px;
  }
  .ui-datepicker.ui-widget{
    width: 258px;
    & .ui-datepicker-title{
      font-size: 16px;
    }
    & .ui-datepicker-next::before{
      left: 180px;
      top: 22px;
    }
    & .ui-datepicker-calendar {
      font-size: 0.71rem;
    }
    & .ui-datepicker-calendar {
      margin: 39px 0 0 5px;
    }
    & .ui-datepicker-calendar td, .ui-datepicker-calendar td .ui-state-default {
      margin: 0 15px 11.6px 0;
    }
    & .ui-datepicker-calendar .search-room__range:not(.ui-state-disabled) {
      position: relative;
      margin: 0;
      width: 35px;
      &::after{
        width: 37px;
        left: -7px;
      }
    }
    & .ui-datepicker-calendar .search-room__max:not(.ui-state-disabled)::before {
      left: -7px;
    }
    & .ui-datepicker-buttonpane {
      bottom: 2%;
      margin-right: 40px;
      & .ui-datepicker-close, .ui-datepicker-current{
        font-size: 0.71rem;
      }
    }
  }
  .guests{
    & .guests__popup{
      width: 265px;
    }
    & .input{
      width: 265px;
    }
  }
   
}


