.main-sign-in {
  background: url('../../images/image-back-registration.jpg') no-repeat;
  background-size: 100% 102%;
  height: 49.07rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  .main-sign-in {
    justify-content: start;
    padding-left: 5%;
  }
}
