.main-sign-in {
  background: url('../../img/image-back-registration.jpg') no-repeat;
  background-size: 100% 102%;
  height: 49.07rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
