mixin footer-list(options)

  -const {head, items, modifier}=options;

  div(class=['footer-list'])

    h3.footer-list__head=head

    ul.footer-list__items
      each item in items
        li.footer-list__item
          a.footer-list__link(href='page.html')=item
