@import '../../style/variables/variables';
@import '../../style/mixins/text';

.footer-list {
  &__head {
    @include h3;
    color: $dark100;
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 1.8rem 0 0 0;
  }

  &__item:not(:last-child) {
    margin: 0 0 1.7rem 0;
  }

  &__link {
    text-decoration: none;
    @include body;
  }
}
