@import "../../style/variables/variables";
@import "../../style/mixins/text";

.footer-list{
  width: 11.43rem;
  margin: 6.43rem 2.8% 0 0;
  &_for-registration{
    margin: 7.5rem 2.8% 0 0;
  }

  &__head{
    @include h3;
    color: $dark100;
  }

  &__list{
    list-style: none;
    padding: 0;
    margin: 1.36rem 0 0 0;
  }

  &__link{
    text-decoration: none;
    @include body;
  }

  &__item{
    margin: 0 0 1rem 0;
  }
}


@media (max-width: 1250px) {

  .footer-list {
    margin: 3.57rem 2.8% 0 0;
  }
}

@media (max-width: 620px) {
  .footer-list {
    width: 8.57rem;
    margin: 3.21rem 0 0 0;
  }
}
