mixin footer-list()

  -const {footerListHead, footerListItems, footerListModifier}=attributes

  div(class=['footer-list',
  `${footerListModifier ? `footer-list_${footerListModifier}`:''}`])

    h3.footer-list__head #{footerListHead}

    ul.footer-list__list
      each item in footerListItems
        li.footer-list__item
          a.footer-list__link(href='page.html') #{item}
