-const legendArr = ['Великолепно', 'Хорошо', 'Удовлетворительно', 'Разочарован']

mixin pie-chart(number, head)

  div.pie-chart
    canvas(class='pie-chart__inner js-pie-chart__inner' style={width: '120px', height: '132px'})
    canvas(style={width: '120px', height: '132px'}
      class='pie-chart__outer js-pie-chart__outer')

    ul.pie-chart__list
      each item in legendArr
        li.pie-chart__item #{item}
