-const legendArr = ['Великолепно', 'Хорошо', 'Удовлетворительно', 'Разочарован']

mixin pie-chart()

  div.pie-chart
    canvas(class="pie-chart__inner js-pie-chart__inner" style={width: "8.57rem", height: "9.49rem"})
    canvas(style={width: "8.57rem", height: "9.49rem"}
      class="pie-chart__outer js-pie-chart__outer")

    ul.pie-chart__list
      each item in legendArr
        li.pie-chart__item=item
