@import '../../style/mixins/text';

.pie-chart {
  display: flex;
  position: relative;

  &__outer {
    position: absolute;
    top: 0;
  }
  
  &__list {
    list-style: none;
    margin: 2.43rem 0 0 .36rem;
  }

  &__item {
    @include body;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: .71rem;
      height: .71rem;
      background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
      border-radius: 50%;
      left: -1.07rem;
      top: .36rem;
    }

    &:nth-child(2)::before {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }

    &:nth-child(3)::before {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &:nth-child(4)::before {
      background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
    }
  }
}

@media (max-width: 450px) {
  .pie-chart {
    &__item{
      font-size: 0.93rem;
    }
  }
}
