@import '../../style/variables/variables';
@import '../../style/mixins/text';

.side-panel {
  width: 21.43rem;

  &__slogan, &__sum-guests-label {
    @include h3;
    color: $dark100;
  }
  
  &__slogan {
    margin: 0 .1rem 0 .1rem;

    &_type_range {
      margin: 2.3rem 0.3rem 1.6rem 0;
      display: inline-block;
    }

    &_type_checkbox {
      margin: 2.2rem 0 1rem .1rem;
    }

    &_type_checkbox-rich {
      margin: 1.6rem 0 .9rem .1rem;
    }

    &_type_rooms {
      margin: 1.5rem 0 .4rem .1rem;
    }
  }

  &__datepicker-wrapper {
    margin: .4rem 0 0 .1rem;
    width: 19rem;
  }

  &__datepicker-wrapper, &__sum-guests-wrapper, &__sum-rooms-wrapper {
    width: 19rem;
  }

  &__sum-guests-wrapper {
    margin: 1.6rem 0 0 .1rem;
  }

  &__sum-guests-label {
    margin-bottom: .4rem;
  }

  &__range-reference {
    @include h3;
    color: $dark50;
    text-transform: inherit;
    margin-top: 1.07rem;
  }

  &__checkbox-wrapper{
    margin: 1.2rem 0 1.29rem .8rem;
  }

  &__checkbox-rich-wrapper {
    margin-left: .9rem;
  }
  
  &__sum-rooms-wrapper {
    margin: 0 0 2.3rem .1rem;
  }
}

@media (max-width: 760px) {
  .side-panel {
    width: auto;
  }
}
