include ../ui-slider/ui-slider
include ../checkbox-set/checkbox-set
include ../card-room/card-room
include ../sum-search-items/sum-search-items
include ../datepickers/datepickers

mixin side-panel

  -
    const panelData = require('../blocks/side-panel/side-panel.json');

    const { standard, rich, expandable, rooms, guests } = panelData;

  section.side-panel

    form.side-panel__form

      h2.side-panel__slogan даты пребывания в отеле
      div.side-panel__datepicker-wrapper
        +datepickers({ type: 'range', defaultDate: '19 авг - 23 авг' })

      div.side-panel__sum-guests-wrapper
        h2.side-panel__sum-guests-label гости
        +sum-search-items({ values: guests,type: 'guests', placeholder: 'Сколько гостей', isSizeSmall: true })

      div.side-panel__slider-wrapper
        +ui-slider('диапазон цены')
      div.side-panel__range-reference Стоимость за сутки пребывания в номере

      h2.side-panel__slogan.side-panel__slogan_type_checkbox Checkbox Buttons
      div.side-panel__checkbox-wrapper
        +checkbox-set({ values: standard })

      h2.side-panel__slogan.side-panel__slogan_type_checkbox-rich доступность
      div.side-panel__checkbox-rich-wrapper
        +checkbox-set({ values: rich.values, descriptions: rich.descriptions })

      h2.side-panel__slogan.side-panel__slogan_type_rooms удобства номера
      div.side-panel__sum-rooms-wrapper
        +sum-search-items({ values: rooms, type: 'rooms', placeholder: 'Сколько комнат', isSizeSmall: true })

      div.side-panel__checkbox-expandable-wrapper
        +checkbox-set({ values: expandable, isExpandable: true, head: 'дополнительные удобства' })
