include ../sum-guests/sum-guests
include ../ui-slider/ui-slider
include ../checkbox-set/checkbox-set
include ../card-room/card-room
include ../sum-rooms/sum-rooms
include ../datepickers/datepickers

mixin side-panel

  -
    const panelData = require('../blocks/side-panel/side-panel.json');

    const { standard, rich, expandable } = panelData;

  section.side-panel
    div.side-panel__slogan даты пребывания в отеле

    form.side-panel__form

      div.side-panel__datepicker-wrapper
        +datepickers({ type: 'range', defaultDate: '19 авг - 23 авг' })

      div.side-panel__sum-guests-wrapper
        div.side-panel__sum-guests-label гости
        +sum-guests(true)

      div.side-panel__slider-wrapper
        +ui-slider('диапазон цены')
      div.side-panel__range-reference Стоимость за сутки пребывания в номере

      div.side-panel__slogan.side-panel__slogan_type_checkbox Checkbox Buttons
      div.side-panel__checkbox-wrapper
        +checkbox-set({ values: standard })

      div.side-panel__slogan.side-panel__slogan_type_checkbox-rich доступность
      div.side-panel__checkbox-rich-wrapper
        +checkbox-set({ values: rich.values, descriptions: rich.descriptions })

      div.side-panel__slogan.side-panel__slogan_type_rooms удобства номера
      div.side-panel__sum-rooms-wrapper
        +sum-rooms
      
      +checkbox-set({ values: expandable, isExpandable: true, head: 'дополнительные удобства' })
