include ../sum-guests/sum-guests
include ../datepicker-range/datepicker-range
include ../ui-slider/ui-slider
include ../checkbox/checkbox
include ../card-room/card-room
include ../sum-rooms/sum-rooms

-const checkboxValue = {standart: ['Можно курить', 'Можно с питомцами',
-'Можно пригласить гостей (до 10 человек)'], rich: [{label: 'Широкий коридор',
-description: 'Ширина коридоров в номере не менее 91 см.'},
-{label: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист  и проводит до номера.'}],
-expandable: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка',
-'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь']}

mixin side-panel

  section.side-panel
    div.side-panel__slogan даты пребывания в отеле

    form.side-panel__form

      +datepicker-range({defaultDate: '19 авг - 23 авг'})

      +sum-guests({modifier: 'for-filter', modifierForInput: 'for-filter',
       modifierForLabel: 'for-filter', head: 'гости'})

      div.side-panel__slogan.side-panel__slogan_range диапазон цены
      +ui-slider('for-side-panel')
      div.side-panel__range-reference Стоимость за сутки пребывания в номере

      div.side-panel__slogan.side-panel__slogan_checkbox Checkbox Buttons
      +checkbox({values: checkboxValue.standart, type: 'checkbox',
        modifier: 'for-side-panel'})

      div.side-panel__slogan.side-panel__slogan_checkbox-rich доступность
      +checkbox({values: checkboxValue.rich, type: 'rich',
        modifier: 'for-side-panel'})

      div.side-panel__slogan.side-panel__slogan_rooms удобства номера
      +sum-rooms
      +checkbox({values: checkboxValue.expandable, type: 'checkboxExpandable',
        head: 'дополнительные удобства', modifier: 'for-side-panel'})
