include ../sum-guests/sum-guests
include ../ui-slider/ui-slider
include ../checkbox/checkbox
include ../card-room/card-room
include ../sum-rooms/sum-rooms
include ../ui-datepicker/ui-datepicker

-
  const panelData = require('../blocks/side-panel/side-panel.json');
  const { standard, rich, expandable } = panelData;

mixin side-panel

  section.side-panel
    div.side-panel__slogan даты пребывания в отеле

    form.side-panel__form

      +ui-datepicker({type: 'range', defaultDate: '19 авг - 23 авг'})

      div.side-panel__sum-guests-wrapper
        +sum-guests({modifier: 'for-filter', modifierForInput: 'for-filter',
         modifierForLabel: 'for-filter', head: 'гости'})

      div.side-panel__slogan.side-panel__slogan_type_range диапазон цены
      +ui-slider('for-side-panel')
      div.side-panel__range-reference Стоимость за сутки пребывания в номере

      div.side-panel__slogan.side-panel__slogan_type_checkbox Checkbox Buttons
      +checkbox({values: standard, type: 'checkbox',
        modifier: 'for-side-panel'})

      div.side-panel__slogan.side-panel__slogan_type_checkbox-rich доступность
      +checkbox({values: rich, type: 'rich',
        modifier: 'for-side-panel'})

      div.side-panel__slogan.side-panel__slogan_type_rooms удобства номера
      +sum-rooms
      +checkbox({values: expandable, type: 'checkboxExpandable',
        head: 'дополнительные удобства', modifier: 'for-side-panel'})
