@import "../variables/variables";
@import "../mixins/text";

.side-panel{
  width: 300px;
  margin: 31px 0 0 9.8%;
  &__slogan{
    @include h3;
    color: $dark100;
    margin: 0 0 5px 0;
    &_guests{
      margin-top: 22px;
    }
    &_range{
      margin: 31px 0 24px 0;
      display: inline-block;
    }
    &_checkbox{
      margin: 29px 0 15px 0;
    }
    &_checkbox-rich{
      margin: 30px 0 19px 0;
    }
    &_rooms{
      margin: 28px 0 5px 0;
    }
  }

  &__range-reference{
    @include h3;
    color: $dark50;
    text-transform: inherit;
    margin-top: 15px;
  }
}

@media (max-width: 1100px) {
  .side-panel{
    margin: 31px 0 0 4.8%;
  }
}

@media (max-width: 750px) {
  .side-panel {
    margin: 31px auto 0 auto;
  }
}
