include ../search-room/search-room

mixin main-index()

  main.main-index

    img(class="main-index__background" src=require('../img/image-back-1.jpg'))
    span.main-index__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения

    +searchRoom(true)
