@import '../../style/mixins/text';

.main-index {
  height: max-content;
  position: relative;

  &__background {
    width: 100%;
    min-height: auto;

    @media (max-width: 800px) {
      min-height: 31rem;
    }

    &_theme_gallery {
      animation: move 4s 1;

      @keyframes move {
        0% {
          opacity: 0;
          animation-timing-function: ease-in;
        }
        50% {
          opacity: .5;
          animation-timing-function: ease-in;
        }
        100% {
          opacity: 1;
          animation-timing-function: ease-in;
        }
      }
    }
  }

  &__slogan {
    position: absolute;
    bottom: 1.7rem;
    @include body;
    width: 21.43rem;
    right: 9.3%;
    text-align: end;
    line-height: 1.71rem;

    @media (max-width: 800px) {
      bottom: .5rem;
      font-size: .8rem;
    }
  }

  &__wrapper {
    position: absolute;
    top: 5rem;
    left: 10rem;

    @media (max-width: 1100px) {
      top: 1rem;
      left: 2rem;
    }

    @media (max-width: 380px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
