include ../search-room/search-room

mixin main-index()

  main.main-index

    img.main-index__background(src=require('../images/image-back-1.jpg') alt="фото номера")
    span.main-index__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения

    +searchRoom(true)
