@import "../mixins/text";
@import "../variables/variables";

.room-description{
  margin: 70px 0 0 9.5%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 64px;
  &__container{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 7px;
  }

  &__features-head, &__pie-chart-head, &__review-head, &__rules-head,
  &__cancel-head{
    @include h2;
    margin: 0 0 24px 0;
  }

  &__pie-chart-wrapper{
    margin: 3px 0 0 13.7%;
    position: relative;
    .room-description__pie-chart-head{
      margin: 0 0 15px 0;
    }
  }
  &__review{
    position: relative;
    width: 100%;
  }
  &__review-head{
    margin: 2px 0 0 0;
    display: inline-block;
  }
  &__review-number{
    @include body;
    color: $dark50;
    position: absolute;
    right: 68px;
    top: -3px;
  }
  &__rules{
    margin: 20px 82px 0 2px;
    width: 280px;
  }
  &__rules-head{
    margin: 0 0 22px 21px;
  }
  &__cancel{
    margin: 20px 0 0 0;
  }
  &__cancel-paragraph{
    width: 344px;
    @include body;
    margin: 23px 0 0 0;
  }
  &__cancel-head{
    margin: 0 0 0 0;
  }
}

@media (max-width: 1300px) {
  .room-description__pie-chart-wrapper {
    margin: 0 0 0 5%;
  }
}

@media (max-width: 1056px) {
  .room-description{
    &__container{
      width: 100%;
    }
    &__pie-chart-wrapper{
      margin: 0 0 0 8%;
    }
    &__review{
      width: 82%;
    }
  }
}

@media (max-width: 800px) {
  .room-description{
    margin: 71px 0 0 2.6%;
    &__pie-chart-wrapper{
      margin: 0 0 0 2%;
    }
    &__cancel {
      margin: 14px 0 20px 2%;
    }
    &.room-description__review{
      width: 100%;
    }
  }
}

@media (max-width: 620px) {
  .room-description__review-number{
    right: 10%;
  }
}

@media (max-width: 450px) {
  .room-description{
    &__features-head, &__pie-chart-head, &__review-head, &__rules-head,
    &__cancel-head{
      font-size: 1.14rem;
    }

    &__cancel &__cancel-paragraph{
      width: 90%;
    }
    &__pie-chart-wrapper{
      margin: 12px 0 0 2%;
    }
    &__review-number{
      right: 2%;
      font-size: 0.86rem;
      top: 34px;
    }
  }
}
