@import "../../style/mixins/text";
@import "../../style/variables/variables";

.room-description{
  display: flex;
  flex-wrap: wrap;
  &__container{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-top: .5rem;
  }

  &__features-head, &__pie-chart-head, &__review-head, &__rules-head,
  &__cancel-head{
    @include h2;
    margin: 0 0 1.71rem 0;
  }

  &__pie-chart-wrapper{
    margin: .21rem 0 0 13.7%;
    position: relative;
  }
  &__pie-chart-head{
    margin: 0 0 1.07rem 0;
  }
  &__review{
    position: relative;
    width: 100%;
  }
  &__review-head{
    margin: .14rem 0 1.29rem 0;
    display: inline-block;
  }
  &__review-number{
    @include body;
    color: $dark50;
    position: absolute;
    right: 4.86rem;
    top: -.21rem;
  }
  &__rules{
    margin: 1.43rem 5.86rem 0 .14rem;
    width: 20rem;
  }
  &__rules-head{
    margin: 0 0 1.57rem 1.5rem;
  }
  &__cancel{
    margin: 1.43rem 0 0 0;
  }
  &__cancel-paragraph{
    width: 24.57rem;
    @include body;
    margin: 1.64rem 0 0 0;
  }
  &__cancel-head{
    margin: 0 0 0 0;
  }
}

@media (max-width: 1300px) {
  .room-description__pie-chart-wrapper {
    margin: 0 0 0 5%;
  }
}

@media (max-width: 1056px) {
  .room-description{
    justify-content: space-around;
    &__container{
      width: 100%;
    }
    &__pie-chart-wrapper{
      margin: 0 0 0 8%;
    }
    &__review{
      width: 82%;
    }
  }
}

@media (max-width: 800px) {
  .room-description{
    padding: 5.07rem 0 4.57rem 2.6%;
    &__pie-chart-wrapper{
      margin: 0 0 0 2%;
    }
    &__cancel {
      margin: 1rem 0 1.43rem 2%;
    }
    &.room-description__review{
      width: 100%;
    }
  }
}

@media (max-width: 620px) {
  .room-description__review-number{
    right: 4%;
  }
}

@media (max-width: 450px) {
  .room-description{
    &__features-head, &__pie-chart-head, &__review-head, &__rules-head,
    &__cancel-head{
      font-size: 1.14rem;
    }

    &__cancel-paragraph{
      width: 90%;
    }
    &__pie-chart-wrapper{
      margin: .86rem 0 0 2%;
    }
    &__review-number{
      right: -10%;
      font-size: 0.86rem;
      top: 2.43rem;
    }
  }
}
