include ../card-room/card-room
include ../review/review
include ../pie-chart/pie-chart
include ../bullet-list/bullet-list
include ../features/features
include ../order-room/order-room

-const roomDetailPath = [require('../img/image-room-1.jpg'),
-require('../img/image-room-2.jpg'), require('../img/image-room-3.jpg')];

-const roomFeatures = [{slogan: 'Комфорт', description: 'Шумопоглощающие стены'},
-{slogan: 'Удобство', description: 'Окно в каждой из спален'}, {slogan: 'Уют',
-description: 'Номер оснащён камином'}];

-const totalValue = ['9 990₽ х 4 суток', 'Сбор за услуги: скидка 2 179₽',
-'Сбор за дополнительные услуги'];
-const totalPrice = ['39 960₽', '0₽', '300₽'];

-const reviewData = [{head: 'Мурад Сарафанов', date: '5 дней назад', description:
-'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
-path: require('../blocks/review/icon-avatar-1.png'), typeOfButton: 'like',
-numberOfLikes: 12}, {head: 'Патрисия Стёклышкова', date: 'Неделю назад',
-description: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
-path: require('../blocks/review/icon-avatar-2.png'), typeOfButton: 'like-gray',
-numberOfLikes: 2}];


-const bulletListData = {values: ['Нельзя с питомцами', 'Без вечеринок и мероприятий',
-'Время прибытия — после 13:00, а выезд до 12:00'], modifier: 'for-room-description'};


mixin room-description

  section.room-description
    div.room-description__container
      div.room-description__wrapper
        h2.room-description__features-head Сведения о номере

        +features({values:roomFeatures, modifier: 'for-room-description'})

      div.room-description__pie-chart-wrapper
        h2.room-description__pie-chart-head Впечатления от номера

        +pie-chart

      div.room-description__review
        h2.room-description__review-head Отзывы посетителей номера
        span.room-description__review-number 2 отзыва

        each value in reviewData

          -const {head, date, description, path, typeOfButton, numberOfLikes} = value;

          +review({head, date, description, path, typeOfButton,
          numberOfLikes, modifier: 'for-room-description'})

      div.room-description__rules
        h2.room-description__rules-head Правила

        +bullet-list(bulletListData)

      div.room-description__cancel
        h2.room-description__cancel-head Отмена
        p.room-description__cancel-paragraph Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

    +order-room({totalValue, totalPrice})
