include ../card-room/card-room
include ../review/review
include ../pie-chart/pie-chart
include ../bullet-list/bullet-list
include ../features/features
include ../order-room/order-room

-
  const descriptionData = require('../blocks/room-description/room-description.json');
  
  const { features, totalValue, totalPrice, review, bulletList } = descriptionData;

  const reviewPath = [require('../images/icon-avatar-1.jpg'), require('../images/icon-avatar-2.jpg')];

mixin room-description

  section.room-description
    div.room-description__container
      div.room-description__wrapper
        h2.room-description__features-head Сведения о номере

        +features(features)

      div.room-description__pie-chart-wrapper
        h2.room-description__pie-chart-head Впечатления от номера

        +pie-chart

      div.room-description__reviews
        h2.room-description__review-head Отзывы посетителей номера
        span.room-description__review-number 2 отзыва

        each value, index in review

          -const {head, date, description, typeOfButton, numberOfLikes} = value;

          div.room-description__review-wrapper
            +review({head, date, description, path: reviewPath[index], typeOfButton,
              numberOfLikes, isRoomModifier: true})

      div.room-description__rules
        h2.room-description__rules-head Правила

        +bullet-list(bulletList)

      div.room-description__cancel
        h2.room-description__cancel-head Отмена
        p.room-description__cancel-paragraph Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

    +order-room({totalValue, totalPrice})
