mixin socialButtons

  -const arrSocialLink = ['https://twitter.com', 'https://www.facebook.com/', 'https://www.instagram.com']
  -const arrSocial = ['twitter', 'facebook', 'instagram']

  div.social
    ul.social__list
      each item, index in arrSocial
        li.social__item(class=`social__item--${item}`)
          a.social__link(href=`${arrSocialLink[index]}`)
            span.social__link-text #{item}