@import "../mixins/hide";

.social__list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social__link{
  text-decoration: none;
}
.social__link-text{
  @include hide;
}
.social__link{
  width: 24px;
  height: 24px;
  display: inline-block;
}
.social__item{
  width: 24px;
  height: 24px;
  margin: 0 0 0 20px;
  &.social__item--twitter{
    background: url("./icon-twitter.svg") no-repeat;
  }
  &.social__item--facebook{
    background: url("./icon-facebook.svg") no-repeat;
  }
  &.social__item--instagram{
    background: url("./icon-instagram.svg") no-repeat;
  }
}
