@import '../../style/variables/variables';
@import '../../style/mixins/hide';

.sum-rooms {
  font-weight: bold;

  &__popup {
    width: 19rem;
    border: .07rem solid $dark50;
    box-sizing: border-box;
    box-shadow: 0 .71rem 1.43rem $dark5;
    border-radius: 0 0 .29rem .29rem;
    background: #FFFFFF;
    position: absolute;
    z-index: 100;

    &_hidden {
      @include hide;
    }

    &_unfocused {
      z-index: 1;
    }

    &_focused {
      z-index: 100;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }
  
  &__type-visitors {
    margin: .86rem 0 .71rem 1.07rem;
  }

  &__button {
    border: .07rem solid $dark25;
    box-sizing: border-box;
    border-radius: 1.57rem;
    color: $dark50;
    background: #FFFFFF;
    width: 2.14rem;
    height: 2.14rem;
    margin-bottom: .29rem;
    outline: none;

    &:focus {
      outline: 0.07rem dashed $dark25;
    }
  }

  &__number-of-visitors-wrapper {
    margin: .29rem .43rem 0 0;
  }
  
  &__number-of-visitors {
    color: #1F2041;
    margin: 0 .86rem;
  }
}

