@import "../mixins/text";
@import "../mixins/hide";
@import "../variables/variables";

.toggle{
  &_for-registration{
    margin: 8px 0 0 5px;
    display: inline-block;
  }
}
.toggle__input{
  @include hide;
}
.toggle__label{
  @include body;
  padding: 0 0 0 45px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 40px;
    height: 20px;
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 10px;
    left: -5px;
    top: -2px;
  }
  &::after{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    background: $dark25;
    border-radius: 10px;
    left: 0;
    top: 2px;
  }
}
.toggle__input:checked + .toggle__label{
  &::before{
    border: 1px solid $purple;
  }
  &::after{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    left: 19px;
  }
}
