@import '../../style/mixins/text';
@import '../../style/mixins/hide';
@import '../../style/variables/variables';

.toggle {
  &__field{
    @include hide;
  }

  &__label {
    @include body;
    padding: .07rem 0 0 3.21rem;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 2.86rem;
      height: 1.43rem;
      border: .07rem solid $dark25;
      box-sizing: border-box;
      border-radius: .71rem;
      left: -.36rem;
      top: -.14rem;
    }

    &::after {
      position: absolute;
      content: '';
      width: .86rem;
      height: .86rem;
      background: $dark25;
      border-radius: .71rem;
      left: 0;
      top: .14rem;
    }
  }
}

.toggle__field:checked + .toggle__label {
  &::before {
    border: .07rem solid $purple;
  }

  &::after {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    left: 1.36rem;
  }
}
