include ../room-description/room-description

-
  const roomDetailPath = [
    require('../images/image-room-1.jpg'), require('../images/image-room-2.jpg'), require('../images/image-room-3.jpg')
  ];

mixin main-room()

  main.main-room

    div.main-room__image-wrapper
      img(src=roomDetailPath[0] alt="фото номера").main-room__image
      div.main-room__images-aside
        each image, index in roomDetailPath
          if index > 0
            img(src=image alt="фото номера").main-room__image
    div.main-room__description-wrapper
      +room-description
