mixin rate()

  -const {numberFillStars, modifierForRate}=attributes

  div(class=['rate',
  `${modifierForRate ? `rate_${modifierForRate}`:''}`])
    each value,index in Array(5)

      if index <= numberFillStars - 1
        img.rate__img(src=require('../blocks/rate/icon-star.svg') alt='image star')

      else
        img.rate__img(src=require('../blocks/rate/icon-star-border.svg') alt='image star')

