@import "../common/variables";
@import "../mixins/text";
@import "../common/variables";

.footer-widget{
  display: flex;
  flex-wrap: wrap;
  & .input{
    margin: 19px 0 0 0;
    width: 100%;
  }
  & .copyright{
    width: 100%;
    box-shadow: 0 10px 20px $dark5;
    margin-top: 14px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
      top: -4px;
    }
  }
  & .copyright__head{
    margin: 0 0 0 9.6%;
  }
  & .copyright .social__list {
    margin: 0 140px 0 0;
  }
}
.footer-widget__logo-wrapper{
  width: 18%;
  margin: 100px 2.8% 116px 9.7%;
}
.footer-widget__description{
  @include body;
  margin-top: 18px;
}
.footer-list{
  width: 160px;
  margin: 96px 2.8% 0 0;
}
.footer-list__head, .footer-widget__subscribe-head{
  @include h3;
  color: $dark100;
}
.footer-list__list{
  list-style: none;
  padding: 0;
  margin: 19px 0 0 0;
}
.footer-list__link{
  text-decoration: none;
  @include body;
}
.footer-list__item{
  margin: 0 0 14px 0;
}
.footer-widget__subscribe-wrapper{
  margin: 95px 0 0 0;
  width: 18%;
}
.footer-widget__subscribe-description{
  @include body;
  margin: 20px 0 0 0;
}
@media (max-width: 1200px) {
  .footer-widget__subscribe-wrapper{
    width: 16%;
  }
}
@media (max-width: 1100px) {
  .footer-widget{
    & .input{
      padding: 12px 14px;
      &::placeholder{
        font-size: 0.86rem;
      }
    }
    & .footer-list.footer-widget__footerList, .footer-widget__logo-wrapper,
    .footer-widget__subscribe-wrapper{
      margin: 50px 2.8% 0 0;
    }
  }
  .footer-widget__logo-wrapper{
    margin: 100px 2.8% 50px 2%;
  }
}
@media (max-width: 900px) {
  .footer-widget{
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-widget__subscribe-wrapper{
    width: 180px;
    margin-bottom: 116px;
  }
  .footer-widget__logo-wrapper{
    margin: 100px 2.8% 0 2%;
  }
}
@media (max-width: 620px) {
  .footer-widget__logo {
    width: 80px;
  }
  .footer-list {
    width: 120px;
    margin: 45px 0 0 0;
  }
  .footer-widget__logo-wrapper{
    width: 120px;
    margin: 50px 2.8% 0 2%;
  }
  .footer-widget__subscribe-wrapper{
    margin: 50px 0 50px 0;
  }
  .footer-widget .copyright__head {
    margin: 0 0 0 0;
  }
  .footer-widget .copyright .social__list {
    margin: 0 0 0 0;
  }
}
@media (max-width: 550px){

  .footer-widget {
    & .copyright{
      flex-direction: column;
    }
    & .copyright__head {
      margin: 0;
    }
  }
}
