include ../form-element/form-element
include ../radio/radio
include ../toggle/toggle
include ../ui-control/ui-control
include ../ui-datepicker/ui-datepicker

-
  const arrRadioReg = ['Мужчина', 'Женщина'];
  const arrRadioRegId = ['man', 'woman'];

mixin registration()

  section(class=["registration"])
    h2.registration__head Регистрация аккаунта

    form.registration__form
      div.registration__name-wrapper

        +form-element({type: 'text', placeholder: 'Имя',
          modifierForInput: 'for-registration'})

        +form-element({type: 'text', placeholder: 'Фамилия',
          modifierForInput: 'for-registration'})

      div.registration__radio-wrapper
        +radio({values:arrRadioReg, id: arrRadioRegId, modifier: 'for-registration'})

      div.registration__date-head дата рождения

      +ui-datepicker({type: 'single', placeholder: 'дд.мм.гггг',
       modifierForLabel: 'for-registration', modifierForInput: 'for-registration'
      })

      div.registration__data-head данные для входа в сервис

      +form-element({type: 'text', placeholder: 'Email', modifierForInput: 'for-registration'})

      +form-element({type: 'password', placeholder: 'Пароль',
        modifierForInput: 'for-registration'})

      span.registration__toggle-wrapper
        +toggle({label: 'Получать спецпредложения', id: 'registration-toggle',
          modifier:'for-registration'})

      div.registration__button-wrapper
        +ui-control({content: 'перейти к оплате', buttonModifier: 'width-arrow'})

    div.registration__footer
      span.registration__footer-label Уже есть аккаунт на Toxin
      div.registration__link-wrapper
        +ui-control({isBorder: true, content: 'войти', link: 'registration-login', linkModifier: 'for-registration'})



