@import "../mixins/text";
@import "../mixins/rectangle";
@import "../common/variables";

.registration{
  @include rectangle;
  padding-left: 28px;
  height: 646px;
  position: relative;
  z-index: 1;
    & .input{
      width: 320px;
      margin: 4px 0 0 0;
    }
    &::after{
      content: none;
    }
  & .toggle{
    margin: 8px 0 0 5px;
    display: inline-block;
  }
  & .toggle__label{
    text-transform: none;
  }
  & .button-full_for-filtering{
    margin: 23px 0 0 0;
    padding: 15px 100px;
    &::after{
      right: -12px;
    }
  }
  & .button__wrapper{
    margin: 0 0 0 33px;
  }
  & .button-with-bordering-link{
    margin: 3px 0 0 40px;
    width: 92px;
    padding: 11px 0;
    &::before{
      width: 99px;
      height: 44px;
    }
  }
}
.registration__head{
  @include h1;
  margin: 50px 0 0 0;
}
.registration__name-wrapper{
  margin: 26px 0 0 0;
  & .input:first-child{
    margin: 0 0 8px 0;
  }
}
.registration__radio-wrapper{
  position: relative;
  display: block;
  margin: 10px 0 0 10px;
  & .radio__label{
    &::before{
      top: -3px;
    }
  }
  & .radio__input:checked + .radio__label::after{
    top: 1px;
  }
}
.registration__date-head, .registration__data-head{
  @include h3;
  color: $dark100;
  text-transform: uppercase;
  margin: 22px 0 0 0;
  display: block;
}
.registration__footer{
  margin: 30px 0 0 0;
}
.registration__footer-label{
  @include body;
}
.registration__data-head{
  & .input:first-child{
    margin: 5px 0 8px 0;
  }
}
@media (max-width: 400px) {
  .registration{
    padding-left: 20px;
    width: 300px;
    & .registration__head{
      font-size: 18px;
    }
    .input{
      width: 264px;
      &::placeholder{
        font-size: 12px;
      }
    }
    & .input.input__date,
    .input.input__text {
      width: 264px;
    }
    & .button-full{
      padding: 15px 62px;
    }
    & .button__border-link{
      margin: 0 0 0 10px;
    }
    & .button__wrapper{
      margin: 0 0 0 15px;
    }
    & .registration__footer-label{
      font-size: 12px;
    }
    & .button-with-bordering-link {
      margin: 3px 0 0 10px
    }
  }
}