@import '../../style/mixins/text';
@import '../../style/mixins/rectangle';
@import '../../style/variables/variables';

.registration {
  @include rectangle;
  padding-left: 2rem;
  height: 46.14rem;
  position: relative;
  z-index: 1;

  &__head {
    @include h1;
    margin: 3.57rem 0 0 0;
  }

  &__name-wrapper {
    margin: 1.95rem 0 0 0;
  }

  &__name-wrapper, &__date-wrapper, &__data-head, &__email-wrapper, &__password-wrapper {
    width: 22.86rem;
  }
  
  &__surname-wrapper{
    margin: .7rem 0 .6rem 0;
  }

  &__radio-wrapper {
    position: relative;
    margin: .7rem 0 0 .71rem;
  }
  
  &__date-head, &__data-head {
    @include h3;
    color: $dark100;
    text-transform: uppercase;
  }

  &__date-head {
    margin: 1.57rem 0 .4rem 0;
  }

  &__date-wrapper {
    margin: 0 0 .71rem 0;
  }

  &__data-head {
    margin: 1.5rem 0 0.4rem 0;
  }

  &__password-wrapper{
    margin: .7rem 0 .8rem 0;
  }

  &__toggle-wrapper {
    padding: 0 0 .2rem .36rem;
    display: inline-block;
  }

  &__button-wrapper {
    margin-top: 1.8rem;
    width: 22.86rem;
    height: 3.14rem;
  }
  
  &__footer {
    margin: 2.2rem 0 0 0;
  }

  &__footer-label {
    @include body;
  }

  &__link-wrapper {
    display: inline-block;
    margin: .1rem 0 0 2.86rem;
    width: 6.79rem;
  } 
}

@media (max-width: 450px) {
  .registration {
    padding-left: 1.43rem;
    width: 21.43rem;

    &__head {
      font-size: 1.29rem;
    }

    &__name-wrapper, &__date-wrapper, &__data-head, &__email-wrapper, &__password-wrapper,
    &__button-wrapper {
      width: 18.57rem;
    }

    &__footer-label {
      font-size: .86rem;
    }

    &__link-wrapper {
      margin: .21rem 0 0 1.86rem;
      width: 5.79rem;
    }
  }
}
