include ../form-element/form-element
include ../radio-group/radio-group
include ../toggle/toggle
include ../ui-control/ui-control
include ../datepickers/datepickers

-
  const radioValues = ['Мужчина', 'Женщина'];

mixin registration()

  section.registration
    h2.registration__head Регистрация аккаунта

    form.registration__form
      div.registration__name-wrapper
        +form-element({ type: 'default', placeholder: 'Имя' })

        div.registration__surname-wrapper
          +form-element({ type: 'default', placeholder: 'Фамилия' })

      div.registration__radio-wrapper
        +radio-group(radioValues)

      div.registration__date-head дата рождения

      div.registration__date-wrapper
        +datepickers({ type: 'single', placeholder: 'дд.мм.гггг' })

      div.registration__data-head данные для входа в сервис

      div.registration__email-wrapper
        +form-element({ type: 'default', placeholder: 'Email', typeOfInput: 'email' })

      div.registration__password-wrapper
        +form-element({ type: 'password', placeholder: 'Пароль', typeOfInput: 'password' })

      span.registration__toggle-wrapper
        +toggle('Получать спецпредложения')

      div.registration__button-wrapper
        +ui-control({ content: 'перейти к оплате', type: 'filled', isArrow: true })

    div.registration__footer
      span.registration__footer-label Уже есть аккаунт на Toxin
      div.registration__link-wrapper
        +ui-control({ content: 'войти', link: 'sign-in.html', type: 'border' })



