@import "../../style/mixins/text";
@import "../../style/mixins/rectangle";
@import "../../style/variables/variables";

.registration{
  @include rectangle;
  padding-left: 28px;
  height: 646px;
  position: relative;
  z-index: 1;
  &__date-head, &__data-head{
    @include h3;
    color: $dark100;
    text-transform: uppercase;
    display: block;
  }
  &__date-head{
    margin: 22px 0 5px 0;
  }
  &__data-head{
    margin: 10px 0 5px 0;
  }
  &_for-main-ui{
    margin-top: 10px;
  }
  &__head{
    @include h1;
    margin: 50px 0 0 0;
  }
  &__name-wrapper{
    margin: 26px 0 0 0;
    & .input:first-child{
      margin: 0 0 8px 0;
    }
  }
  &__radio-wrapper{
    position: relative;
    display: block;
    margin: 0 0 0 10px;
  }
  & .radio__mark{
    padding: 0 0 0 21px;
  }
  &__footer{
    margin: 30px 0 0 0;
  }
  &__footer-label{
    @include body;
  }
}

@media (max-width: 400px) {
  .registration{
    padding-left: 20px;
    width: 300px;
    & #{&}__head{
      font-size: 18px;
    }
    & #{&}__footer-label{
      font-size: 12px;
    }
  }
}
