include ./blocks/navBar/navBar
include ./blocks/sumGuests/sumGuests

-const arrIndexNavigation = {items: ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'],
-classes: ['nav-standart__link', 'nav-standart__link nav-standart__link--expand',
-'nav-standart__link', 'nav-standart__link', 'nav-standart__link nav-standart__link--expand']}

doctype html
html(lang="en")
  head
    title hotel
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    header.index-header
      +navBar('standart', arrIndexNavigation.items, arrIndexNavigation.classes, 'войти', 'зарегистрироваться')
    main.main

