include blocks/searchRoom/searchRoom
include blocks/buttons/buttons
include blocks/inputs/inputs
include blocks/checkbox/checkbox
include blocks/radio/radio

-const arrCheckbox = ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']
-const arrRadio = ['Terran', 'Protoss']

doctype html
html(lang="en")
    head
      title UI
      meta(name="viewport" content="width=device-width,initial-scale=1")
    body
      +searchRoom
      div.div__container
        +buttons('full', 'click me')
        +buttons('border', 'click me')
        +buttons('transparent', 'click me')
        +buttons('buy', 'перейти к оплате')
      div.div__container
        +input('text', 'email', 'input__email')
        +input('dropdown', 'Сколько гостей', 'input-dropdown')
        +input('masked', 'дд.мм.гггг')
        +input('date', 'дд.мм.гггг')
        +input('filter', '19 авг - 23 авг')
        +input('subscription', 'email')
      div.div__container
        +checkbox(arrCheckbox)
      div.div__container
        +radio(arrRadio)
