include blocks/searchRoom/searchRoom
include blocks/buttons/buttons

doctype html
html(lang="en")
    head
      title UI
      meta(name="viewport" content="width=device-width,initial-scale=1")
    body
      +searchRoom
      +buttons('full', 'click me')
      +buttons('border', 'click me')
      +buttons('transparent', 'click me')
      +buttons('buy', 'перейти к оплате')