include ./blocks/navBar/navBar
include ./blocks/searchRoom/searchRoom
include ./blocks/footerWidget/footerWidget
include ./blocks/footer/footer

-const arrIndexNavigation = {items: ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'],
-classes: ['nav-standart__link', 'nav-standart__link nav-standart__link--expand',
-'nav-standart__link', 'nav-standart__link', 'nav-standart__link nav-standart__link--expand']}
-const footerdata = {description: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
-headNavigation: 'навигация', navigationItems: ['О нас', 'Новости', 'Служба поддержки',
-'Услуги'], headAbout: 'о нас', aboutItems: ['О сервисе', 'Наша команда', 'Вакансии',
- 'Инвесторы'], headSupport: 'Служба поддержки', supportItems: ['Соглашения',
- 'Сообщества', 'Связь с нами'], headSubscribe: 'Подписка', subscribeDescription:
-'Получайте специальные предложения и новости сервиса', placeholderEmail: 'Email',
-copyrightText: 'Copyright © 2018 Toxin отель. Все права зачищены.'}

doctype html
html(lang="en")
  head
    title hotel
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    header.index-header
      +navBar('standart', arrIndexNavigation.items, arrIndexNavigation.classes, 'войти', 'зарегистрироваться')
    main.main
      div.main__background
      span.main__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения
      +searchRoom
  +footerWidget(footerdata.description, footerdata.headNavigation, footerdata.navigationItems,
  footerdata.headAbout, footerdata.aboutItems, footerdata.headSupport,
      footerdata.supportItems, footerdata.headSubscribe, footerdata.subscribeDescription,
  footerdata.placeholderEmail, footerdata.copyrightText)