include blocks/searchRoom/searchRoom
include blocks/buttons/buttons
include blocks/inputs/inputs
include blocks/checkbox/checkbox
include blocks/radio/radio
include blocks/toggle/toggle
include blocks/range/range
include blocks/pagination/pagination
include blocks/rate/rate
include blocks/sumGuests/sumGuests
include blocks/bulletList/bulletList
include blocks/review/review
include blocks/features/features
include blocks/registration/registration
include blocks/orderRoom/orderRoom
include blocks/cardRoom/cardRoom

-const arrCheckbox = ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']
-const arrCheckboxExpandable = ['Завтрак', 'Письменный стол', 'Стул для кормления',
-'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь']
-const arrCheckboxRich = [{label:'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.'},
-{label: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист и проводит до номера.'}]
-const arrRadio = ['Terran', 'Protoss']
-const arrRadioId = ['terran', 'protoss']
-const arrBulletList = ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']
-const arrFeatures = [{slogan: 'Комфорт', description: 'Шумопоглощающие стены'},
-{slogan: 'Удобство', description: 'Окно в каждой из спален'}]
-const arrTotalDesc = ['9 990₽ х 4 суток', 'Сбор за услуги: скидка 2 179₽',
-'Сбор за дополнительные услуги']
-const arrTotalPrice = ['39 960₽', '0₽', '300₽']
-const arrPathImage = ['img/image-room-888.png', 'img/image-room-982.png',
-'img/image-room-350.png', 'img/image-room-444.png']

doctype html
html(lang="en")
    head
      title UI
      meta(name="viewport" content="width=device-width,initial-scale=1")
    body
      +searchRoom
      div.div__container
        +buttons('full', 'click me')
        +buttons('border', 'click me')
        +buttons('transparent', 'click me')
        +buttons('buy', 'перейти к оплате')
        +buttons('like', 12)
        +buttons('like-gray', 2)
      div.div__container
        +input('text', 'email', 'input__email')
        +input('dropdown', 'Сколько гостей', 'input-dropdown')
        +input('masked', 'дд.мм.гггг')
        +input('date', 'дд.мм.гггг')
        +input('filter', '19 авг - 23 авг')
        +input('subscription', 'email')
      div.div__container
        +checkbox(arrCheckbox, 'checkbox')
      div.div__container
        +checkbox(arrCheckboxExpandable, 'checkboxExpandable', 'expandable checkbox list')
      div.div__container
        +checkbox(arrCheckboxRich, 'rich')
      div.div__container
        +radio(arrRadio, arrRadioId)
      div.div__container
        +toggle('Получать спецпредложение', 'toggle')
      div.div__container
        +range
      div.div__container
        +pagination(Array(15))
      div.div__container
        +rate(4)
      div.div__container
        +sumGuests('rooms')
      div.div__container
        +bulletList(arrBulletList)
      div.div__container
        +review
      div.div__container
        +features(arrFeatures)
      div.div__container
        +registration
      div.div__container
        +orderRoom(arrTotalDesc, arrTotalPrice)
      div.div__container
        +cardRoom(arrPathImage, 'formId1', 'room-radio-name-1', 'romId1', 'luxe', 888,
        '9 900')




