include ./blocks/navBar/navBar
include ./blocks/footerWidget/footerWidget
include ./blocks/footer/footer
include ./blocks/features/features
include ./blocks/pieChart/pieChart
include ./blocks/orderRoom/orderRoom
include ./blocks/review/review
include ./blocks/bulletList/bulletList


-const arrIndexNavigation = {items: ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'],
-classes: ['nav-standart__link', 'nav-standart__link nav-standart__link--expand',
-'nav-standart__link', 'nav-standart__link', 'nav-standart__link nav-standart__link--expand']}

-const footerdata = {description: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
-headNavigation: 'навигация', navigationItems: ['О нас', 'Новости', 'Служба поддержки',
-'Услуги'], headAbout: 'о нас', aboutItems: ['О сервисе', 'Наша команда', 'Вакансии',
- 'Инвесторы'], headSupport: 'Служба поддержки', supportItems: ['Соглашения',
- 'Сообщества', 'Связь с нами'], headSubscribe: 'Подписка', subscribeDescription:
-'Получайте специальные предложения и новости сервиса', placeholderEmail: 'Email',
-copyrightText: 'Copyright © 2018 Toxin отель. Все права зачищены.'}

-const roomDetailPath = ['img/image-room-1.png', 'img/image-room-2.png',
-'img/image-room-3.png']

-const roomFeatures = [{slogan: 'Комфорт', description: 'Шумопоглощающие стены'},
-{slogan: 'Удобство', description: 'Окно в каждой из спален'}, {slogan: 'Уют',
-description: 'Номер оснащён камином'}]

-const arrTotalDesc = ['9 990₽ х 4 суток', 'Сбор за услуги: скидка 2 179₽',
-'Сбор за дополнительные услуги']
-const arrTotalPrice = ['39 960₽', '0₽', '300₽']

-const reviewData = [{name: 'Мурад Сарафанов', date: '5 дней назад', text:
-'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
-pathIcon: 'blocks/review/icon-avatar-1.png', typeButton: 'like', numberLikes: 12},
-{name: 'Патрисия Стёклышкова', date: 'Неделю назад',
-text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
-pathIcon: 'blocks/review/icon-avatar-2.png', typeButton: 'like-gray',
-numberLikes: 2}]


-const bulletListData = ['Нельзя с питомцами', 'Без вечеринок и мероприятий',
-'Время прибытия — после 13:00, а выезд до 12:00']

doctype html
html(lang="en")
  head
    title hotel
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body.filter
    header.filter.filter__index-header.index-header
      +navBar('standart', arrIndexNavigation.items, arrIndexNavigation.classes, 'войти', 'зарегистрироваться')
    main.room-detail
      div.room-detail__image-wrapper
        img(src=roomDetailPath[0]).room-detail__image
        div.room-detail__images-aside
          each image, index in roomDetailPath
            if index > 0
              img(src=image).room-detail__image
      section.room-detail__room-description.room-description
        div.room-description__container
          div.room-description__wrapper
            h2.room-description__features-head Сведения о номере
            +features(roomFeatures)
          div.room-description__pie-chart-wrapper
            h2.room-description__pie-chart-head Впечатления от номера
            +pieChart
          div.room-description__review
            h2.room-description__review-head Отзывы посетителей номера
            span.room-description__review-number 2 отзыва
            each value in reviewData
              +review(value.name, value.date, value.text, value.pathIcon,
                  value.typeButton, value.numberLikes)
          div.room-description__rules
            h2.room-description__rules-head Правила
            +bulletList(bulletListData)
          div.room-description__cancel
            h2.room-description__cancel-head Отмена
            p.room-description__cancel-paragraph Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        +orderRoom(arrTotalDesc, arrTotalPrice)
    +footerWidget(footerdata.description, footerdata.headNavigation, footerdata.navigationItems,
        footerdata.headAbout, footerdata.aboutItems, footerdata.headSupport,
        footerdata.supportItems, footerdata.headSubscribe, footerdata.subscribeDescription,
        footerdata.placeholderEmail, footerdata.copyrightText)