include ../form-element/form-element

mixin ui-datepicker(options)

  -const { type, placeholder, modifierForLabel, modifierForInput,
  -defaultDate }=options;

  -if (type === 'single') {
    +form-element({ type: 'date', placeholder: placeholder,
      modifierForLabel, modifierForInput, jsModifierForInput: 'date'})
  -} else if (type === 'range') {
    +form-element({
      type: 'dropdown', placeholder: defaultDate,
      modifierForInput: 'for-datepicker-range', jsModifierForInput: 'for-datepicker-range',
      modifierForLabel })

    +form-element({
      type: 'dropdown', placeholder: defaultDate,
      modifierForInput: 'for-hide-datepicker', jsModifierForInput: 'for-hide-datepicker',
      modifierForLabel: 'for-hide-datepicker' })
  -}
