@import "../../style/mixins/text";
@import "../../style/variables/variables";

.ui-datepicker{
  width: 22.71rem;
  margin: .36rem auto 0 auto;
  border: .07rem solid rgba(31, 32, 65, 0.25);
  border-radius: .29rem;
  background: #FFFFFF;

  &_range{
    width: 18.86rem;
    padding-bottom: 1.79rem;
    & .ui-datepicker{
      &-title{
        font-size: 1.14rem;
      }
      &-next::before{
        left: 12.86rem;
        top: 1.57rem;
      }
      &-calendar {
        font-size: 0.71rem;
        margin: 2.79rem 0 0 .36rem;

        & td .ui-state-default{
          margin: 0 1.14rem 1.79rem 0;
        }

        & .ui-datepicker-today .ui-state-default::after{
          width: 2.21rem;
          height: 2.21rem;
          left: -.36rem;
          top: -.64rem;
        }
      }
      &-buttonpane {
        bottom: 2%;
        & .ui-datepicker-close{
          margin-right: 2.86rem;
        }
      }
    }
  }

  &-title{
    text-transform: capitalize;
    font-weight: bold;
    font-family: Quickand-regular, sans-serif;
    font-size: 1.36rem;
    text-align: center;
    margin: .71rem .57rem 0 0;
    letter-spacing: -.07rem;
  }

  &-prev{
    position: relative;
    cursor: pointer;
    &::before{
      position: absolute;
      content: '';
      width: 1.71rem;
      height: 1.71rem;
      background: url("./icon-arrow.svg") no-repeat;
      transform: rotate(180deg);
      left: 1.07rem;
      top: 1.21rem;
    }
  }

  &-next{
    position: relative;
    cursor: pointer;
    &::before{
      position: absolute;
      content: '';
      width: 1.71rem;
      height: 1.71rem;
      background: url("./icon-arrow.svg") no-repeat;
      left: 17.71rem;
      top: 1.57rem;

    }
  }

  &-calendar{
    margin: 3.29rem 0 2.64rem 2rem;
    font-size: 0.86rem;
    & thead{
      color: #BC9CFF;
      width: 100%;
    }
    & tr{
      display: flex;
    }
    & th{
      margin: 0 1.57rem 1.43rem 0;
      display: inline-block;
    }
    & td .ui-state-default{
      color: rgba(31, 32, 65, 0.5);
      text-decoration: none;
      width: 1.43rem;
      margin: 0 1.29rem 1.79rem 0;
      display: inline-block;
      text-align: center;
    }
  }

  &-calendar &-today .ui-state-default{
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 2.86rem;
      height: 2.86rem;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border-radius: 1.57rem;
      left: -.71rem;
      top: -.86rem;
      z-index: -10;
    }
  }

  &-calendar &-other-month .ui-state-default{
    color: rgba(31, 32, 65, 0.25);
  }

  &-buttonpane{
    display: flex;
    justify-content: space-between;
    margin: .57rem 0 0 1.07rem;
    position: absolute;
    bottom: 5%;
    width: 100%;
    & .ui-datepicker-current{
      color: $purple;
      order: 10;
    }
    & .ui-datepicker-current{
      margin-right: 2.14rem;
    }
  }

  &-close, &-current{
    order: -10;
    background: none;
    border: none;
    color: $dark50;
    @include h3;
  }

  &-calendar &-calendar__min:not(.ui-state-disabled),
  &-calendar &-calendar__max:not(.ui-state-disabled){
    position: relative;
    & > a{
      color: #FFFFFF;
      font-weight: bold;
    }
    &::after{
      position: absolute;
      content: '';
      width: 2.86rem;
      height: 2.86rem;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 1.57rem;
      left: -.57rem;
      top: -1rem;
      z-index: -10;
    }
  }

  &-calendar &-calendar__min:not(.ui-state-disabled)::before{
    position: absolute;
    content: '';
    width: 1.43rem;
    height: 2.93rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-size: 3.57rem 2.86rem;
    opacity: 0.25;
    left: .71rem;
    top: -1rem;
    z-index: -10;
  }

  &-calendar &-calendar__max:not(.ui-state-disabled)::before{
    position: absolute;
    content: '';
    width: 1.43rem;
    height: 2.93rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-size: 3.57rem 2.86rem;
    opacity: 0.25;
    left: -.71rem;
    top: -1;
    z-index: -10;
  }

  &-calendar &-calendar__range:not(.ui-state-disabled){
    position: relative;
    margin: 0;
    width: 2.71rem;
    &::after{
      position: absolute;
      content: '';
      width: 2.86rem;
      height: 2.93rem;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      opacity: 0.25;
      left: -.71rem;
      top: -1rem;
      z-index: -10;
    }
  }
}

.ui-icon.ui-icon-circle-triangle-e,.ui-icon.ui-icon-circle-triangle-w{
  opacity: 0;
}

@media (max-width: 1100px) {
  .ui-datepicker:not(.ui-datepicker_for-single-datepicker){
    width: 18.43rem;
    padding-bottom: 1.79rem;
    & .ui-datepicker{
      &-calendar .ui-datepicker-today .ui-state-default::after{
        width: 2.21rem;
        height: 2.21rem;
        left: -.36rem;
        top: -.64rem;

      }

      &-title{
        font-size: 1.14rem;
      }
      &-next::before{
        left: 12.86rem;
        top: 1.57rem;
      }
      &-calendar {
        font-size: 0.71rem;
        margin: 2.79rem 0 0 .36rem;
      }
      &-calendar td .ui-state-default {
        margin: 0 1.07rem 1.14rem 0;
      }
      &-calendar .ui-datepicker-calendar__range:not(.ui-state-disabled) {
        position: relative;
        margin: 0;
        width: 2.5rem;
        &::after{
          width: 2.64rem;
          left: -.57rem;
          height: 2.29rem;
          top: -.71rem;
        }
      }
      &-calendar__min:not(.ui-state-disabled),
      &-calendar__max:not(.ui-state-disabled){
        &::before{
          left: .64rem;
          height: 2.29rem;
          top: -.71rem;
        }
        &::after{
          width: 2.21rem;
          height: 2.21rem;
          left: -.36rem;
          top: -.64rem;
        }
      }
      &-calendar__max:not(.ui-state-disabled){
        &::before{
          left: -.57rem;
        }
      }

      &-buttonpane {
        bottom: 2%;
        margin-right: 2.86rem;
        & .ui-datepicker-close, .ui-datepicker-current{
          font-size: 0.71rem;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .ui-datepicker_for-single-datepicker{
    width: 18.43rem;
    padding-bottom: 1.79rem;
    & .ui-datepicker{
      &-calendar .ui-datepicker-today .ui-state-default::after{
        width: 2.21rem;
        height: 2.21rem;
        left: -.36rem;
        top: -.64rem;
      }

      &-title{
        font-size: 1.14rem;
      }
      &-next::before{
        left: 12.86rem;
        top: 1.57rem;
      }
      &-calendar {
        font-size: 0.71rem;
        margin: 2.79rem 0 0 .36rem;
      }
      &-calendar td .ui-state-default {
        margin: 0 1.07rem 1.14rem 0;
      }
      &-calendar .ui-datepicker-calendar__range:not(.ui-state-disabled) {
        position: relative;
        margin: 0;
        width: 2.5rem;
        &::after{
          width: 2.64rem;
          left: -.57rem;
          height: 2.29rem;
          top: -.71rem;
        }
      }
      &-calendar__min:not(.ui-state-disabled),
      &-calendar__max:not(.ui-state-disabled){
        &::before{
          left: .64rem;
          height: 2.29rem;
          top: -.71rem;
        }
        &::after{
          width: 2.21rem;
          height: 2.21rem;
          left: -.36rem;
          top: -.64rem;
        }
      }
      &-calendar__max:not(.ui-state-disabled){
        &::before{
          left: -.57rem;
        }
      }

      &-buttonpane {
        bottom: 2%;
        margin-right: 2.86rem;
        & .ui-datepicker-close, .ui-datepicker-current{
          font-size: 0.71rem;
        }
      }
    }
  }
}
