include ../ui-input/ui-input
include ../buttons/buttons

mixin signIn
  section.sign-in
    h1.sign-in__head Войти
    +ui-input('text', 'Email', 'signIn-input')
    +ui-input('password', ' Пароль', 'signIn-password')
    +buttons('buy', 'Войти', undefined, 'buttons_for-sign-in')
    span.sign-in__label Нет аккаунта на Toxin?
      +buttons('bordering-link', 'Создать', 'registration.html', 'buttons_for-sign-in')
