mixin features(options)

  -const {values, modifier}=options

  div(class=['features',
   `${modifier ? `features_${modifier}`: ''}`])
    each value in values
      div.features__wrapper
        b.features__slogan #{value.slogan}
        span.features__description #{value.description}
