@import "../../style/mixins/text";

.features{
  @include body;
  &__wrapper{
    margin-bottom: 2.9rem;
  }
  &__slogan{
    font-weight: bold;
    display: block;
    padding: 0 0 0 4.43rem;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 3.43rem;
      height: 3.43rem;
      background: url("./icon-emoticon.svg") no-repeat;
      left: .57rem;
      top: .14rem;
    }
    &_convenient::before{
      background: url("./icon-location-city.svg") no-repeat;
    }
    &_cozy::before{
      background: url("./icon-whatshot.svg") no-repeat;
    }
  }

  &__description{
    margin: 0 0 0 4.43rem;
  }
}
