mixin features(options)

  -const {values, modifier}=options;

  div(class=['features',
   `${modifier ? `features_${modifier}`: ''}`])

    each value in values

      -const {slogan, description} = value

      div.features__wrapper
        b.features__slogan #{slogan}
        span.features__description #{description}
