mixin features(arr, modifier)

  div(class=modifier ? `features ${modifier}`: 'features')
    each value in arr
      div.features__wrapper
        b.features__slogan #{value.slogan}
        span.features__description #{value.description}
