mixin features(options)

  -const {values, modifier}=options;
  -const sloganModifiers = ['type_comfortable', 'type_convenient', 'type_cozy'];

  div(class=['features',
   `${modifier ? `features_${modifier}`: ''}`])

    each value, index in values

      -const {slogan, description} = value

      div.features__wrapper
        b(class=['features__slogan', `features__slogan_${sloganModifiers[index]}`])=slogan
        span.features__description=description
