@import "../mixins/text";

.features{
  @include body;
  &_for-room-description{
    & .features__slogan{
      &::before{
        left: 7px;
      }
    }
    & #{&}__wrapper:last-child{
      margin: 0;
    }
  }

  &__slogan{
    font-weight: bold;
    display: block;
    padding: 0 0 0 62px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 48px;
      height: 48px;
      background: url("./icon-emoticon.svg") no-repeat;
      left: 8px;
      top: 2px;
    }
  }

  &__description{
    margin: 0 0 0 62px;
  }

  &__wrapper{
    margin: 0 0 40px 0;
    &:nth-child(2) .features__slogan::before{
      background: url("./icon-location-city.svg") no-repeat;
    }
    &:nth-child(3) .features__slogan::before{
      background: url("./icon-whatshot.svg") no-repeat;
    }
  }
}
