@import "../../style/mixins/text";

.features{
  @include body;
  &_for-room-description{
    & .features__slogan{
      &::before{
        left: .5rem;
      }
    }
    & #{&}__wrapper:last-child{
      margin: 0;
    }
  }

  &__slogan{
    font-weight: bold;
    display: block;
    padding: 0 0 0 4.43rem;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 3.43rem;
      height: 3.43rem;
      background: url("./icon-emoticon.svg") no-repeat;
      left: .57rem;
      top: .14rem;
    }
  }

  &__description{
    margin: 0 0 0 4.43rem;
  }

  &__wrapper{
    margin: 0 0 2.86rem 0;
    &:nth-child(2) .features__slogan::before{
      background: url("./icon-location-city.svg") no-repeat;
    }
    &:nth-child(3) .features__slogan::before{
      background: url("./icon-whatshot.svg") no-repeat;
    }
  }
}
