mixin features()

  -const {featuresValue, featuresModifier}=attributes

  div(class=['features',
   `${featuresModifier ? `features_${featuresModifier}`: ''}`])
    each value in featuresValue
      div.features__wrapper
        b.features__slogan #{value.slogan}
        span.features__description #{value.description}
