mixin bullet-list(options)

  -const {values, modifier} = options

  ul(class=['bullet-list', `${modifier ? `bullet-list_${modifier}`:''}`])
    each value in values
      li.bullet-list__item #{value}
