mixin bullet-list()

  -const {valuesForList, modifierForList} = attributes;

  ul(class=['bullet-list', `${modifierForList ? `bullet-list_${modifierForList}`:''}`])
    each value in valuesForList
      li.bullet-list__item #{value}
