@import "../../style/mixins/text";
@import "../../style/variables/variables";

.bullet-list{
  margin: 0;
  padding: 0;
  list-style: none;
  @include body;
  &_for-room-description{
    margin: 1.64rem 0 0 0.21rem;
    width: 18.57rem;
  }
  &__item{
    padding-left: 1.43rem;
    position: relative;
    margin: 0 0 0.71rem 0;
    &::before{
      position: absolute;
      content: '';
      width: 0.71rem;
      height: 0.71rem;
      background: $dark25;
      border-radius: 50%;
      left: 0;
      top: 0.36rem;
    }
  }
}
