@import "../../style/mixins/hide";

.social-buttons{
  &__list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link{
    text-decoration: none;
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  &__link-text{
    @include hide;
  }


  &__item{
  width: 24px;
  height: 24px;
  margin: 0 0 0 20px;
  &.social-buttons{
    &__item_twitter{
      background: url("./icon-twitter.svg") no-repeat;
    }
    &__item_facebook{
      background: url("./icon-facebook.svg") no-repeat;
    }
    &__item_instagram{
      background: url("./icon-instagram.svg") no-repeat;
      }
    }
  }

  &_for-copyright{
    &.social-buttons{
      margin: 0 140px 0 0;
      &__list{
        margin: 0 164px 0 0;
      }
    }
    &.social-buttons_for-registration{
      margin: 0 114px 0 0;
    }
  }
}


@media (max-width: 800px) {
  .social-buttons{
    &_for-copyright{
      & .social-buttons__list{
        margin: 0 82px 0 0;
      }
    }
  }
}

@media (max-width: 620px) {
  .social-buttons{
    &_for-copyright.social-buttons{
      margin: 0;
    }
    & .social-buttons__list{
      margin: 0 41px 0 0;
    }
  }
}
