mixin social-buttons()

  div.social-buttons

    -
      const socialLinks = ['https://twitter.com', 'https://www.facebook.com', 'https://www.instagram.com'];
      const socialNames = ['twitter', 'facebook', 'instagram'];

    ul.social-buttons__list
      each name, index in socialNames
        li.social-buttons__item(class=`social-buttons__item_${name}`)
          a.social-buttons__link(href=socialLinks[index] target="_blank" rel="noopener noreferrer")
            span.social-buttons__link-text=name
