@import '../../style/mixins/hide';

.social-buttons {
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    width: 1.71rem;
    height: 1.71rem;
    margin: 0 0 0 1.43rem;
  
      &_twitter {
        background: url('./images/icon-twitter.svg') no-repeat;
      }
  
      &_facebook {
        background: url('./images/icon-facebook.svg') no-repeat;
      }
  
      &_instagram {
        background: url('./images/icon-instagram.svg') no-repeat;
      }
    }

  &__link {
    text-decoration: none;
    width: 1.71rem;
    height: 1.71rem;
    display: inline-block;
  }

  &__link-text {
    @include hide;
  }
}
